description = "通用新聞資料"
==
<?php
function onStart() {
    $size = $this['size'] ?:4;
    
    //$this['newsmenu'] = $this['homeMenu']->children()->where("component_id",25)->first();
    if($this['newsmenu'])
        $this['subnewsmenu'] = $this['newsmenu']->children()->where("component_id",25)->where("enabled",1)->take($size)->get();
    else
        $this['subnewsmenu'] = array();
}
?>
==
<h2 class="index_title">
    <span class="title_tw">最新消息<span class="title_en"> / Latest News</span></span>
</h2>
<div class="area_layout  eqh-1">
    {% if newsmenu %}
    <div class="news_tab">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#news{{newsmenu.id}}" data-toggle="tab" aria-expanded="true">{{newsmenu.title}}</a></li>
            {% for menu in subnewsmenu %}
            <li><a href="#news{{menu.id}}" data-toggle="tab" aria-expanded="false">{{menu.title}}</a></li>
            {% endfor %}
        </ul>
        <div id="myTabContent" class="tab-content" style="height: 252px;">
            <div class="tab-pane fade in active" id="news{{newsmenu.id}}">
                {% partial 'news_list' select_menu=newsmenu size=20 %}
            </div>
            {% for menu in subnewsmenu %}
                <div class="tab-pane fade" id="news{{menu.id}}">
                {% partial 'news_list' select_menu=menu size=10 %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
