.header_middle {
    background-image: url(../images/header_bg.jpg);
}

/*topic_slider*/
.topic_slider .owl_img_block {
    margin-bottom: 70px;
}
.topic_slider .owl_img_block {
    position: relative;
}
.topic_slider .owl_img_block > a {
    display: block;
}
.topic_slider .owl_img {
    display: block;
    padding-top: 60%;
    position: relative;
    overflow: hidden;
}
.topic_slider .owl_img img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    -webkit-transition: all .3s ease-in-out !important;
    -o-transition: all .3s ease-in-out !important;
    transition: all .3s ease-in-out !important;
}
.owl_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.topic_slider .owl_text {
    display: block;
    position: absolute;
    bottom: -50px;
    left: 15px;
    right: 15px;
    font-size: 16px;
    color: #107476;
    padding: 10px 20px;
    min-height: 74px;
    background-color: rgba(255,255,255,.95);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.topic_slider .owl_text span {
    display: block;
    margin-bottom: 10px;
}
.topic_slider .owl_img_block:hover .owl_img img {
    -webkit-transform: translate3d(0,-50%,0) scale(1.1);
    transform: translate3d(0,-50%,0) scale(1.1);
}
.owl_img_block:hover .owl_overlay {
    opacity: 1;
}
.topic_slider .owl-theme .owl-nav {
    position: absolute;
    top: -70px;
    right: 0;
    margin: 0;
}
.topic_slider .owl-theme .owl-nav [class*='owl-'] {
    background: #fff;
    color: #b9b9b9;
    font-size: 20px;
    border: 1px solid #b9b9b9;
    width: 28px;
    height: 28px;
    line-height: 24px;
    padding: 0;
    text-align: center;
    margin: 2.5px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.topic_slider .owl-theme .owl-nav [class*='owl-']:hover {
    background: #b9b9b9;
    color: #fff;
    border-color: #b9b9b9;
}