description = "學院新聞"
==
<h2 class="index_title">
    <span class="title_tw">最新消息<span class="title_en"> / Latest News</span></span>
</h2>
<div class="area_layout eqh-1">
    <div class="news_tab">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#news1" data-toggle="tab" aria-expanded="true">近期公告</a></li>
            <li><a href="#news2" data-toggle="tab" aria-expanded="false">系所公告</a></li>
            <li><a href="#news3" data-toggle="tab" aria-expanded="false">招生訊息</a></li>
            <li><a href="#news4" data-toggle="tab" aria-expanded="false">徵才訊息</a></li>
            <li><a href="#news5" data-toggle="tab" aria-expanded="false">獎學金公告</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="news1">
                <div class="news_item dp_table">
                    <div class="news_date">
                        <span class="news_day">30</span>
                        <span class="news_month">十月</span>
                    </div>
                    <div class="news_content">
                        <h5><a href="http://web-ch.scu.edu.tw/law/activity/5364/233">《理律學堂財經法律實務講座》講義下載處</a></h5>
                        <span class="news_category">近期公告</span>
                    </div>
                </div>
                <div class="news_item dp_table">
                    <div class="news_date">
                        <span class="news_day">29</span>
                        <span class="news_month">十月</span>
                    </div>
                    <div class="news_content">
                        <h5><a href="http://web-ch.scu.edu.tw/law/activity/5364/380">[新聞]唇槍舌戰群英競雄 2017理律盃獎落誰家？</a></h5>
                        <span class="news_category">近期公告</span>
                    </div>
                </div>
                <div class="news_item dp_table">
                    <div class="news_date">
                        <span class="news_day">03</span>
                        <span class="news_month">十月</span>
                    </div>
                    <div class="news_content">
                        <h5><a href="http://web-ch.scu.edu.tw/law/activity/5364/359">106學年度法學院學生論文競賽</a></h5>
                        <span class="news_category">近期公告</span>
                    </div>
                </div>
                <a href="/law/activity/5364" title=">更多近期公告" class="news_tab_more">更多近期公告...</a>
            </div>
            <div class="tab-pane fade" id="news2">
                <div class="news_item dp_table">
                    <div class="news_date">
                        <span class="news_day">11</span>
                        <span class="news_month">九月</span>
                    </div>
                    <div class="news_content">
                        <h5><a href="http://web-ch.scu.edu.tw/law/activity/5365/351">【代轉教務處公告】本校共同課程英文（一）、德文(一)辦理抵免標準及程序</a></h5>
                        <span class="news_category">系所公告</span>
                    </div>
                </div>
                <div class="news_item dp_table">
                    <div class="news_date">
                        <span class="news_day">17</span>
                        <span class="news_month">十月</span>
                    </div>
                    <div class="news_content">
                        <h5><a href="http://web-ch.scu.edu.tw/law/activity/5365/366">106學年度第1學期申請赴大陸協議學校法學院交流研習公告</a></h5>
                        <span class="news_category">系所公告</span>
                    </div>
                </div>
                <div class="news_item dp_table">
                    <div class="news_date">
                        <span class="news_day">18</span>
                        <span class="news_month">十月</span>
                    </div>
                    <div class="news_content">
                        <h5><a href="http://web-ch.scu.edu.tw/law/activity/5365/367">106學年度第2學期大一外文統一考試日期調整</a></h5>
                        <span class="news_category">系所公告</span>
                    </div>
                </div>
                <div class="news_item dp_table">
                    <div class="news_date">
                        <span class="news_day">18</span>
                        <span class="news_month">十月</span>
                    </div>
                    <div class="news_content">
                        <h5><a href="http://web-ch.scu.edu.tw/law/activity/5365/376">嚴家淦法學講座馬英九教授1061018專題演講合影</a></h5>
                        <span class="news_category">系所公告</span>
                    </div>
                </div>
                <div class="news_item dp_table">
                    <div class="news_date">
                        <span class="news_day">20</span>
                        <span class="news_month">十月</span>
                    </div>
                    <div class="news_content">
                        <h5><a href="http://web-ch.scu.edu.tw/law/activity/5365/369">106 學年度大三UCAN興趣與職能測驗施作</a></h5>
                        <span class="news_category">系所公告</span>
                    </div>
                </div>
                <a href="/law/activity/5365" title=">更多系所公告" class="news_tab_more">更多系所公告...</a>
            </div>
            <div class="tab-pane fade" id="news3">
                <div class="news_item dp_table">
                    <div class="news_date">
                        <span class="news_day">01</span>
                        <span class="news_month">十一月</span>
                    </div>
                    <div class="news_content">
                        <h5><a href="http://web-ch.scu.edu.tw/law/activity/5366/375">法三Ｃ姚思遠老師《國際公法》補課</a></h5>
                        <span class="news_category">招生訊息</span>
                    </div>
                </div>
                <div class="news_item dp_table">
                    <div class="news_date">
                        <span class="news_day">01</span>
                        <span class="news_month">十一月</span>
                    </div>
                    <div class="news_content">
                        <h5><a href="http://web-ch.scu.edu.tw/law/activity/5366/381">【課務公告】成永裕老師授課科目期中考前通知</a></h5>
                        <span class="news_category">招生訊息</span>
                    </div>
                </div>
                <div class="news_item dp_table">
                    <div class="news_date">
                        <span class="news_day">04</span>
                        <span class="news_month">十一月</span>
                    </div>
                    <div class="news_content">
                        <h5><a href="http://web-ch.scu.edu.tw/law/activity/5366/379">修習法四D民事訴訟法的同學請注意~</a></h5>
                        <span class="news_category">招生訊息</span>
                    </div>
                </div>
                <div class="news_item dp_table">
                    <div class="news_date">
                        <span class="news_day">17</span>
                        <span class="news_month">一月</span>
                    </div>
                    <div class="news_content">
                        <h5><a href="http://web-ch.scu.edu.tw/law/activity/5366/364">林桓老師契約法統一期末考試</a></h5>
                        <span class="news_category">招生訊息</span>
                    </div>
                </div>
                <a href="/law/activity/5366" title="更多招生訊息" class="news_tab_more">更多招生訊息...</a>
            </div>
            <div class="tab-pane fade" id="news4">
                <div class="news_item dp_table">
                    <div class="news_date">
                        <span class="news_day">01</span>
                        <span class="news_month">十一月</span>
                    </div>
                    <div class="news_content">
                        <h5><a href="http://web-ch.scu.edu.tw/law/activity/5366/375">法三Ｃ姚思遠老師《國際公法》補課</a></h5>
                        <span class="news_category">徵才訊息</span>
                    </div>
                </div>
                <div class="news_item dp_table">
                    <div class="news_date">
                        <span class="news_day">01</span>
                        <span class="news_month">十一月</span>
                    </div>
                    <div class="news_content">
                        <h5><a href="http://web-ch.scu.edu.tw/law/activity/5366/381">【課務公告】成永裕老師授課科目期中考前通知</a></h5>
                        <span class="news_category">徵才訊息</span>
                    </div>
                </div>
                <div class="news_item dp_table">
                    <div class="news_date">
                        <span class="news_day">04</span>
                        <span class="news_month">十一月</span>
                    </div>
                    <div class="news_content">
                        <h5><a href="http://web-ch.scu.edu.tw/law/activity/5366/379">修習法四D民事訴訟法的同學請注意~</a></h5>
                        <span class="news_category">徵才訊息</span>
                    </div>
                </div>
                <div class="news_item dp_table">
                    <div class="news_date">
                        <span class="news_day">17</span>
                        <span class="news_month">一月</span>
                    </div>
                    <div class="news_content">
                        <h5><a href="http://web-ch.scu.edu.tw/law/activity/5366/364">林桓老師契約法統一期末考試</a></h5>
                        <span class="news_category">徵才訊息</span>
                    </div>
                </div>
                <a href="/law/activity/5366" title="更多徵才訊息" class="news_tab_more">更多徵才訊息...</a>
            </div>
            <div class="tab-pane fade" id="news5">
                <div class="news_item dp_table">
                    <div class="news_date">
                        <span class="news_day">01</span>
                        <span class="news_month">十一月</span>
                    </div>
                    <div class="news_content">
                        <h5><a href="http://web-ch.scu.edu.tw/law/activity/5366/375">法三Ｃ姚思遠老師《國際公法》補課</a></h5>
                        <span class="news_category">獎學金公告</span>
                    </div>
                </div>
                <div class="news_item dp_table">
                    <div class="news_date">
                        <span class="news_day">01</span>
                        <span class="news_month">十一月</span>
                    </div>
                    <div class="news_content">
                        <h5><a href="http://web-ch.scu.edu.tw/law/activity/5366/381">【課務公告】成永裕老師授課科目期中考前通知</a></h5>
                        <span class="news_category">獎學金公告</span>
                    </div>
                </div>
                <div class="news_item dp_table">
                    <div class="news_date">
                        <span class="news_day">04</span>
                        <span class="news_month">十一月</span>
                    </div>
                    <div class="news_content">
                        <h5><a href="http://web-ch.scu.edu.tw/law/activity/5366/379">修習法四D民事訴訟法的同學請注意~</a></h5>
                        <span class="news_category">獎學金公告</span>
                    </div>
                </div>
                <div class="news_item dp_table">
                    <div class="news_date">
                        <span class="news_day">17</span>
                        <span class="news_month">一月</span>
                    </div>
                    <div class="news_content">
                        <h5><a href="http://web-ch.scu.edu.tw/law/activity/5366/364">林桓老師契約法統一期末考試</a></h5>
                        <span class="news_category">獎學金公告</span>
                    </div>
                </div>
                <a href="/law/activity/5366" title="更多獎學金公告" class="news_tab_more">更多獎學金公告...</a>
            </div>
        </div>
    </div>
</div>