description = "個人資料蒐集、處理及利用告知聲明"
==
<?php
use Morelink\Web\Models\WebSetting;
function onStart(){
    $this['content'] = WebSetting::get("privacy_message");
}
?>
==
<!-- Modal -->
<div class="modal fade" id="privacy_modal" tabindex="-1"  role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        {{content|md}}
      </div>
      <div class="text-center">
        <a class="btn btn-primary" href="#" role="button" id="download_link">本人已閱讀並同意</a>
      </div>
    </div>
  </div>
</div>
