description = "layout"
==
<?php
use Morelink\Builder\Models\Unit;
use Morelink\Web\Models\SiteMenu;
use Morelink\Web\Models\UnitSite;
function onStart() {
    $page_id = $this->param('page_id');
    $domain = $this->param("domain",explode('/',$this->page->url)[1]);

    $unit = Unit::where('domain',$domain)->get()->first();
    if($page_id) {
        $currentMenu = SiteMenu::find($page_id);
        $parents = $currentMenu->getParents();
        $homeMenu = $parents->where('nest_depth',0)->first();
        $site = UnitSite::find($homeMenu->site_id);

    }else{
        $locale = input("lang",'zh-tw');
        $siteList = $unit->sites->where("locale",$locale);
        $site = $siteList->isEmpty() ? $unit->sites->first(): $siteList->first();
        $homeMenu = $site->rootMenu;
        $currentMenu = $homeMenu;
    }
    $user = BackendAuth::getUser();
    if(!$site->status&&empty($user))
        return Redirect::to("/404");
    $site->view();

    $this['unit_sites'] = $unit->sites->reject(function($item)use($site){
        return $item->id == $site->id || !$item->status;
    });
    //$this['unit_sites'] = $unit->sites;

    $this['site'] = $site;
    $this['homeMenu'] = $homeMenu;

    $this['locale'] = $site->locale;
    $this['layout_folder'] = $site->style->layout;
    $this['style'] = $site->style->folder_name;
    $this['current'] = $currentMenu;
}
?>
==
<!doctype html>
<html lang="{{locale}}">
{% partial layout_folder ~ '/head'%}

<body>
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    
    {% partial layout_folder ~ '/header'%}
    
    {% if current.id == homeMenu.id %}
        {% partial layout_folder ~ '/main'%}
    {% else %}
        {% partial layout_folder ~ '/content'%}
    {% endif %}
    
    {% partial layout_folder ~ '/footer'%}
</body>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135479909-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135479909-1');
</script>

</html>