<p><img width="200" height="150" alt="" src="http://www.tf.tku.edu.tw/img.php?img=316_3c51bcf6.jpg&amp;dir=archive" class="fr-fic fr-dii"></p>

<p><span><strong></strong><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Chen,</strong><strong>Lucia</strong></span></p>