<h4><span style="color:#54acd2"><span style="font-size:48px"><strong>西班牙語推薦自學網站:</strong></span></span><br />
&nbsp;</h4>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-size:24px"><a href="http://cvc.cervantes.es/" target="_blank">官方塞萬提斯中心</a></span></p>

<p><span style="font-size:24px">官方權威的賽萬提斯中心提供了全方位的西語學習和資訊</span></p>

<p><span style="font-size:24px"><a href="http://www.uni.edu/becker/Spanish3.html" target="_blank">Best Spanish Websites</a></span></p>

<p><span style="font-size:24px">拉丁美洲的資訊很豐富，涵蓋面很廣的西文入口網站</span></p>

<p><span style="font-size:24px"><a href="http://www.bbc.co.uk/languages/spanish" target="_blank">BBC(西文版)</a></span></p>

<p><span style="font-size:24px">包括練習及報導</span></p>

<p><span style="font-size:24px"><a href="http://www.zonaele.com/" target="_blank">ZONAELE</a></span></p>

<p><span style="font-size:24px">可學習文法、字彙、不規則動詞變化和食譜</span></p>

<p><span style="font-size:24px"><a href="http://www.escuchar-musica-espagnola.com/lista.de.los.cantantes.html" target="_blank">西班牙歌曲網站</a></span></p>

<p><span style="font-size:24px">大型西班牙歌曲網站，線上MV可供觀賞並有歌詞對照</span></p>

<p><span style="font-size:24px"><a href="http://www.mepsyd.es/exterior/uk/es/tecla/tecla.shtml" target="_blank">西班牙官方網站</a></span></p>

<p><span style="font-size:24px">西班牙官方網站，提供依歐盟分級的教學活動</span></p>

<p><span style="font-size:24px"><a href="http://www.spanishdict.com/" target="_blank">Spanish Dict</a></span></p>

<p><span style="font-size:24px">線上多國語言翻譯網站，可翻譯句子及單字</span></p>

<p><span style="font-size:24px"><a href="http://es.thefreedictionary.com/" target="_blank">線上免費字典</a></span></p>

<p><span style="font-size:24px">線上翻譯軟體，有西文字彙可供查詢</span></p>

<p><span style="font-size:24px"><a href="http://www.lingolex.com/spanish.htm" target="_blank">Learn Spanish</a></span></p>

<p><span style="font-size:24px">內容多樣，包含聊天室</span></p>

<p><span style="font-size:24px"><a href="http://www.audiria.com/" target="_blank">Audiria</a></span></p>

<p><span style="font-size:24px">以PODCAST為平台的西文聽力網站，有大量的文章、句子、片語和字彙，可重複練習</span></p>