<h4><span style="color:#54acd2"><span style="font-size:48px"><strong>法文推薦自學網站:</strong></span></span></h4>

<p>&nbsp;</p>

<p><span style="font-size:24px"><a href="http://www.institut-francais.fr/cinefete/">http://www.institut-francais.fr/cinefete/</a></span></p>

<p><span style="font-size:24px">看電影學法文: 電影及附加教育資料</span></p>

<p>&nbsp;</p>

<p><span style="font-size:24px"><a href="http://big5.chinabroadcast.cn/3821/2004/10/27/153@341282.htm">http://big5.chinabroadcast.cn/3821/2004/10/27/153@341282.htm</a></span></p>

<p><span style="font-size:24px">法國歌曲</span></p>

<p>&nbsp;</p>

<p><span style="font-size:24px"><a href="http://www.songsforteaching.com/french/jeandelalune.php">http://www.songsforteaching.com/french/jeandelalune.php</a></span></p>

<p><span style="font-size:24px">法國歌曲</span></p>

<p>&nbsp;</p>

<p><span style="font-size:24px"><a href="http://www.lirecreer.org/biblio/fables/index.html">http://www.lirecreer.org/biblio/fables/index.html</a></span></p>

<p><span style="font-size:24px">兒歌/童話</span></p>

<p>&nbsp;</p>

<p><span style="font-size:24px"><a href="http://www.rfi.fr/actucn/pages/001/page_55.asp">http://www.rfi.fr/actucn/pages/001/page_55.asp</a></span></p>

<p><span style="font-size:24px">法國國際廣播電台製作之法語教學及法國歌曲</span></p>

<p>&nbsp;</p>

<p><span style="font-size:24px"><a href="http://meilleursprenoms.com/index.htm">http://meilleursprenoms.com/index.htm</a></span></p>

<p><span style="font-size:24px">法文名字</span></p>

<p>&nbsp;</p>

<p><span style="font-size:24px"><a href="http://www.leconjugueur.com/frconjonline.php">http://www.leconjugueur.com/frconjonline.php</a></span></p>

<p><span style="font-size:24px">動詞變化</span></p>

<p>&nbsp;</p>

<p><span style="font-size:24px"><a href="http://phonetique.free.fr/">http://phonetique.free.fr/</a></span></p>

<p><span style="font-size:24px">發音</span></p>

<p>&nbsp;</p>

<p><span style="font-size:24px"><a href="http://lexiquefle.free.fr/">http://lexiquefle.free.fr/</a></span></p>

<p><span style="font-size:24px">詞彙</span></p>