<h3>閱讀旅行工作坊 2 ─《死靈魂》</h3>

<p>104.12.8 (二) 14:30-16:00 《The Cambridge introduction to travel writing》</p>

<p><span>主講人：小澤自然；與談人：吳怡芬&nbsp;</span></p>

<p><span>In the past twenty years, travel writing not only has become more popular than ever, but also has been widely discussed and studied by scholars. In fact, it would be safe to say that travel writing studies has become a well-established branch of Anglophone literature studies. In my talk, I will introduce The Cambridge Introduction to Travel Writing, written by Tim Youngs, one of the leading scholars of the field, and explain some of the new perspectives studies in travel writing have been opening up.&nbsp;</span></p>

<p><span>過去的二十年間，旅行文學不僅越來越盛行，也廣泛地被學者研究及討論。事實上，我們可以說旅行文學研究已成為英美文學研究的一個分支。在我的演講中，我將介紹The Cambridge Introduction to Travel Writing，這本書是由旅行文學領域中的一位知名學者Tim Youngs所著，並解釋在旅行文學中開啟的一些新觀點。</span></p>

<p><span><img src="http://www.tf.tku.edu.tw/img.php?img=357_eb0e3493.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=358_28cba36f.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=359_68a79c7b.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=360_f0b0a490.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=361_aa0847bb.jpg&amp;dir=archive" class="fr-fic fr-dii"></span>
	<br>
</p>