<h3 class="oc-text-spaced"><span style="font-family: Arial,Helvetica,sans-serif;">閱讀旅行工作坊 4 ─「日本」與「世界」—以吉田松陰的九州、江戶、東北遊歷為中心</span></h3>

<p class="oc-text-spaced"><span style="font-family: Arial,Helvetica,sans-serif;"><span style="font-size: 14px;">12/21 &nbsp;14:30 ~ 16:00 &nbsp;主講人：馬耀輝<br><br>主題：「日本」與「世界」—以九州、江戶、東北遊歷為中心<br>吉田松陰（1830～1859）是日本江戶時代末期的一位武士、思想家。他在1854年美國海軍提督培里率領艦隊至江戶簽訂條約之際，想以偷渡方式登上美艦遭拒而被幕府以觸犯鎖國禁令被押解回鄉（長州藩，現在的山口縣），出獄軟禁期間主持松下村塾，教育出伊藤博文等推翻幕府、建立明治新政府的重要人物。他在1854年之前，曾有四次遊學，讓他的觀念大大改變。究竟旅行對於一個人的思想轉變會產生何種影響，吉田松陰的故事會提供我們一些省思。</span></span>
</p>

<p class="oc-text-spaced"><span style="font-family: Arial,Helvetica,sans-serif;"><span style="font-size: 14px;"><img src="http://www.tf.tku.edu.tw/img.php?img=382_b91e645e.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=384_6d654101.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=383_37613a73.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=385_3c90d55d.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=386_13c31bda.jpg&amp;dir=archive" class="fr-fic fr-dii"></span></span>
	<br>
</p>