<p><span style="font-size: 24px;"><strong>&nbsp;<span style="font-family: Times New Roman,Times,serif;">德安居</span></strong>
	</span>
</p>

<p><span style="font-family: Times New Roman,Times,serif;"><span style="font-size: 24px;">&nbsp; &nbsp; <a href="https://www.youtube.com/watch?v=TRJaxh4VNTw"><strong>英：</strong>De-an residence</a>&nbsp;</span>
	<br>
	<br>
	</span>
</p>

<p><span style="font-family: Times New Roman,Times,serif;"><span style="font-size: 24px;">&nbsp; &nbsp; <a href="https://www.youtube.com/watch?v=gEhAlu9qz1I"><strong>西：</strong><span lang="EN-US">L</span><span lang="ES">a residencia De-an</span></a>&nbsp;</span>
	<br>
	<br>
	</span>
</p>

<p><span style="font-family: Times New Roman,Times,serif;"><span style="font-size: 24px;">&nbsp; &nbsp; <a href="https://www.youtube.com/watch?v=LfljYBbHZPA">法<strong><span lang="FR">：</span>&nbsp;</strong>Le bâtiment de Dé’ān</a>&nbsp;</span>
	</span>
</p>

<p><span style="font-family: Times New Roman,Times,serif;"><br><span style="font-size: 24px;">&nbsp; &nbsp; <a href="https://www.youtube.com/watch?v=jbvUyobA_Wo"><strong>德：</strong><span lang="EN-US">De</span><span lang="ES">’an Anwesen</span></a>
	</span>
	</span>
</p>

<p><span style="font-family: Times New Roman,Times,serif;"><br><span style="font-size: 24px;">&nbsp; &nbsp; <a href="https://www.youtube.com/watch?v=zwN90nDH5u8"><strong>日：</strong>徳安居（とくあんきょ）</a>&nbsp;</span></span>
</p>

<p><span style="font-family: Times New Roman,Times,serif;"><br><span style="font-size: 24px;">&nbsp; &nbsp; <a href="https://www.youtube.com/watch?v=eNYsCUke3qY"><strong><span lang="RU">俄：</span></strong>Поселение Дэань</a>&nbsp;</span>
	</span>
</p>

<p><span style="font-family: Times New Roman,Times,serif;"><span style="font-size: 24px;"><span lang="RU"><br></span><strong>石滬</strong></span>
	</span>
</p>

<p><span style="font-family: Times New Roman,Times,serif;"><span style="font-size: 24px;">&nbsp; &nbsp; <a href="https://www.youtube.com/watch?v=ylXKOb6TCGU">英：</a><a href="https://www.youtube.com/watch?v=ylXKOb6TCGU">Stone weirs</a>&nbsp;<br></span></span>
</p>

<p><span style="font-family: Times New Roman,Times,serif;"><br><span style="font-size: 24px;">&nbsp; &nbsp; <a href="https://www.youtube.com/watch?v=rdDxX3bnKkE">西：</a><a href="https://www.youtube.com/watch?v=rdDxX3bnKkE">Presas de piedra</a>&nbsp;</span></span>
</p>

<p><span style="font-family: Times New Roman,Times,serif;"><br><span style="font-size: 24px;">&nbsp; &nbsp; <a href="https://www.youtube.com/watch?v=3E5Y6E_qs4s">法：L’empilement de pierres (barrages à poissons en pierre</a></span></span>
</p>

<p><span style="font-family: Times New Roman,Times,serif;"><br><span style="font-size: 24px;">&nbsp; &nbsp; <a href="https://www.youtube.com/watch?v=yVAq6HoEW3k">德：Stein-Reusen</a></span></span>
</p>

<p><span style="font-family: Times New Roman,Times,serif;"><br><span style="font-size: 24px;">&nbsp; &nbsp; <a href="https://www.youtube.com/watch?v=YKtLtm0eszM&amp;feature=youtu.be">日：石滬（シーフ、石干見）</a>&nbsp;</span></span>
</p>

<p><span style="font-family: Times New Roman,Times,serif;"><br><span style="font-size: 24px;">&nbsp; &nbsp; <a href="https://www.youtube.com/watch?v=MqJ4WJo1tvQ&amp;feature=youtu.be">俄：Каменные ограды</a>&nbsp;</span></span>
</p>

<p>
	<br>
</p>

<p><a href="https://www.youtube.com/watch?v=eNYsCUke3qY"><span lang="RU"><br></span></a></p>

<p><a href="https://www.youtube.com/watch?v=eNYsCUke3qY"><span lang="RU"><br type="_moz"></span></a></p>

<p><span style="font-size: 18px;">105年度「大學學習生態系統創新（B類）計畫</span></p>

<p><span style="font-size: 18px;"><br>人文與科普教育在新北─讓國際看見</span></p>

<p><span style="font-size: 18px;"><br>外國語文學院「六語國際傳播團隊」子計畫</span></p>

<p><span style="font-size: 18px;">計畫主持人:陳小雀<br><br></span></p>

<p><span style="font-size: 18px;">以「活用外語課程，開啟關懷在地人文」為目標，透過「外語傳譯在地文化學分學程」，「六語國際傳播團隊」子計畫將有下列預期成果：</span></p>

<p><span style="font-size: 18px;"><br>1.豐富外語教學2.增進文學素養3.探索在地文化4.落實多元學習<br></span></p>

<p><span style="font-size: 18px;">5.深入在地社區6.履行公民義務7.多語傳播新北</span></p>