<p style="text-align:center"><strong><span style="font-size:22px"><img alt="" class="fr-dii fr-fic" src="http://www.tf.tku.edu.tw/img.php?img=452_b07c10f9.png&amp;dir=archive" style="height:392.488px; width:270px" />淡江外語如何使你與眾不同報導系列四</span></strong></p>

<p style="text-align:center"><strong><span style="font-size:22px">(職業－服務業)</span></strong></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><span style="font-size:22px"><img src="/storage/app/media/junior abroad/Tiang chia yu 1-1.jpg" style="height:476px; width:800px" /></span></p>

<p style="text-align:center"><span style="font-size:22px">&nbsp;<strong>德文系校友 田佳玉</strong></span></p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; 德文系田佳玉（現職國泰航空空姐）德國波昂大學一年，發現生命可以不同，林孟瑾（現職中華航空空姐）學會了跟自己相處，舒建庭（現任夏爾歐德語教師）德國教師教導與啟發，讓他學會了獨立思考。</span></p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; 林孟瑾在德國那一年，每天下課寫完功課後就很少在家裡唸書，只要一有機會、一有約，就毫無考慮的去赴約！德國人很有趣的是每天晚上約你出去，沒別的事做，就是喝啤酒、喝咖啡！這是很好的機會，一開始她會覺得天啊又要喝酒，好累喔&hellip;.後來漸漸發現，跟他們出去，得到好多好多東西，看似平常的對話，其實都是在練習你的聽力。有喝酒可以訓練一下自己開口講德文的膽量！以她自己為例，她一開始是從學他們講話方式、用字開始學德文。忘記書本上那些制式的文句，因為他們講的跟課本上寫得幾乎不一樣！一開始，聽力會進步的比說話快很多，記住你聽到的，學他們用的字，講話的語法，慢慢把這些東西變成你自己的。可能經過這一年，會讓你更清楚，你有多喜歡這個語言，多想從這裡前進，多想再回到德國做自己想做的事。當然，走過很多地方，看過很多你從來沒看過的，也是熏陶你的一部份，還有讓自己更認識自己，更了解自己要什麼！</span></p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; 豐富的旅遊經驗，也會帶給自已不少收獲！林孟瑾每次出去玩，都是團體行動，慢慢的適應了團體，忘記自己很多欲望，配合大家，甚至講更誇張一點是：成就整個團體。怎麼說呢？現在看起來可能不覺得這點很重要，等到你開始工作，加入更多的團體生活，你就會開始慢慢發現自己與別人不同。你可以像水一樣，可以輕易地適應在任何容器中！這點改變，讓林孟瑾（現職中華航空空姐）、田佳玉（現職國泰航空空姐）在現在的工作上，幫助很多。（編者按：除作者群－吳伶燁（果物憩席股份有限公司負責人）、蘇明宏(鋐鎂貿易有限公司總經理)外，德文系傑出校友尚有：經濟部駐德國代表邱一徹外貿協會新竹辦事主任吕寛永</span></p>