<h3 class="oc-text-spaced"><span style="font-family: Arial,Helvetica,sans-serif;">閱讀旅行工作坊 7 ─《Mexico y Centroamerica and America del Sur II》</span></h3>

<p class="oc-text-spaced"><span style="font-family: Arial,Helvetica,sans-serif;"><span style="font-size: 18px;">主題：Mexico y Centroamerica and America del Sur II<br>《墨西哥及中美洲》還有《南美洲II》，這兩本書我叫它口袋書，近年來出國旅遊的人越來越多，年輕的背包客更是不可忽略的族群，而且對神祕及遙遠的國度已經不只是歐洲而已了，中南美洲是很多人既期待又怕受傷的探險地方，帶著口袋書，你可以透過簡單的文字敘述、顏色鮮豔的圖片、簡單有趣的介紹歷史及小小的注意事項，慢慢開啟旅遊者對馬雅及印加文化的好奇，對咖啡還有巧克力國度的滿足及大大小小節慶的參與，達到視覺、味覺、觸覺還有聽覺的饗宴。</span><span style="font-size: 14px;">﻿</span></span>
</p>

<p class="oc-text-spaced"><span style="font-family: Arial,Helvetica,sans-serif;"><span style="font-size: 14px;"><img src="http://www.tf.tku.edu.tw/img.php?img=399_0917e993.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=400_2e4e163f.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=401_62c18997.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=402_116c5ff1.jpg&amp;dir=archive" class="fr-fic fr-dii"></span></span>
	<br>
</p>