<p style="text-align: center;"><span style="color: rgb(84, 172, 210);">檔案下載: <a class="fr-file" href="/storage/app/media/uploaded-files/2016-g200-youth-forum-germany-g200.pdf">2016 G200 Youth Forum, Germany – G200 青年論壇交流感想.pdf</a></span></p>

<p style="text-align: center;">
	<br>
</p>

<p style="text-align: center;"><span style="font-size: 30px;"><span style="color: rgb(44, 130, 201);"><img src="/storage/app/media/uploaded-files/2016-g200-youth-hforum-germany-g200.jpg" style="width: 300px;" class="fr-fic fr-dib" data-result="success"></span></span><span style="color: rgb(0, 0, 0);"><span style="font-size: 30px;"><strong>國際青年大使----吳馨怡</strong></span></span>
</p>

<p style="text-align: center;">
	<br>
</p>

<p style="text-align: center;"><span style="color: rgb(0, 0, 0);"><span style="font-size: 30px;"><strong>----------------------------------------------------------</strong></span></span>
</p>

<p>
	<br>
</p>

<p style="text-align: center;"><span style="font-size: 30px;"><span style="color: rgb(44, 130, 201);"><strong>2016 G200 Youth Forum, Germany – G200 青年論壇交流<img src="/storage/app/media/uploaded-files/2016-g200-youth-forum-germany-g200.jpg" style="width: 695px; height: 462.667px;" class="fr-fic fr-dib" data-result="success"><br></strong></span></span>
</p>

<p><img src="/storage/app/media/uploaded-files/2016-g200-youth-nforum-germany-g200.jpg" style="width: 687px; height: 513.543px;" class="fr-fic fr-dib" data-result="success"></p>

<p>
	<br>
</p>

<p><img src="/storage/app/media/uploaded-files/2016-g200-youth-lforum-germany-g200.jpg" style="width: 689px; height: 460.813px;" class="fr-fic fr-dib" data-result="success"></p>