<p style="text-align: center;"><span style="font-size: 18px;"><img alt="" width="656" height="437" src="http://www.tf.tku.edu.tw/img.php?img=513_efba75d4.jpg&amp;dir=archive" class="fr-fic fr-dii">&nbsp;<br>第六屆「世界十大傑出華商婦女華冠獎」 <br>得主 <strong>張碧玉</strong>&nbsp; &nbsp;&nbsp;</span></p>

<p><span style="font-size: 18px;"><br></span></p>

<p><span style="font-size: 18px;">留學莫斯科的<strong>張碧玉</strong>在俄國打拚20年，與夫婿開創Sky Well集團，事業版圖橫跨家具、五金、家電用品、電玩電競、食品、旅遊、認證通關與技術移轉等顧問服務，成功創造北國奇蹟。回想起學俄文的淵源，張碧玉說，一切都要從一個麻油雞攤說起，在偶然機會裡，當時就讀專科的她興起插大念頭，正是在麻油雞攤認識的朋友，讓她決定報考極為冷門的俄語系。1994年她考進淡江俄文系，隔年升大二就帶著幾本字典、不太靈光的俄文，和家裡給的一些美金，前往當時被稱作「蘇聯」的北國展開新生活。談起當時的俄羅斯，張碧玉笑笑地說：「現在想起來，能有機會經歷那個『精采』的年代，也算是幸運吧！」</span></p>

<p><span style="font-size: 18px;"><br>1995年，俄國通膨情況不斷惡化，舊盧布大幅走貶，央行開始發行十萬和50萬面額的鈔票，7月時央行決定把美元兌盧布匯率訂在1：4,300至4,900的區間。匯率不穩，讓當時的俄國黑市與地下經濟盛行，張碧玉帶著父母給的美元，毅然帶著同學走進幽暗的地下室，穿過無數個鐵門後，在黑市成功換到錢，「我真不知道當時怎麼有那個勇氣，要我現在再去，恐怕也不敢了。」 的確，1995年的俄國經濟景況，比現在更慘淡。那一年，時任俄國總統的葉爾欽，下令轟炸境內自治的車臣共和國，引發車臣武裝分子的人質挾持危機；同時，俄國國家「杜馬」國會分別通過對政府的不信任案與總統彈劾案，在俄國盧布崩盤和通貨膨脹不斷惡化的情況下，一年內兩位央行總裁遭撤換；同年年底，葉爾欽又因心臟病發緊急住院，俄國政經局勢混亂，前景一片茫然。正是在這樣的時空背景之下，張碧玉和幾個淡江俄文系同學前往俄國，到莫斯科大學展開為期一年的交換學生生活。</span></p>

<p><span style="font-size: 18px;"><br>90年代的俄羅斯百廢待舉，留學生自然也過得辛苦。張碧玉回想，當時的莫斯科不像現在超市百貨林立，整個城巿不過一家愛爾蘭超市，想買菜就要到傳統市場，用不輪轉的俄文好好挑戰一番，才可能買到食材餵飽自己。俄羅斯的蔬果種類選擇不多，張碧玉說，當時大家常戲稱一整年的生活，陪伴他們的僅有高麗菜、洋蔥、馬鈴薯和胡蘿蔔這「四大元老」，甚至她還曾到大學食堂裡，偷偷包鹽巴帶回家煮菜。</span></p>

<p>
	<br>
</p>

<p><span style="font-size: 18px;">2001年，世華組織名譽總會長柯杜瑞琴創辦「世界十大傑出華商婦女華冠獎」選拔活動，每三年舉辦一屆，以拔擢全球華商婦女</span><span style="font-size: 18px;">菁英，成為婦女追求卓越的標竿典範。第六屆十位新當選的華冠獎得主，分別來自台灣2位、美國2位、越南1位、印尼1位、泰國1位、加拿大1位、俄羅斯1位、南非1位。第6屆世界十大傑出華商婦女華冠獎日前在台北圓山大飯店舉辦頒獎典禮，副總統陳建仁親自出席，頒獎給十位華冠獎得獎人，表彰全球華商婦女的成就與貢獻。</span></p>