<h3><span style="color: rgb(61, 142, 185);"><a href="http://www.tf.tku.edu.tw/page2/super_pages.php?ID=page201">國際大使團隊</a>(外語傳譯社)</span>&nbsp;/ 德文(German)</h3>

<p>Baue eine Brücke der Freundschaft auf – Erweitere deinen internationalen Horizont &nbsp;</p>

<p>Das College für fremde Sprachen der Tamkang Universität wirbt um internationale Botschafter</p>

<p>&nbsp;</p>

<p>Wir suchen taiwanesische oder internationale Studenten. Du musst versiert in Englisch, Spanisch, Französisch, Deutsch, Japanisch oder Russisch sein und mündlich sowie schriftlich übersetzten können. Dann heißen wir dich bei dem „multilingualen Übersetzungsteam der internationalen Botschafter vom College für fremde Sprachen der Tamkang Universität“ willkommen. Du kannst beim Empfang ausländischer Gäste mithelfen und deine Übersetzungsfähigkeiten trainieren. Außerdem kannst du&nbsp;Freunde aus dem Ausland kennenlernen und deinen internationalen Horizont erweitern.</p>

<p>&nbsp;</p>

<p>Unser Team arbeitet unentgeltlich. Wenn sich die Möglichkeit ergibt, dass du ausländische Gäste empfängst, wirst du vom College für fremde Sprachen mit einem Dankeszertifikat und einem Zertifikat für deine Dienste ausgezeichnet. Wenn du interessiert bist, ein Teil von unserem Team zu werden, dann melde dich beim College für fremde Sprachen an. Website:</p>