<h1><strong>古巴文化研究中心文史資料</strong><br />
&nbsp;</h1>

<h4><span style="font-size:24px">遠在加勒比海的古巴，因有紅色閃電棒球隊而聲名遠播，</span><br />
<br />
<span style="font-size:24px">也因強人卡斯楚與美國總統之間的角力而頻頻登上國際新聞，</span><br />
<br />
<span style="font-size:24px">近來更因美、古破冰而再度興起古巴熱潮。</span><br />
<br />
<span style="font-size:24px">有鑑於國人對古巴十分陌生，淡江大學外國語文學院特成立古巴文化研究中心，</span><br />
<br />
<span style="font-size:24px">提供一個交流平台，讓有志學習西班牙文、且對古巴有興趣的同學，一起探索古巴文化。</span>&nbsp;<br />
&nbsp;</h4>

<p><img class="fr-dib fr-fic fr-fil" src="/storage/app/media/uploaded-files/_archive_464_b3259fef.jpg" style="height:715.807px; width:454px" /><br />
<br />
&nbsp;</p>

<p><span style="font-size:24px"><strong>相關文章連結：</strong></span></p>

<h3>&nbsp; <span style="font-size:22px">&nbsp; &nbsp; &nbsp;美、古關係正常化的一步之遙</span></h3>

<h3><span style="font-size:22px"><a href="http://talk.ltn.com.tw/article/breakingnews/1872546">&nbsp; &nbsp; &nbsp; &nbsp;http://talk.ltn.com.tw/article/breakingnews/1872546</a></span><br />
&nbsp;</h3>

<h3><span style="font-size:22px">&nbsp; &nbsp; &nbsp; &nbsp;紅色實驗室：古巴社會主義的民主化改革</span></h3>

<h3><span style="font-size:22px"><a href="http://talk.ltn.com.tw/article/breakingnews/1879594">&nbsp; &nbsp; &nbsp; &nbsp;http://talk.ltn.com.tw/article/breakingnews/1879594</a></span><br />
&nbsp;</h3>

<h3><span style="font-size:22px">&nbsp; &nbsp; &nbsp; &nbsp;馬帝：高舉星辰的革命家</span></h3>

<h3><span style="font-size:22px"><a href="http://talk.ltn.com.tw/article/breakingnews/1886457">&nbsp; &nbsp; &nbsp; &nbsp;http://talk.ltn.com.tw/article/breakingnews/1886457</a></span><br />
&nbsp;</h3>

<h3><span style="font-size:22px">&nbsp; &nbsp; &nbsp; &nbsp;卡斯楚謝幕：功過歷史自有定論</span></h3>

<h3><span style="font-size:22px"><a href="http://talk.ltn.com.tw/article/breakingnews/1900961">&nbsp; &nbsp; &nbsp; &nbsp;http://talk.ltn.com.tw/article/breakingnews/1900961</a></span><br />
&nbsp;</h3>

<h3><span style="font-size:22px">&nbsp; &nbsp; &nbsp; &nbsp;卡斯楚與拉丁美洲</span></h3>

<h3><span style="font-size:22px"><a href="http://talk.ltn.com.tw/article/breakingnews/1908242">&nbsp; &nbsp; &nbsp; &nbsp;http://talk.ltn.com.tw/article/breakingnews/1908242</a></span><br />
&nbsp;</h3>

<h3><span style="font-size:22px">&nbsp; &nbsp; &nbsp; &nbsp;菲德爾．卡斯楚與切．格瓦拉之間：情誼？情結？</span></h3>

<h3><span style="font-size:22px"><a href="http://talk.ltn.com.tw/article/breakingnews/1915284">&nbsp; &nbsp; &nbsp; &nbsp;http://talk.ltn.com.tw/article/breakingnews/1915284</a></span><br />
&nbsp;</h3>

<h3><span style="font-size:22px">&nbsp; &nbsp; &nbsp; &nbsp;誰出賣了切．格瓦拉？（上）</span></h3>

<h3><span style="font-size:22px"><a href="http://talk.ltn.com.tw/article/breakingnews/1922168">&nbsp; &nbsp; &nbsp; &nbsp;http://talk.ltn.com.tw/article/breakingnews/1922168</a></span><br />
&nbsp;</h3>

<h3><span style="font-size:22px">&nbsp; &nbsp; &nbsp; &nbsp;誰出賣了切．格瓦拉？（下）</span></h3>

<h3><span style="font-size:22px"><a href="http://talk.ltn.com.tw/article/breakingnews/1929111">&nbsp; &nbsp; &nbsp; &nbsp;http://talk.ltn.com.tw/article/breakingnews/1929111</a></span><br />
&nbsp;</h3>

<h3><span style="font-size:22px">&nbsp; &nbsp; &nbsp; &nbsp; 隱藏哈瓦那舊區的私房景點</span></h3>

<h3><span style="font-size:22px">&nbsp; &nbsp; &nbsp; &nbsp; <a href="http://talk.ltn.com.tw/article/breakingnews/2192594">http://talk.ltn.com.tw/article/breakingnews/2192594</a></span></h3>

<p>&nbsp;</p>

<p><span style="font-size:24px">&nbsp; &nbsp; &nbsp; &nbsp; <a href="http://talk.ltn.com.tw/article/breakingnews/1654172">革命、人權與禁運（下）</a></span></p>

<p><span style="font-size:24px"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp; http://talk.ltn.com.tw/article/breakingnews/1654172</a></span></p>

<p><br />
<span style="font-size:24px"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a>革命、人權與禁運（上）</span></p>

<p><span style="font-size:24px"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a><a href="http://talk.ltn.com.tw/article/breakingnews/1646953">http://talk.ltn.com.tw/article/breakingnews/1646953</a></span><br />
&nbsp;</p>

<p><span style="font-size:24px"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a>美、古之間的恩怨（下）</span></p>

<p><span style="font-size:24px"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a><a href="http://talk.ltn.com.tw/article/breakingnews/1639637">http://talk.ltn.com.tw/article/breakingnews/1639637</a></span><br />
&nbsp;</p>

<p><span style="font-size:24px"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a>美、古之間的恩怨（上）</span></p>

<p><span style="font-size:24px"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a><a href="http://talk.ltn.com.tw/article/breakingnews/1631992">http://talk.ltn.com.tw/article/breakingnews/1631992</a></span><br />
&nbsp;</p>

<p><span style="font-size:24px"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a>切．格瓦拉的背包</span></p>

<p><span style="font-size:24px"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a><a href="http://talk.ltn.com.tw/article/breakingnews/1568680">http://talk.ltn.com.tw/article/breakingnews/1568680</a></span><br />
&nbsp;</p>

<p><span style="font-size:24px"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a>游擊隊員vs.文學家：閱讀切．格瓦拉（下）</span></p>

<p><span style="font-size:24px"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a><a href="http://talk.ltn.com.tw/article/breakingnews/1561189">http://talk.ltn.com.tw/article/breakingnews/1561189</a></span><br />
&nbsp;</p>

<p><span style="font-size:24px"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a>游擊隊員vs.文學家：閱讀切．格瓦拉（上）</span></p>

<p><span style="font-size:24px"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a><a href="http://talk.ltn.com.tw/article/breakingnews/1554077">http://talk.ltn.com.tw/article/breakingnews/1554077</a></span><br />
&nbsp;</p>

<p><span style="font-size:24px"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a>游擊隊的抗暴史詩</span></p>

<p><span style="font-size:24px"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a> <a href="http://talk.ltn.com.tw/article/breakingnews/1546923">http://talk.ltn.com.tw/article/breakingnews/1546923</a></span></p>

<p>&nbsp;</p>

<p><span style="font-size:24px"><a href="http://talk.ltn.com.tw/article/breakingnews/1654172">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a>古巴宗教藝術-探究聖得利亞的文化身影<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; <a class="fr-file" href="/storage/app/media/uploaded-files/.pdf">古巴文化研究中心文史資料.pdf</a></span></p>