<h3><span style="font-family: Arial,Helvetica,sans-serif;"><span style="font-size: 18px;"><span style="color: rgb(243, 121, 52);"><strong>重點研究計畫</strong></span></span>
	</span>
</h3>

<p><strong>１０４學年度重點研究－國際遠距課程設計開發與外語教材編撰</strong></p>

<p>國際遠距教學為當前教育全球化的趨勢，也是大學國際化的重要指標。本校開辦國際遠距教學已有多年歷史，並先後與日本、美國及俄羅斯等大學共同開辦。2016 年日本東京外語大學也選定本校合作舉辦國際遠距教學研討會。值此機緣，投入遠距教學的評估及開發，必能更上層樓開發更為適切的教材與教學方法。此外，為厚植教學素材及精進教學方法與成效，本院英、法、德、日、俄共 6 位老師將投入外語教材開發，將授課講義整理成冊，並提領出相關理論及實務經驗，編撰外語學習教材。如此將有助於提升本院領頭羊特色，帶領國內外語教學「教研合一」的新形象。</p>

<p><strong>105學年度重點研究- &nbsp; 多國語言民俗文化研究</strong></p>

<p>外國語文學院一向以「外國文學」與「外語教學」為研究重點，面臨少子化與高齡化的衝擊，本院因應趨勢，在既有的學術與教學特色基礎上，以外語關懷社會，實踐社會服務工作，設置「多國語言民俗文化研究中心」，探討外國文化中的飲食、時尚、節慶、觀光等議題，並將這些議題用於教學上，使外語教學更活潑。另外，「多國語言民俗文化研究中心」將以各種外語，編撰淡水在地故事，增進本校與在地之間的互動，向國際行銷淡水在地文化。</p>

<p>本研究計畫內容分為兩類，即：「多國語言民俗文化研究」與「外語傳播在地文化」。成員為：西語系陳小雀教授、德文系吳萬寶教授、日文系闕百華副教授與法文系鄭安群副教授。陳小雀將解析《巧克力情人》（Como agua para chocolate）的飲食符碼，藉飲食文化增進學生學習外語的樂趣。吳萬寶將探討歐洲理事會文化之路，以德國文化之路為例，加強學生的文化素養，並為外界介紹歐洲精緻與深度文化之旅。闕百華副教授以「３個F」（Food、Fashion、Festival）為題，分析比較台日的飲食習慣，並將教案實例拍成短片，供各界參考。鄭安群則投入淡水美食中法翻譯工作，透過翻譯理論與實踐，提供學生實務學習機會，並向國際行銷淡水在地美食。 &nbsp; &nbsp; &nbsp;
	<br>
	<br><strong>106學年度重點研究-全球化下的外語、翻譯、文化及文學研究<br></strong>
	<br>外國語文學院一向以「外國文學」與「外語教學」為研究重點，重視學生的國際視野與多元文化素養。面對全球化浪潮，外語教學有革新之必要，本院因應趨勢，而以將以「全球化下的外語、翻譯、文化及文學研究」為主題，在既有的學術與教學特色基礎上，探討外國文化中的飲食、時尚、節慶、觀光等議題，並將這些議題用於教學上，使外語教學更為活潑。本研究成員共計五人：西語系陳小雀教授比較中墨文學中的飲食文化，除了比較彼此之間的異同外，讓外國文學文本閱讀更為生活化；西語系孔方明助理教授將蒐集台灣散落的城市口述文學，透過西班牙語與英語的翻譯，讓台灣通向世界；法文系楊淑娟教授與孟丞書副教授攜手合作，比較中法美食文化，並將兩者運用於法語教學之中；誠如翻譯是外語與母語之間的溝通管道，更是全球化與在地化之間的橋樑，德文系的顏徽玲副教授著重於認知翻譯學之研究；日文系闕百華副教授則比對台灣與日本的節慶文化，並以此研發新教材，活化課程。本計畫在研究外語之際，並能將台灣推向國際，達到一舉兩得的研究效益。&nbsp;</p>