<p><img src="/storage/app/media/uploaded-files/312_48a0053b.jpg" style="width: 300px;" class="fr-fic fr-dib fr-fil" data-result="success"></p>

<p><strong>院長 陳小雀教授<br></strong>
	<br>學 歷：墨西哥國立自治大學拉丁美洲研究博士
	<br>現 任：淡江大學美洲研究所專任教授暨外語學院院長
	<br>專 長：拉美文化研究、拉美文學研究、拉美本土化研究、古巴研究
	<br>辦公室電話：02-26215656 分機2558、3230
	<br>電子信箱：<a href="mailto:lucychen@mail.tku.edu.tw">lucychen@mail.tku.edu.tw</a>
	<br>&nbsp;</p>
<hr>

<p><img src="/storage/app/media/uploaded-files/556_6d6b134d.jpg" style="width: 300px;" class="fr-fic fr-dib fr-fil" data-result="success"></p>

<p><strong>&nbsp;<strong>&nbsp;<strong>英文系主任 &nbsp; 蔡振興教授<br><br></strong></strong>&nbsp;</strong>學 歷：台灣大學外國文學研究所博士
	<br>現 任：淡江大學英文系教授兼系主任
	<br>專 長：西洋文學概論、文學批評
	<br>辦公室電話：02-26215656 分機2306、3201
	<br>電子信箱： rnchtsai@mail.tku.edu.tw &nbsp; &nbsp;</p>
<hr>

<p><img src="/storage/app/media/uploaded-files/497_506ba175.jpg" style="width: 300px;" class="fr-fic fr-dib fr-fil" data-result="success"></p>

<p><strong>西語系主任 &nbsp;</strong><strong>&nbsp;林惠瑛副</strong><strong>教授</strong></p>

<p>學 &nbsp; &nbsp;歷：西班牙拿瓦拉大學藝術史系博士
	<br>現 &nbsp; &nbsp;任：西班牙語文學系專任副教授兼系主任</p>

<p>專 &nbsp; &nbsp;長：西語國家藝術、西班牙文化、西語教學
	<br>辦公室電話：02-26215656 &nbsp;分機3228、2336
	<br>電子信箱：<a href="mailto:maite@mail.tku.edu.tw">maite@mail.tku.edu.tw</a></p>
<hr>

<p><img src="/storage/app/media/uploaded-files/284_3c2ea0fb.jpg" style="width: 300px;" class="fr-fic fr-dib fr-fil" data-result="success"></p>

<p><strong>法文系主任 &nbsp;</strong><strong>&nbsp;鄭安群副</strong><strong>教授</strong>
	<br>&nbsp;</p>

<p>學 &nbsp; &nbsp; 歷： 法國史特拉斯堡大學文學博士</p>

<p>現 &nbsp; &nbsp; 任： 淡江大學法國語文學系專任副教授兼系主任</p>

<p>專 &nbsp; &nbsp; 長： 法國小說研究、十九世紀法國文學、敘述學</p>

<p>辦公室電話：02-26215656 &nbsp;分機 2338、3241
	<br>電子信箱：<a href="mailto:064510@mail.tku.edu.tw">110676@mail.tku.edu.tw</a></p>

<p>&nbsp;</p>
<hr>

<p><img src="/storage/app/media/uploaded-files/496_1bbf9762.jpg" style="width: 300px;" class="fr-fic fr-dib fr-fil" data-result="success"></p>

<p><strong>德文系主任&nbsp;</strong><strong>&nbsp;</strong> 吳萬寶<strong>教授</strong></p>

<p><strong><br></strong>學 &nbsp; &nbsp;歷：德國薩蘭大學法律暨經濟學院政治系博士
	<br>現 &nbsp; &nbsp;任：淡江大學德國語文學系專任教授兼系主任
	<br>專 &nbsp; &nbsp;長：歐洲國際組織歐洲理事會文化政策與文化之路、德語教學、翻譯</p>

<p>辦公室電話：02-26215656 &nbsp;分機2332、3235
	<br>電子信箱：149530@mail.tku.edu.tw</p>
<hr>

<p><img src="/storage/app/media/uploaded-files/493_37ed1291.jpg" style="width: 300px;" class="fr-fic fr-dib fr-fil" data-result="success"></p>

<p>&nbsp;<strong>日文系主任 &nbsp; 曾秋桂教授</strong></p>

<p>&nbsp;</p>

<p>學 &nbsp; &nbsp;歷：廣島大學社會科學研究所博士
	<br>現 &nbsp; &nbsp;任：淡江大學日本語文學系教授兼系主任</p>

<p>專 &nbsp; &nbsp;長：日本近代文學、村上春樹文學、中日比較文學、宮崎駿動画研究、
	<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;日本殖民地台灣文學(張文環研究)、日本語古典文法、日本漢文訓讀、日語教學</p>

<p>辦公室電話：02-26215656 &nbsp;分機2958 &nbsp;2358
	<br>電子信箱：<a href="mailto:ochiai@mail.tku.edu.tw">ochiai@mail.tku.edu.tw</a></p>
<hr>

<p><img src="/storage/app/media/uploaded-files/557_7a2f54a6.jpg" style="width: 300px;" class="fr-fic fr-dib fr-fil" data-result="success"></p>

<p><strong>俄文系主任 &nbsp; 劉皇杏&nbsp;</strong><strong>副教授</strong></p>

<p><strong>&nbsp;</strong></p>

<p>學 &nbsp; &nbsp;歷：俄羅斯國立莫斯科大學語文學博士</p>

<p>現 &nbsp; &nbsp;任：淡江大學俄國語文學系專任副教授兼系主任</p>

<p>專 &nbsp; &nbsp;長：大一俄語、俄國文學史</p>

<p>辦公室電話：02-26215656 &nbsp;分機2792、3020
	<br>電子信箱：119342@mail.tku.edu.tw</p>