<h4>English</h4>

<p><a href="http://www.business-english.com/">http://www.business-english.com/</a></p>

<p><a href="http://grammar.ccc.commnet.edu/grammar/">http://grammar.ccc.commnet.edu/grammar/</a></p>

<p><a href="http://www.urbandictionary.com/">http://www.urbandictionary.com/</a></p>

<p><a href="http://www.word-power.us/">http://www.word-power.us/</a></p>

<p><a href="http://www.merriam-webster.com/">http://www.merriam-webster.com/</a></p>

<p><a href="http://eslvideo.com/index.php">http://eslvideo.com/index.php</a></p>

<p><a href="http://www.esl-lab.com/">http://www.esl-lab.com/</a></p>

<p><a href="http://www.arts.uottawa.ca/writcent/hypergrammar/">http://www.arts.uottawa.ca/writcent/hypergrammar/</a></p>

<p><a href="http://www.lingual.net">http://www.lingual.net</a></p>

<p><a href="http://www.wordia.com">http://www.wordia.com</a></p>

<p><a href="http://www.onelook.com">http://www.onelook.com</a></p>

<h4>Spanish</h4>

<p><a href="http://cvc.cervantes.es/" target="_blank">Centro Virtual Cervante</a></p>

<p><a href="http://www.uni.edu/becker/Spanish3.html" target="_blank">Best Spanish Websites</a></p>

<p><a href="http://www.bbc.co.uk/languages/spanish" target="_blank">BBC(Spanish)</a></p>

<p><a href="http://www.zonaele.com/" target="_blank">ZONAELE</a></p>

<p><a href="http://www.escuchar-musica-espagnola.com/lista.de.los.cantantes.html" target="_blank">M&uacute;sica Espa&ntilde;ola y Latina</a></p>

<p><a href="http://www.mepsyd.es/exterior/uk/es/tecla/tecla.shtml" target="_blank">Spanish official</a></p>

<p><a href="http://www.spanishdict.com/" target="_blank">Spanish Dict</a></p>

<p><a href="http://www.lingolex.com/spanish.htm" target="_blank">Learn Spanish</a></p>

<p><a href="http://www.audiria.com/" target="_blank">Audiria</a></p>

<h4>French</h4>

<p><a href="http://www.institut-francais.fr/cinefete/">http://www.institut-francais.fr/cinefete/</a></p>

<p><a href="http://big5.chinabroadcast.cn/3821/2004/10/27/153@341282.htm">http://big5.chinabroadcast.cn/3821/2004/10/27/153@341282.htm</a></p>

<p><a href="http://www.songsforteaching.com/french/jeandelalune.php">http://www.songsforteaching.com/french/jeandelalune.php</a></p>

<p><a href="http://www.lirecreer.org/biblio/fables/index.html" target="_blank">ttp://www.lirecreer.org/biblio/fables/index.html</a></p>

<p><a href="http://www.rfi.fr/actucn/pages/001/page_55.asp">http://www.rfi.fr/actucn/pages/001/page_55.asp</a></p>

<p><a href="http://meilleursprenoms.com/index.htm">http://meilleursprenoms.com/index.htm</a></p>

<p><a href="http://www.leconjugueur.com/frconjonline.php">http://www.leconjugueur.com/frconjonline.php</a></p>

<p><a href="http://phonetique.free.fr/">http://phonetique.free.fr/</a></p>

<p><a href="http://lexiquefle.free.fr/">http://lexiquefle.free.fr/</a></p>

<h4>German</h4>

<p><a href="http://www.learn-german-online.net">http://www.learn-german-online.net</a></p>

<p><a href="http://www.deutsche-kultur-international.de/daktuell.htm">http://www.deutsche-kultur-international.de/daktuell.htm</a></p>

<p><a href="http://www.klett.de">http://www.klett.de</a></p>

<p><a href="http://www.langenscheidt.com">http://www.langenscheidt.com</a></p>

<p><a href="http://www.hueber.de/deutsch-als-fremdsprache">http://www.hueber.de/deutsch-als-fremdsprache</a></p>

<p><a href="http://www.cornelsen.de">http://www.cornelsen.de</a></p>

<p><a href="http://www.uncg.edu/~lixlpurc/publications/NetzUeb.html">http://www.uncg.edu/~lixlpurc/publications/NetzUeb.html</a></p>

<p><a href="http://www.tf.tku.edu.tw/web/www.mein-deutschbuch.de" target="_blank">www.mein-deutschbuch.de</a></p>

<p><a href="http://www.goethe.de">http://www.goethe.de</a></p>

<h4>Japenese</h4>

<p><a href="http://dictionary.goo.ne.jp/">http://dictionary.goo.ne.jp/</a></p>

<p><a href="http://www.hiragana.jp/">http://www.hiragana.jp/</a></p>

<p><a href="http://www3.nhk.or.jp/news/">http://www3.nhk.or.jp/news/</a></p>

<p><a href="http://www.geocities.jp/niwasaburoo/index.html">http://www.geocities.jp/niwasaburoo/index.html</a></p>

<p><a href="http://opal.ecis.nagoya-u.ac.jp/%7Eijlc/#">http://opal.ecis.nagoya-u.ac.jp/%7Eijlc/#</a></p>

<p><a href="http://dbms.kokken.go.jp/nknet/Onomatope">http://dbms.kokken.go.jp/nknet/Onomatope</a></p>

<p><a href="http://momo.jpf.go.jp/sushi/tomainJsp.action?request_locale=ja">http://momo.jpf.go.jp/sushi/tomainJsp.action?request_locale=ja</a></p>

<p><a href="http://www.coelang.tufs.ac.jp/modules/index.html">http://www.coelang.tufs.ac.jp/modules/index.html</a></p>

<p><a href="http://jplang.tufs.ac.jp/account/login">http://jplang.tufs.ac.jp/account/login</a></p>

<p><a href="http://www.nhk.or.jp/lesson/chinese/">http://www.nhk.or.jp/lesson/chinese/</a></p>

<h4>Russian</h4>

<p><a href="http://www.mp3.ru/">http://www.mp3.ru/</a></p>

<p><a href="http://russianinternet.com/video/">http://russianinternet.com/video/</a></p>

<p><a href="http://www.listenlive.eu/russia.html">http://www.listenlive.eu/russia.html</a></p>

<p><a href="http://www.1tv.ru/">http://www.1tv.ru/</a></p>

<p><a href="http://feb-web.ru/">http://feb-web.ru/</a></p>

<p><a href="http://www.languages-study.com/russian.html">http://www.languages-study.com/russian.html</a></p>

<p><a href="http://www.bbc.co.uk/print/languages/other/quickfix/russian.shtml">http://www.bbc.co.uk/print/languages/other/quickfix/russian.shtml</a></p>

<p><a href="http://www.gramota.ru/">http://www.gramota.ru/</a></p>

<p><a href="http://www.tasteofrussian.com/">http://www.tasteofrussian.com/</a></p>

<p><a href="http://www.languageguide.org/russian/index.jsp">http://www.languageguide.org/russian/index.jsp</a></p>