<p><span style="color: rgb(41, 105, 176);"><strong><span style="font-size: 18px;">大學部</span></strong>
	</span>
</p>

<p>1、奠定專業知識之基礎，加強跨領域之學習能力，以符合時代潮流社會需求。</p>

<p>2、培養獨立思考與實踐之能力，強化自我學習及團隊合作之精神。</p>

<p>3、訓練聽、說、讀、寫、譯的能力。</p>

<p>4、培育學生人文素養。</p>

<p>5、培育學生國際觀及跨文化溝通能力。</p>

<p>
	<br>
</p>

<p><span style="color: rgb(41, 105, 176);"><span style="font-size: 18px;"><strong>碩士班</strong></span></span>
</p>

<p>1、奠定學術專業領域的基礎。</p>

<p>2、培養發掘、分析與解決問題之能力。</p>

<p>3、培養專業倫理。
	<br>
</p>

<p>
	<br><span style="color: rgb(41, 105, 176);"><span style="font-size: 18px;"><strong>博士班</strong></span></span>
</p>

<p>1、培養鑽研專業知識之精神。</p>

<p>2、培養創新研究之能力。</p>

<p>3、培養專業倫理與社會責任。&nbsp;</p>