<h1>《話說陳澄波與淡水》，歡迎點選左方目錄！</h1>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p><img src="/storage/app/media/uploaded-files/_archive_622_4f971239.jpg" style="width: 543px; height: 351.85px;" class="fr-fic fr-dib fr-fil" data-result="success"></p>

<p>
	<br>
</p>

<p>
	<br>
</p>