<p><span style="color: rgb(209, 72, 65);"><strong><span style="font-size: 18px;">外語學院沿革</span></strong>&nbsp;</span>
</p>

<p style="text-align: center;">
	<br>
</p>

<table align="left" border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td bgcolor="#ffcccc" valign="top" width="65">
				<div style="text-align: center;">
					<br>
				</div>
				<div style="text-align: center;">1992年</div>
			</td>
			<td bgcolor="#ffffcc" valign="top" width="345">
				<br>外語學院自文學院分立，由原隸屬於文學院的英國語文學系、西班牙語文學系、法國語文學系、德國語文學系、日本語文學系及原隸屬研究學院的西洋語文研究所(英文系碩士班、博士班前身)共同組成
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffcccc" valign="top" width="65">
				<div style="text-align: center;">
					<br>
				</div>
				<div style="text-align: center;">1993年</div>
			</td>
			<td bgcolor="#ffff99" valign="top" width="345">日文系率先推動在校生出國研習計畫，首先選派15名學生至麗澤大學研習1學期。此為國內之創舉，也成功的帶領本校學生踏出國際化的第1步
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffcccc" valign="top" width="65">
				<div style="text-align: center;">1993年</div>
			</td>
			<td bgcolor="#ffffcc" valign="top" width="345">設俄文系
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffcccc" valign="top" width="65">
				<div style="text-align: center;">1994年</div>
				<div data-empty="true">
					<br>
				</div>
			</td>
			<td bgcolor="#ffff99" valign="top" width="345">英、西、法、德、日5系開始實施大三學生出國修習學分計畫(Junior Study Abroad Program)，赴國外姐妹校出國研修學分1學年，俄文系於1995年亦開始甄選大三出國留學
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffcccc" valign="top" width="65">
				<div style="text-align: center;">1994年</div>
				<div data-empty="true">
					<br>
				</div>
			</td>
			<td bgcolor="#ffffcc" valign="top" width="345">以英、西、法、德、日、俄6種語文出版外語月報(The Tamkang Times)，係全國外語學院首創
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffcccc" valign="top" width="65">
				<div style="text-align: center;">1994年</div>
				<div data-empty="true">
					<br>
				</div>
			</td>
			<td bgcolor="#ffff99" valign="top" width="345">核心課程「外國語文」學門，首開英、西、法、德、日、俄6種外語供全校同學修讀
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffcccc" valign="top" width="65">
				<div style="text-align: center;">1994年</div>
				<div data-empty="true">
					<br>
				</div>
			</td>
			<td bgcolor="#ffffcc" valign="top" width="345">英、西、法、德、日、俄6系學會開始每年共同籌辦「外語週」活動
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffcccc" valign="top" width="65">
				<div style="text-align: center;">1995年</div>
				<div data-empty="true">
					<br>
				</div>
			</td>
			<td bgcolor="#ffff99" valign="top" width="345">選派男生參與大三出國修習學分計畫，首開國內役男出國留學之先例
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffcccc" valign="top" width="65">
				<div style="text-align: center;">1995年</div>
			</td>
			<td bgcolor="#ffffcc" valign="top" width="345">原隸屬文學院的實驗劇場移由外語學院管理。
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffcccc" valign="top" width="65">
				<div style="text-align: center;">1996年</div>
				<div data-empty="true">
					<br>
				</div>
			</td>
			<td bgcolor="#ffff99" valign="top" width="345">赴大陸大連與大連外國語學院合辦「第1屆兩岸外語教學研討會」
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffcccc" valign="top" width="65">
				<div style="text-align: center;">1998年</div>
			</td>
			<td bgcolor="#ffffcc" valign="top" width="345">發行學術性期刊《淡江外語論叢》
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffcccc" valign="top" width="65">
				<div style="text-align: center;">1999年</div>
			</td>
			<td bgcolor="#ffff99" valign="top" width="345">規定學生畢業前應通過本科外語能力檢定
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffcccc" valign="top" width="65">
				<div style="text-align: center;">2001年</div>
			</td>
			<td bgcolor="#ffffcc" valign="top" width="345">設日文系進學班
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffcccc" valign="top" width="65">
				<div style="text-align: center;">2002年</div>
			</td>
			<td bgcolor="#ffff99" valign="top" width="345">設法文系碩士班
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffcccc" valign="top" width="65">
				<div style="text-align: center;">2005年</div>
			</td>
			<td bgcolor="#ffffcc" valign="top" width="345">外語月報改版為外語雙週報，仍以6種語言發行
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffcccc" valign="top" width="65">
				<div style="text-align: center;">2006年</div>
			</td>
			<td bgcolor="#ffff99" valign="top" width="345">設西語系碩士班、日文系碩士班、日文系二年制在職專班
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffcccc" valign="top" width="65">
				<div style="text-align: center;">2008年</div>
			</td>
			<td bgcolor="#ffffcc" valign="top" width="345">實施各系外語能力畢業標準檢定
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffcccc" valign="top" width="65">
				<div style="text-align: center;">2009年</div>
			</td>
			<td bgcolor="#ffff99" valign="top" width="345">實施外語翻譯學分學程
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffcccc" valign="top" width="65">
				<div style="text-align: center;">2009年</div>
			</td>
			<td bgcolor="#ffffcc" valign="top" width="345">開辦外語教學創意工作坊
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffcccc" valign="top" width="65">
				<div style="text-align: center;">2010年</div>
			</td>
			<td bgcolor="#ffff99" valign="top" width="345">首度參與北京外國大學辦理之兩岸學生外語研習營
				<br>
				<br>
			</td>
		</tr>
	</tbody>
</table>