<h3><span style="color: rgb(61, 142, 185);">國際大使團隊(外語傳譯社)，歡迎點選左方6種語言介紹</span></h3>

<p>
	<br>
</p>

<p>&nbsp;搭起友誼的橋樑 拓展國際的視野</p>

<p>
	<br>
</p>

<p>淡江大學外語學院招募外語傳譯社成員擔任國際大使</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>&nbsp;</p>

<p>招募淡江大學本地生、國際生，只要妳／你，通曉英、西、法、德、日、俄，可以進行口筆譯，歡迎加入「淡江大學外語學院外語傳譯社」，藉協助接待外賓，練習翻譯技巧，認識海外朋友，拓展國際視野。</p>

<p>
	<br>
</p>

<p>本團隊為無給職，一旦有機會協助接待外賓，外語學院將頒發感謝狀及服務證明。有意加入本團隊者，請向外語學院報名</p>

<p>聯絡人：外語學院　劉靜華小姐</p>

<p>電話：０２－２６２１５６５６－２５５８</p>

<p>Ｅmail：<a href="mailto:tf@oa.tku.edu.tw">tf@oa.tku.edu.tw</a></p>