<h3><span style="font-size: 18px;"><span style="color: rgb(243, 121, 52);"><span style="font-family: Arial,Helvetica,sans-serif;"><strong>話說淡江</strong></span></span>&nbsp;</span>
</h3>

<p class="oc-text-spaced"><span style="font-family: Arial,Helvetica,sans-serif;"><img src="http://www.tf.tku.edu.tw/img.php?img=536_5c67e296.jpg&amp;dir=archive" width="666" height="888" alt="" class="fr-fic fr-dii"><br><br><br>這本小書由外語學院院長陳小雀親自撰稿，動員該院六系教師翻譯，趕在校慶之前出版。承襲2015年出版的《話說淡水》，《話說淡江》的主題從淡水聚焦到本校淡水、台北、蘭陽、網路四個校園，從美景出發，幫讀者規劃一趟淡江之旅，探訪淡江六十六年歲月所刻畫的人文與景物。翻閱這本精美印刷的摺頁式小書，彷彿搭上一列穿越時空的列車，帶領讀者從五虎崗、克難坡、宮燈道基石、驚聲銅像、書卷廣場、覺生紀念圖書館等淡水校園景點出發，進入資訊化、未來化、國際化、榮譽學程、學生社團……等人文面向，知性品味淡江；並前往台北校園體驗不同的學習氛圍，接著穿越雪山隧道，登上宜蘭礁溪林美山，飽覽蘭陽校園風光，最後跨越時空，遨遊網校園。</span></p>

<p class="oc-text-spaced"><span style="font-family: Arial,Helvetica,sans-serif;">&nbsp;</span></p>

<p class="oc-text-spaced"><span style="font-family: Arial,Helvetica,sans-serif;">「話說」系列始於2015年出版的《話說淡水》，由前任院長吳錫德教授策劃的七國語言版本既是外語教材，也是導覽手冊，對本國籍學生與外國觀光客皆具吸引力。《話說淡江》介紹淡江名景也強調淡江人文特色，同樣將成為外賓以及來自12國70位姐妹校貴賓的最佳導覽員。</span></p>

<p class="oc-text-spaced"><span style="font-family: Arial,Helvetica,sans-serif;">&nbsp;</span></p>

<p class="oc-text-spaced"><span style="font-family: Arial,Helvetica,sans-serif;">外語學院院長陳小雀表示，《話說淡江》得以順利出版，首先感謝蘭陽校園林志鴻主任賜稿，當然也感激秘書處、教務處、總務處、學生事務處、資訊處、國際暨兩岸事務處、文學院淡水維基館、遠距教學發展組、未來學研究所、文錙藝術中心、淡江時報社等單位提供寶貴資料；其中有部分文字稿引自《淡江時報》第972期。陳吉斯老師的插畫，馮文星先生、淡江時報社、蘭陽校園的珍貴照片，讓這本小冊增色許多。</span></p>