<p><span>Motto and Goals<br><br></span>&nbsp; &nbsp; &nbsp; &nbsp; The motto of the College---"Innovative Thinking in and for an Age of Digital Learning"--- tries to consolidate the spirit shared by the faculty and students of the college in order to thrive in a rapidly changing era of information technology.In keeping with the triple-objective of the University---globalization, information-oriented education, and future-oriented education---the College provides students with a dynamic environment for learning foreign languages and literatures with an international faculty. This environment is enlivened by academic and multicultural activities, the presence of international students within the College, lecture series by visiting scholars from abroad, regular international conferences, and an increasing degree of digitalization incorporated into our curriculum and teaching methods.</p>

<ul>
	<li>The College offers Junior Year Abroad programs, which enable our students to study and experience life at our sister universities overseas with the hope that they become better equipped persons and learners at the end of the program year.</li>
	<li>The College also works with the College of International Studies to offer interdisciplinary courses to our undergraduates, focusing on area studies, international politics, international relations, and economics.</li>
</ul>

<p>&nbsp; &nbsp; &nbsp; &nbsp;The ultimate objective of the College is to prepare our students both professionally and in personal qualities for challenges that come with an increasingly globalized and digitalized age. We envision a future for our students and help them create their own futures with knowledge and skills acquired in our programs.</p>