<p><img width="200" height="150" alt="" src="http://www.tf.tku.edu.tw/img.php?img=316_3c51bcf6.jpg&amp;dir=archive" class="fr-fic fr-dii"></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="font-size: 18px;"><strong>Chen,</strong><strong>Lucia</strong></span></p>