<h3><a href="http://www.tf.tku.edu.tw/page2/super_pages.php?ID=page201">國際大使團隊</a>(外語傳譯社)<span>&nbsp;</span>/ 俄文(Russian)</h3>

<p>Когда мост дружбы будет возведён,</p>

<p><span>кругозор расширится</span></p>

<p><span lang="RU">Объявляется набор юных «послов дружбы»<br><br>за сделанное Институтом иностранных языков выдаются справка и благодарственное письмо.</span></p>

<p>&nbsp;</p>Приглашаем студентов нашего университета, в том числе иностранных студентов ТКУ, которые владеют английским, испанским, французским, немецким, японским или русским языками, участвовать в программе «Юные «послы дружбы» для помощи зарубежным гостям, работы гидом во время их знакомства с кампусом или Даньшуем, а также переводчиком устно и письменно.<span>&nbsp;</span>
<br>
<br>Работа бесплатная, но за сделанное Институтом иностранных языков выдаются справка и благодарственное письмо.
<br>Всех желающих стать юным «послом дружбы» просим обращаться прямо в Институт иностранных языков.
<br>Предварительно, пожалуйста, заполните анкету:

<p></p>