<p style="text-align: center;"><span style="font-size: 18px;"><strong><img width="600" height="400" alt="" src="http://www.tf.tku.edu.tw/img.php?img=506_a8d8ed67.jpg&amp;dir=archive" class="fr-fic fr-dii"></strong><br><strong>第<span lang="EN-US">30</span>屆金鷹獎得主</strong>Yahoo奇摩董事總經理王興<strong>&nbsp;</strong>人生不設限
	<br>&nbsp;
	<br>&nbsp;</span>
</p>

<p><span style="font-size: 18px;">本校英文系校友王興，現為<span lang="EN-US">Yahoo</span>奇摩董事總經理、<span lang="EN-US">Yahoo</span>亞太區廣告解決方案副總裁。她看準網路媒體和社群行銷的發展，於<span lang="EN-US">2010</span>年加入<span lang="EN-US">Yahoo</span>奇摩，主要負責網路行銷、平臺應用及廣告經營，懂得快速反應市場需求，帶領臺灣媒體業務朝二位數成長邁進。短短4年晉升董事總經理，王興絕非偶然，而是源自於厚實的職場能量。擁有外語學養，讓她能快速接收外界新知，但在瞬息萬變的時代，要了解科技應用、網路技術，卻是需要花費心思。王興憑著不服輸的個性，積極面對挑戰，在市場中求生存，她更懂得自學，無論是向朋友、同事請益，或透過廣泛閱讀，甚至近年重返校園、攻讀EMBA及孫子兵法。擁有慢熱性格的王興不諱言，「即使剛入社會一開始不知道自己需要的是甚麼，但至少可以選擇一個領域，透過工作持續學習，探索自我喜好。」</span>
</p>

<p><span style="font-size: 18px;">&nbsp;<br>但大學時期的她，卻只是一名健言社的辯論板凳選手，從未在校際比賽中登場。王興笑說，雖然如此，但她樂於當一名「快樂的板凳選手。」對她而言，準備辯論賽、反覆練習是開心的事，她不因無法站上舞台而半途而廢，始終抱持不放棄的精神，從中學習到獨立思考、解決問題的能力。就是這兩項特質，影響了她一生。回憶大學生活，王興眼中盡是青春神采，像個愉快小女孩地說道，進入英文系就讀，受教於許多名師，如前臺大教授李本題、現任文化部長龍應台等，「修習老師的課，可真是如沐春風。」她還悄悄透露，「龍應台老師的兒子是在會文館出生的喔！」李本題以「Dog」的12種意思，來解釋英文字彙的奧妙，令她至今難忘。大學時期的社團活動，則啟蒙了王興「喜歡與人相處，與解決問題」的精神，她認為這是饒富趣味且極具挑戰性的事。進入職場後，她始終未背離這個精神。 &nbsp;&nbsp;</span></p>

<p><span style="font-size: 18px;"><br>談到年輕人面對多樣化的發展藍圖，她引詩人Robert Foster所言，「若有兩條路可選，一條人煙罕至、一條車水馬龍，當你選擇其一前行，必然就看不到另一條路的風景。」鼓勵學弟妹築夢踏實，且決定出發就要全力以赴。王興走過奧美廣告、傳立媒體及中網互動行銷等國際公司，在各領域皆有卓越表現，更是屢獲賞識、委以重任。她自信地說，「雖然換過18份工作，但每回都是非常盡力在解決問題，從中也找到寶貴價值；而想要走得長遠，還得發揮創意，相信收穫將遠超出預期。」她在職場上奮鬥的過程、專業的工作態度及卓越的管理成就，激勵每位淡江人。&nbsp;</span></p>

<p><span style="font-size: 18px;"><br>王興以學姊的立場，語重心長地提醒學弟妹，「大多數的產業，並沒有科系的門檻。」王興指出自己便是個好例子，英文系畢業後，她因為喜歡與人接觸的工作，進而投入與行銷、媒體等相關的職場。「重要的是要能樂在工作，因為持續做一件熱愛的事情，才能讓你長遠地、不倦怠地走下去。」</span></p>