<h3><span style="color: rgb(243, 121, 52);"><strong>Introduction</strong></span></h3>

<p><strong>Dean: Chen, Luc</strong><span lang="EN-US"><strong>í</strong></span><strong>a<br></strong>
	<br><strong>Brief History</strong>The College of Foreign Languages and Literatures had undergone a long history of growth before it was established in 1992. It began as an English program, the sole and seminal program of this university back at its inception as Tamkang Junior English College in 1950. The English program was changed into the Department of Western Languages and Literatures in 1958 and expanded over a span of seventeen years to comprise four sections: English, Spanish, French, and German, which were later made into departments in 1975. In 1985, the Department of Oriental Languages was renamed the Japanese Department and became the fifth department of the College in 1992, when it was founded. A year later, the Russian Department was set up. The college has since retained its current structure of six departments.
	<br>
	<br>
	<br><strong>About Us<br></strong>Promoting Excellence in All Five Skills; Nurturing Talents for the Digital Age<strong>&nbsp;</strong>Founded in 1992 and featuring diverse curricula, the College of Foreign Languages and Literatures offers foreign language training in many areas including translation, business, diplomacy, literature, and cultural studies.To develop and extend students’ foreign language skills in listening, speaking, reading, writing and translating/interpreting, the College provides the following: a cross-college credit program of foreign language translation, creative workshops for foreign language teaching and learning, a multi-language learning website, foreign language learning corners, and classrooms for interpretation learning and cultural learning. All of the departments of English, Spanish, French, Germany, Japanese, and Russian offer a one-year exchange program for junior students to study abroad at TKU’s sister universities. The College of Foreign languages and literatures also works with the College of International Studies to provide courses in both international and regional studies and encourages students to familiarize themselves with global politics, economies, and cultures. Each of the College’s departments also provides practical courses and training through partnership with private enterprises to stay close to industry needs. The College’s six departments also work closely together in issuing the <em>Tamkang Journal of Foreign Languages and Literatures</em>, a multi-lingual biannual aimed at promoting scholarship in foreign language teaching and literary and cultural studies.In the future, the College will continue to improve teaching methods of foreign language education, and enhance academic cooperation with universities from mainland China and other countries.<strong><br><br>Motto and Goals</strong>The motto of the College---"Innovative Thinking in and for an Age of Digital Learning"--- tries to consolidate the spirit shared by the faculty and students of the college in order to thrive in a rapidly changing era of information technology.In keeping with the triple-objective of the University---globalization, information-oriented education, and future-oriented education---the College provides students with a dynamic environment for learning foreign languages and literatures with an international faculty. This environment is enlivened by academic and multicultural activities, the presence of international students within the College, lecture series by visiting scholars from abroad, regular international conferences, and an increasing degree of digitalization incorporated into our curriculum and teaching methods.</p>

<ul>
	<li>The College offers Junior Year Abroad programs, which enable our students to study and experience life at our sister universities overseas with the hope that they become better equipped persons and learners at the end of the program year.</li>
	<li>The College also works with the College of International Studies to offer interdisciplinary courses to our undergraduates, focusing on area studies, international politics, international relations, and economics.</li>
</ul>

<p>The ultimate objective of the College is to prepare our students both professionally and in personal qualities for challenges that come with an increasingly globalized and digitalized age. We envision a future for our students and help them create their own future with knowledge and skills acquired in our programs.<strong><br><strong>Future Development</strong></strong>A three-fold scenario for our future development is as follows:</p>

<ol>
	<li>Curriculum Renovation
		<br>It includes, first, better cooperation with other colleges of the University to devise interdisciplinary programs instructed in Chinese as well as in English. Second, a team composed of faculty from the six departments has been engaged in developing and promoting an e-learning website, MULTI, for the six foreign languages we teach. Third, another significant renovation in our curriculum, the Multi-Language Translation and Interpretation Program's goal is to train students in the skills of translation and interpretation to meet the demand of a viable market for talents in this field.</li>
	<li>Enhancement of Our Research-oriented Identity
		<br>The College has long enjoyed a fine reputation for teaching foreign languages effectively. It is one of the few foreign language colleges in the country that have a full-bodied structure in regard to the number of foreign languages taught. Currently, the College has four graduate programs: English, French, Japanese, and Spanish (the English program offers a two-track program in English and TESOL). The College publishes three scholarly journals: <em>Tamkang Review&nbsp;</em>(since 1967), <em>Tamkang Studies of Foreign Languages</em>
		<em>and Literatures&nbsp;</em>(since 1998), and <em>Tamakang Japanese Journal&nbsp;</em>(since 1991).</li>
	<li>Further Expansion of our Junior Year Abroad Programs
		<br>The College's Junior Year Abroad Program was launched in 1993 with the initial efforts of the Japanese Department to send students to study for one semester at Reitaku University of Japan. In the following years, Spanish, German, French, English, and finally Russian majors went to our sister universities for a one-year study. The number of students participating in the programs has totaled over 2500 since 1993. Our receiving sister universities include Brandon University (Canada), Indiana University of Pennsylvania, Winona State University (U.S.A.), Universidad de Navarra (Spain), Université de Franche-Comté (France), University of Bonn (Germany), Reitaku University, Josai University, Josai International University, Tachibana Women's University (Japan), and Saint-Petersburg State University (Russia). We are trying to further promote these programs and increase the number of students by highlighting the features of the programs and by providing students with incentives, so that more will be interested in joining these programs.</li>
</ol>

<p>
	<br>
</p>