<p style="text-align: center;"><span style="font-size: 18px;"><img alt="" src="http://www.tf.tku.edu.tw/img.php?img=514_e059a7d1.jpg&amp;dir=archive" class="fr-fic fr-dii">&nbsp;<br>德文系校友<strong>吳瑪悧</strong>&nbsp;<br><br></span></p>

<p><span style="font-size: 18px;">本校德文系校友<strong>吳瑪悧</strong>日前榮獲第19屆國家文藝獎美術類獎項的她，也是首位女性獲得藝術類得主，她以「社會雕塑」概念，成功地「讓藝術走入社區」，帶領一群藝術家致力於社區藝術、社會議題與環境生態等文化理念。「我想為自己所生活的世界，做出不一樣的改變。」這是本校德文系校友吳瑪悧近十年來從事社會藝術的動力之一。</span></p>

<p>
	<br>
</p>

<p><span style="font-size: 18px;">她的大學生活非常精采，參與《淡江青年》校刊的採編工作、投稿《淡江週刊》（《淡江時報》前身）、參加過各種文藝營及創作比賽、曾獲得五虎崗文學獎的肯定，她笑著說：「當時，每天與同學坐火車、從克難坡上下學，雖已畢業35年，同學間仍保持聯繫，多虧了那段時光。」她自認不是認真的學生，「當時臺灣政治環境風聲鶴唳，但是淡江仍然保有自由奔放的校園風氣，尤其是王津平、李元貞、梁景峰這3位老師對我的影響很多，大三時還受到李元貞老師的鼓勵參與劇本寫作、戲劇演出，延伸出對美學藝術的探索，因而修習建築系的雕塑課程，開啟我的藝術創作之路。」</span></p>

<p>
	<br>
</p>

<p><span style="font-size: 18px;">1979年自德文系畢業後，隨即遠赴奧地利維也納應用藝術學院雕塑系留學，後轉往德國杜賽道夫藝術學院並於1985年取得專業文憑。留學生涯中，吳瑪悧深受德國知名雕塑藝術家約瑟夫．波依斯的「社會雕塑」概念影響。吳瑪悧身軀嬌小談話溫文，內心卻蘊含著巨大的創作能量，她以探索知識為本，突破限制，掌握結構並層層理解問題背後意涵；以「社會雕塑」進行跨媒材對話、跨領域藝術、影像藝術與女性藝術等多元藝術創作。早期以「紙」作為雕塑材質來創作視覺美感作品；自2000年開始進行社群藝術計畫，如與婦女新知基金會共推「玩布工作坊」、在嘉義縣策劃「北回歸線環境藝術行動」、和淡水竹圍工作室交流中心辦理「樹梅坑溪環境藝術行動」等，她從過去批判的角色慢慢轉變為關懷社會的實踐者，讓藝術介入改變環境，探討社區聯結與群眾在地意識，以環境探索的藝術行動，發展當地的特色。她分享，這些都是社會雕塑的延伸，「透過社會批判讓我了解，藝術本身是無法反映的社會現況，雖然揭露本身是一種批判，但是長期下來又覺得力不從心，我希望更能實際去做、去改變。每個行動本身都是在進行探索，行動可以創造契機或因子，讓更多人加入，讓『問題』被發現和理解，透過參與而帶來改變。至今都還在探索和嘗試中！」</span></p>

<p>
	<br>
</p>

<p><span style="font-size: 18px;">吳瑪悧除了藝術實踐者的身分，現任高雄師範大學跨領域藝術研究所副教授的吳瑪悧，更是教育者，帶領學生進行「舌尖上的旗津」藝術創作計畫，透過了解旗津在地人文的歷史演變及生活沿革，先從食物為出發點，打造一處實體「旗津造咖」場地，將以藝術展演等形式，希望讓高雄最早發展的地方再度活絡起來，讓人們更深入認識旗津。</span></p>

<p>
	<br>
</p>

<p><span style="font-size: 18px;">她想分享給學弟妹的經驗是，不管想從事哪一方面的工作，就要多嘗試，知識不應該有界限，要不停突破限制，去發掘不一樣的可能性，也不用怕未來與現在所學的有所不同，她原以為當年的自己會走上戲劇領域，但現在的「藝術行動」也讓她以整個社會當作劇場，成為不受局限的藝術天地。何況學習藝術，作品並非只是唯一的表現，自身的行為也是藝術的展現。</span></p>