<p><span>Future Development<br><br></span>A three-fold scenario for our future development is as follows:</p>

<ol>
	<li>Curriculum Renovation
		<br>It includes, first, better cooperation with other colleges of the University to deviseinterdisciplinary programs instructed in Chinese as well as in English. Second, a team composed of faculty from the six departments has been engaged in developing and promoting an e-learning website, MULTI, for the six foreign languages we teach. Third, another significant renovation in our curriculum, the Multi-Language Translation and Interpretation Program's goal is to train students in the skills of translation and interpretation to meet the demand of a viable market for talents in this field.</li>
	<li>Enhancement of Our Research-oriented Identity
		<br>The College has long enjoyed a fine reputation for teaching foreign languages effectively. It is one of the few foreign language colleges in the country that have a full-bodied structure in regard to the number of foreign languages taught. Currently, the College has four graduate programs: English, French, Japanese, and Spanish (the English program offers a two-track program in English and TESOL). The College publishes three scholarly journals: <em>Tamkang Review&nbsp;</em>(since 1967), <em>Tamkang Studies of Foreign Languages</em>
		<em>and Literatures&nbsp;</em>(since 1998), and <em>Tamakang Japanese Journal&nbsp;</em>(since 1991).</li>
	<li>Further Expansion of our Junior Year Abroad Programs
		<br>The College's Junior Year Abroad Program was launched in 1993 with the initial efforts of the Japanese Department to send students to study for one semester at Reitaku University of Japan. In the following years, Spanish, German, French, English, and finally Russian majors went to our sister universities for a one-year study. The number of students participating in the programs has totaled over 2500 since 1993. Our receiving sister universities include Brandon University (Canada), Indiana University of Pennsylvania, Winona State University (U.S.A.), Universidad de Navarra (Spain), Université de Franche-Comté (France), University of Bonn (Germany), Reitaku University, Josai University, Josai International University, Tachibana Women's University (Japan), and Saint-Petersburg State University (Russia). We are trying to further promote these programs and increase the number of students by highlighting the features of the programs and by providing students with incentives, so that more will be interested in joining these programs.

		<p>&nbsp;</p>
	</li>
</ol>