<h3><span style="color: rgb(61, 142, 185);"><a href="http://www.tf.tku.edu.tw/page2/super_pages.php?ID=page201">國際大使團隊</a>(外語傳譯社)</span> / 英文(English)</h3>

<p>Establish the bridge of friendship and broaden your international horizon</p>

<p>&nbsp;</p>

<p>Good news for recruiting both local and international students: you are cordially invited to join the international ambassadors’ multilingual translating/interpreting corps, College of Foreign Languages, Tamkang University. This team provides participants with great opportunities to do interpreting for visiting delegations, get acquainted with international friends and thus broaden their intellectual horizons. Since the interpreting mission is based on voluntary service, a certificate will be presented to each international ambassador in gratitude for his/her task.</p>