<h3><span style="color: rgb(61, 142, 185);"><a href="http://www.tf.tku.edu.tw/page2/super_pages.php?ID=page201">國際大使團隊</a>(外語傳譯社)</span>&nbsp;/ 日文(Japanese)</h3>

<p>&nbsp;</p>

<p>友情の架け橋となって、国際的視野を広げよう</p>

<p>
	<br>
</p>

<p>淡江大学外語学院が国際大使を募集します</p>

<p>
	<br>
</p>

<p>淡江大学の学生（留学生を含む）の皆さん、「淡江大学外語学院国際大使多言語通訳・翻訳チーム」に参加してみませんか？条件は英語、フランス語、スペイン語、ドイツ語、日本語、ロシア語いずれかの言語の通訳・翻訳ができること。皆さんには海外からの御来賓をお迎えする際のお手伝いをしていただきます。チームに参加して通訳・翻訳テクニックを磨き、海外の友人との交流を通じて国際的視野を広げてみましょう。</p>

<p>
	<br>
</p>

<p>本チームの活動への参加はボランティアとなりますが、海外のお客様をお迎えするにあたってお手伝いをしてくれた学生には、外語学院から感謝状を贈り、参加証明も発行します。参加希望者は外語学院まで申し込んでください。</p>