<h3><span style="font-family: Arial,Helvetica,sans-serif;">閱讀旅行工作坊 8 ─ 史耐德與旅行理論</span></h3>

<p class="oc-text-spaced"><span style="font-size: 14px;"><span style="font-family: Arial,Helvetica,sans-serif;">12/28(一) 12:30 ~ 14:00 &nbsp;主講人：蔡振興<br><br>主題：史耐德與旅行理論<br>本演講以史耐德的散文、詩作分析和訪談為基礎，企圖重新梳理史耐德如何將「生活／生命」與「書寫／詩學」作生態哲學和美學上的聯結。本文共分五部分：(一)史耐德的求學生涯；(二) 史耐德的日本行；(三) 史耐德與反文化運動；(四)史耐德與旅行理論：史耐德、禪宗、東亞。透過對史耐德早期求學經驗、在日本學禪的研究、翻譯外國文學和（心靈）旅行，本文試圖開展一種具有史耐德式的生態文學與文化批判的生命書寫。</span></span>
</p>

<p class="oc-text-spaced"><span style="font-size: 14px;"><span style="font-family: Arial,Helvetica,sans-serif;"><img src="http://www.tf.tku.edu.tw/img.php?img=403_6d570bf7.jpg&amp;dir=archive" class="fr-fic fr-dii"></span></span>
</p>

<p class="oc-text-spaced"><span style="font-size: 14px;"><span style="font-family: Arial,Helvetica,sans-serif;"><img src="http://www.tf.tku.edu.tw/img.php?img=404_2e980781.jpg&amp;dir=archive" class="fr-fic fr-dii"></span></span>
</p>

<p class="oc-text-spaced"><span style="font-size: 14px;"><span style="font-family: Arial,Helvetica,sans-serif;"><img src="http://www.tf.tku.edu.tw/img.php?img=405_390a5850.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=406_ae82284e.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=407_00732b9e.jpg&amp;dir=archive" class="fr-fic fr-dii"></span></span>
	<br>
</p>