description = "頁尾連絡資料(英文)"
==
<div class="footer_contact">
    <p><span>TEL：{{contact.telephone}}</span>　<span>FAX：{{contact.fax}}</span></p>
    <p>Email：{{email.email}}</p>
    <p style="position: relative;"><span style="position:absolute; top: 0; left: 0;">Address：</span><span style="padding-left: 5em;">{{contact.address}}</span></p>
    <p>Webmaster：<a href="mailto:{{master.email}}">{{master.fullchname}}</a></p>
    {% partial 'common_'~locale~'/privacy' %}
</div>