title = "pdfview"
url = "/pdfview"
layout = "pdf"
is_hidden = 0
==
<?php
function onStart() {

    $this->addCss('assets/bower_components/pdf.js-viewer/viewer.css');
    $this->addJs('assets/bower_components/pdf.js-viewer/pdf.js');
    $this->addJs('assets/bower_components/angular/angular.js');
    $this->addJs('assets/bower_components/angular-pdfjs-viewer/dist/angular-pdfjs-viewer.js');
    $this->addJs('assets/javascript/pdfapp.js');
    $url = input('url');
    if (filter_var($url, FILTER_VALIDATE_URL)){
    $uri = parse_url($url, PHP_URL_PATH);
    $this['source'] = $uri;
    }else{
    $this['source'] = '';
    }
}
?>
==
<div ng-app="app" ng-controller="AppCtrl">
        <div class="some-pdf-container">
		<pdfjs-viewer src="{{source}}"></pdfjs-viewer>
        </div>	
</div>