<p><strong>Type 1. 波昂大學international Office提供的主題及語言課程</strong></p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
			<p><strong>課程名稱</strong></p>
			</td>
			<td>
			<p>課程介紹</p>
			</td>
		</tr>
		<tr>
			<td>
			<p><strong>Intensivkurs</strong></p>

			<p><strong>語言密集加強班</strong></p>
			</td>
			<td>
			<p>包含文法、會話、聽力、作文。對文法、文章及寫作方面的加強，老師喜歡採取分組討論，所以同學剛開始要突破不敢開口的心態。</p>

			<p>(老師視學生語言程度來決定，學生是否需上加強班)</p>
			</td>
		</tr>
		<tr>
			<td>
			<p><strong>Deutsche Medien</strong></p>
			</td>
			<td>
			<p>學習有關德國的大眾傳播媒體知識，例如Zeitung、 Fernsehen、Radio等，如何去寫一篇Anmeldung、報紙的印製過程、去報社及Deutsche Welle參觀，與記者面對面溝通、學習。</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p><strong>Deutsch in Wirtschaft und Handel</strong></p>
			</td>
			<td>
			<p>上課所學習的字彙相當有用，會配合時事，有時也會注重口語練習及自由發揮。</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p><strong>Einf&uuml;hrung in das wissenschaftliche Arbeiten</strong></p>
			</td>
			<td>
			<p>又可分成Landeskunde和Literatur，依學生程度不同來分班。</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p><strong>&Uuml;bersetzung Tamkang</strong></p>

			<p>(專門為淡江而開的翻譯課)</p>

			<p>&nbsp;</p>
			</td>
			<td>
			<p>分成小組一起翻譯、討論，練習機會很多，老師會詢問學生有興趣的題目，提供翻譯的文章，回家翻譯後，上課一起討論及修正。</p>

			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<h3>Course Types</h3>

<p>Depending on their language skills, international students can choose from&nbsp;classes offered by the International Office and university courses.</p>

<p>1. The International Office offers German language classes on different levels as well as topical courses from areas of German culture, media, politics and&nbsp;history.&nbsp;2. The course catalogue of the university offers &ldquo;seminars&rdquo; and &ldquo;lectures&rdquo;.&nbsp;Classes are generally held in German, some are taught in English. You can find information on university classes and the online course catalogue</p>

<p><strong>Type 2. 波昂大學所有科系開設之課程</strong></p>

<p>※ 學生可旁聽或申請大學內所有課程，往年學生參加課程例如：(1)波昂大學漢學系(學士課程/研究所課程) (2) 波昂大學日耳曼語言學系課程(語音學/文學/哲學等課程)</p>

<hr />
<div style="page-break-after: always"><span style="display:none">&nbsp;</span></div>

<h1>Kursinformationen</h1>

<p>Die Universit&auml;t bietet in ihren sieben Fakult&auml;ten (Katholische Theologie, Evangelische Theologie, Rechts- und Staatswissenschaften, Medizin, Philosophie, Mathematik und Naturwissenschaften, Landwirtschaft) ca. 100 verschiedene Studieng&auml;nge an. Sie k&ouml;nnen aus einer gro&szlig;en Anzahl von Sprach- und Themenkursen des International Offices und aus dem Kursangebot der Universit&auml;t w&auml;hlen. Kurse werden sowohl auf Deutsch als auch auf Englisch angeboten. Die flexible Programmstruktur und die verschiedenen Kursangebote bieten Studierenden ein ma&szlig;geschneidertes Auslandsstudienprogramm.</p>

<p><a href="https://www.uni-bonn.de/studium/studium-in-bonn-fuer-internationale-studierende/auslandssemester-in-bonn/jyp-und-austauschprogramm/kursprogramm/StudisinBibliothek.JPG"><img alt="bibliothek" src="https://www.uni-bonn.de/studium/studium-in-bonn-fuer-internationale-studierende/auslandssemester-in-bonn/jyp-und-austauschprogramm/kursprogramm/StudisinBibliothek.JPG" style="height:133px; width:200px" /></a>&nbsp;&nbsp;</p>

<h3>Kursbelegung und Stundenplanerstellung</h3>

<p>Vor Beginn des Semesters w&auml;hlen Sie Ihre Kurse. Dabei ist es wichtig, dass Sie zwischen 12 und 18 Unterrichtsstunden pro Woche belegen. Bitte ber&uuml;cksichtigen Sie&nbsp;in Ihrem Stundenplan&nbsp;die Kursempfehlungen,&nbsp;die Ihnen am Ende des&nbsp;<a href="https://www.uni-bonn.de/studium/studium-in-bonn-fuer-internationale-studierende/auslandssemester-in-bonn/jyp-und-austauschprogramm/kursprogramm/einfuehrungskurs" title="Einführungskurs">Einf&uuml;hrungskurses&nbsp;</a>gegeben werden.&nbsp;</p>

<h3>Kursempfehlungen</h3>

<p>Am Ende des Einf&uuml;hrungskurses wird ein Abschlusstest geschrieben. Auf der Grundlage Ihrer Leistungen im Einf&uuml;hrungskurs werden von den Dozenten eine Einstufungen f&uuml;r die Intensivkurse vorgenommen sowie individuelle Empfehlungen ausgesprochen, welche Kurse des International Offices Sie im Semester zus&auml;tzlich belegen sollten. Diese Einstufungen und Empfehlungen erhalten Sie per E-mail am Ende des Einf&uuml;hrungskurses. Bitte folgen Sie den Einstufungen und Empfehlungen Ihrer Lehrer, wenn Sie Kurse w&auml;hlen und sich f&uuml;r diese anmelden.&nbsp;&nbsp;</p>

<h3>Kursbelegung</h3>

<p>Internationale Studierende k&ouml;nnen zwischen Kursen an der Universit&auml;t und Sprachkursen des International Office w&auml;hlen:&nbsp;&nbsp;</p>

<p>&nbsp;</p>

<ol start="1">
	<li>Das International Office bietet eine gro&szlig;e Anzahl von Deutschkursen auf verschiedenen Niveaustufen an. Zus&auml;tzlich gibt es speziell ausgerichtete Themenkurse, wie zum Beispiel &bdquo;Deutsche Medien&ldquo;, &bdquo;Deutsch in Wirtschaft und Handel&ldquo; oder &bdquo;Deutsche Geschichte&ldquo;.&nbsp;<a href="https://www.uni-bonn.de/studium/studium-in-bonn-fuer-internationale-studierende/auslandssemester-in-bonn/jyp-und-austauschprogramm/kursprogramm/resolveuid/4d741dac5dc1d31c6b345bc023d35046" title="Kursbeschreibungen Sommer 2015">mehr</a></li>
	<li>Das Kursangebot der Universit&auml;t steht internationalen Programm-Studierenden offen: Hierbei handelt es sich um Vorlesungen oder Seminare. Die Unterrichtssprache in den meisten Kursen ist Deutsch, einige Kurse werden in englischer Sprache gehalten. Alle Kurse und Informationen finden Sie im online Vorlesungsverzeichnis.&nbsp;<u><a href="https://www.uni-bonn.de/studium/studium-in-bonn-fuer-internationale-studierende/auslandssemester-in-bonn/jyp-und-austauschprogramm/kursprogramm/unikurse" title="Kurse an der Universität">mehr</a></u></li>
</ol>

<p>&nbsp;</p>

<h3>Stundenplanerstellung und Kursanmeldung</h3>

<p>Die letzte Woche vor Semesterbeginn steht zur Kurswahl und Anmeldung zur Verf&uuml;gung. Entsprechend den Empfehlungen Ihrer Lehrer und Ihrer Interessen stellen Sie sich einen vorl&auml;ufigen Stundenplan zusammen. W&auml;hrend der Beratungstage sollten Sie diesen mit uns besprechen&nbsp;&ndash; im 1. Semester sind diese Beratungstage verpflichtend, im 2. Semester dringend empfohlen</p>

<table>
	<tbody>
		<tr>
		</tr>
	</tbody>
	<tbody>
	</tbody>
</table>

<table>
	<tbody>
		<tr>
		</tr>
	</tbody>
	<tbody>
		<tr>
		</tr>
	</tbody>
</table>

<table>
	<tbody>
		<tr>
			<th>
			<p>Wenn Sie zwei Semester in Bonn studieren, erhalten Sie die Empfehlungen / Kurseinteilungen f&uuml;r das zweite Semester ebenfalls kurz vor Beginn der Beratungswoche (also ca. 1-1,5 Wochen vor Semesterbeginn) per&nbsp;E-Mail, da die Kurseinteilung nur gleichzeitig f&uuml;r alle Studierende (alt und neu) erfolgen kann. Sie sind herzlich eingeladen, die Beratungstage erneut zur Kursberatung zu nutzen. Alle weiteren Regelungen gelten auch f&uuml;r Sie.</p>
			</th>
		</tr>
	</tbody>
	<tbody>
	</tbody>
</table>

<p>F&uuml;r Kurse des International Office k&ouml;nnen Sie sich in der Beratungswoche einfach auf&nbsp;folgender Webseite&nbsp;<strong>online anmelden</strong>:&nbsp;<a href="http://www.pro-integration.de/">&nbsp;http://www.pro-integration.de/</a>. Achtung: Diese Seite wird nur zu bestimmten Zeiten kurz vor Beginn des Semesters freigeschaltet. Im Sommersemester 2018 k&ouml;nnen Sie sich zu folgenden Zeiten&nbsp;<a href="http://www.pro-integration.de/">&nbsp;online anmelden</a>:&nbsp;Ab dem&nbsp;<strong>05. April</strong>&nbsp;(ab 14.00 Uhr)&nbsp;<strong>bis zum 06. April 2018</strong>&nbsp;(bis 14.00 Uhr) und erneut vom<strong>&nbsp;12. April&nbsp;</strong>(ab ca. 09.00 Uhr)&nbsp;<strong>bis 13. April&nbsp;</strong>(bis 14.00 Uhr).&nbsp;Diese Kurse beginnen ab dem&nbsp;<strong>09. April 2018</strong>.</p>

<p>F&uuml;r Universit&auml;tskurse nehmen Sie bitte pers&ouml;nlich oder per E-mail Kontakt mit den Dozenten auf, um sich anzumelden. Stellen Sie sich als Austauschstudierende vor, die ein oder zwei Semester in Bonn studieren werden. Gerne geben wir Ihnen einen Brief f&uuml;r Ihre Dozenten, mit dem wir die Dozenten auffordern, Sie bei Ihrer Kurswahl zu unterst&uuml;tzen. Die Sprechstunden oder E-mail-Adressen aller Dozenten finden Sie online oder in den Instituten.&nbsp;Diese Kurse beginnen ebenso in der Woche vom 09. April 2018.</p>