<p style="text-align:center;"><span style="font-size:24px;"><span style="font-family:Trebuchet MS,Helvetica,sans-serif;"><strong>新生淡水老街導覽</strong></span></span></p>

<p style="text-align:center;"><span style="font-family:Trebuchet MS,Helvetica,sans-serif;"><span style="font-size:14px;">為了讓大一新生認識淡水老街的人文與歷史，並與本系教材</span></span>【<span style="font-family:Trebuchet MS,Helvetica,sans-serif;"><span style="font-size:14px;">話說淡水</span></span>】<span style="font-family:Trebuchet MS,Helvetica,sans-serif;"><span style="font-size:14px;">做結合，</span></span>
	<br><span style="font-family:Trebuchet MS,Helvetica,sans-serif;"><span style="font-size:14px;">由吳主任帶領大一同學與系學會學長姐參加淡水導覽解說團，</span></span>
	<br><span style="font-family:Trebuchet MS,Helvetica,sans-serif;"><span style="font-size:14px;">除了讓大一新生認識淡水之外，也期許新生未來能夠用德語介紹淡水。</span></span></p>

<p style="text-align:center;"><img src="/storage/app/media/DSC03139.jpg" style="height: 534px; width: 800px;" class="fr-fic fr-dii"></p>

<p style="text-align:center;"><span style="font-size:24px;"><span style="font-family:Trebuchet MS,Helvetica,sans-serif;"><strong>新生茶會</strong></span></span></p>

<p style="text-align:center;">第一次與學弟妹們相見歡，藉由茶會讓學弟妹們知道系學會幹部，也知道系上未來一年的活動規劃，
	<br>結束後的吃飯聚會也讓學弟妹們更了解系上同學與學長姐們。
	<br><span style="font-size:12px;"><em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;- 53屆系學會 文字紀錄</em></span></p>

<p style="text-align:center;">
	<br><img alt="" src="C%3A%5CUsers%5Ctkustaff%5CDesktop" class="fr-fic fr-dii"></p>

<p style="text-align:center;"><img src="/storage/app/media/DSC03009.jpg" style="border-style: solid; border-width: 0px; height: 500px; width: 800px;" class="fr-fic fr-dii"></p>

<p style="text-align:right;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>

<p style="text-align:center;"><span style="font-size:24px;"><span style="font-family:Trebuchet MS,Helvetica,sans-serif;"><strong>宿營</strong></span></span></p>

<p style="text-align:center;">2017年，德文系與航太系一起合辦的宿營—消失德航班，是需要較長籌備期也是非常重要的活動，
	<br>因此我們犧牲暑假的時間，希望能帶給大一新生們難忘的回憶。</p>

<p style="text-align:center;"><span style="font-size:12px;"><em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - 52屆系學會 文字紀錄</em></span></p>

<p style="text-align:center;">&nbsp;</p>

<p style="text-align:center;"><img src="/storage/app/media/cropped-images/0-4-10-732-410-1532399193.jpg" class="fr-fic fr-dii" style="width: 784px; height: 439.126px;">&nbsp;</p>

<p style="text-align:center;">52屆宿營大合照</p>

<p style="text-align:center;"><img src="/storage/app/media/cropped-images/4-8-15-1075-791-1532399331.jpg" class="fr-fic fr-dii" style="width: 797px; height: 586.705px;">&nbsp;</p>

<p style="text-align:center;">水球大戰</p>

<p style="text-align:center;">&nbsp;</p>
<div style="page-break-after: always;"><span style="display:none;">&nbsp;</span></div>

<p style="text-align:center;"><span style="font-size:24px;"><span style="font-family:Trebuchet MS,Helvetica,sans-serif;"><strong>啤酒節&nbsp;</strong></span><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif;">Oktoberfest</span></span></p>

<p style="text-align:center;">德國啤酒節一直都是德文系最具特色的全校性活動，將德國傳統節慶帶入校園中，除了能讓學生們能體驗來自外國的傳統節慶，
	<br>還能增廣國際視野及促進國際觀，讓淡江大學的學生有機會不用出國就能體驗異國傳統文化，另一方面能促進學生間交流的機會，營造一個更好的學習環境。
	<br><span style="font-size:12px;"><em>- 52屆系學會 文字紀錄</em></span></p>

<p style="text-align:center;"><img src="/storage/app/media/cropped-images/23335793_2270479496309968_615253244_o-22-43-1410-1026-1532400676.jpg" class="fr-fic fr-dii" style="width: 951px; height: 692.132px;"></p>
<div style="page-break-after: always;"><span style="display:none;">&nbsp;</span></div>

<p style="text-align:center;">
	<br>
</p>

<p style="text-align:center;"><span style="font-size:24px;"><strong>聖誕晚會</strong></span></p>

<p style="text-align:center;"><span style="font-family:Courier New,Courier,monospace;">&nbsp; 在德國，聖誕節是一個重要的家庭節日，是個與家人團聚且充滿感恩的大日子。</span>
	<br><span style="font-family:Courier New,Courier,monospace;">淡江德文系就像一個大家庭一樣，在這一年一度重要的日子當中，</span>
	<br><span style="font-family:Courier New,Courier,monospace;">大家相聚在一起，</span><span style="font-family:Courier New,Courier,monospace;">一起享用美味的聖誕大餐，品味著德國的傳統聖誕節佳餚Stollen蛋糕以及Glühwein熱紅酒。</span>
	<br><span style="font-family:Courier New,Courier,monospace;">此外，晚會還安排了許多精心設計的小節目：猜謎遊戲、</span><span style="font-family:Courier New,Courier,monospace;">聽聖經當中的聖誕故事，交換禮物、才藝表演，以及聖誕歌曲大合唱。</span>
	<br><span style="font-family:Courier New,Courier,monospace;">整個活動相當溫馨且歡樂，讓所有來賓留下美好的回憶。</span></p>

<p style="text-align:center;"><span style="font-family:Courier New,Courier,monospace;"><strong>Frohe Weihnachten!!!&nbsp;</strong>&nbsp; 2018/12/20</span></p>

<p style="text-align:center;"><img src="https://www.tfgx.tku.edu.tw/storage/app/media/uploaded-files/1.jpg" style="width: 1023px;" class="fr-fic fr-dib" data-result="success"></p>

<p style="text-align:center;">&nbsp;</p>