<p><strong>淡江大學德語國際企業學分學程實施規則</strong></p>

<p>第一條　　為配合產業需求，培養淡江大學學生兼具德語與國際貿易實務及行銷等專業能力，特訂定「淡江大學德語國際企業跨領域學分學程」實施規則（以下簡稱本規則）。</p>

<p>第二條　　凡本校大學部二年級以上在學學生，對德語與國際貿易實務和行銷相關領域有興趣，且前一學期學業成績總平均七十五分以上者，均可申請修習。</p>

<p>第三條　　申請時間為每學期開學後第一週，須填寫「淡江大學德語國際企業跨領域學分學程修習申請表」，檢附學生證影本及歷年成績單正本，送交德國語文學系（以下簡稱德文系）辦公室審核。</p>

<p>第四條　　修習科目及學分數：</p>

<p>一、修習本學程之學生必須修畢德語課程至少十六學分及國際貿易基礎、實務和行銷相關課程至少十二學分，方可取得核發學程證明書之資格。</p>

<p>二、學程必、選修科目表詳見「淡江大學德語國際企業跨領域學分學程」課程清單。</p>

<p>第五條　　學程認證：</p>

<p>一、修畢學程規定學分數者，須填寫「學分學程認證申請表」，檢附歷年成績單正本，向德文系辦公室提出認證申請。</p>

<p>二、學程審查：需依第四條規定修畢最低應修習學分數且成績及格。</p>

<p>三、申請學分學程前如已修習學程指定科目，亦可列入審查。</p>

<p>四、經審查通過後，報請學校發給「淡江大學德語國際企業跨領域學分學程學分證明」。</p>

<p>第六條　　學生不得以修習本學程作為申請延畢之理由。</p>

<p>第七條　　本學程課程名稱及學分數如有調整，則依德文系公布之課程清單為準。</p>

<p>第八條　　本規則未盡事宜，悉依教育部及本校相關規定辦理。</p>

<p>第九條　　本規則經教務會議通過，報請校長核定後，自公布日實施；修正時亦同。</p>