<p><span style="font-size:16px"><strong>Type 1. 波昂大學international Office提供的主題及語言課程</strong></span></p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:158px">
			<p><span style="font-size:14px"><strong>課程名稱</strong></span></p>
			</td>
			<td style="width:399px">
			<p style="margin-left:18.0pt"><span style="font-size:14px">課程介紹</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:158px">
			<p><span style="font-size:14px"><strong>Intensivkurs</strong></span></p>

			<p><span style="font-size:14px"><strong>語言密集加強班</strong></span></p>
			</td>
			<td style="width:399px">
			<p><span style="font-size:14px">包含文法、會話、聽力、作文。對文法、文章及寫作方面的加強，老師喜歡採取分組討論，所以同學剛開始要突破不敢開口的心態。</span></p>

			<p><span style="font-size:14px">(老師視學生語言程度來決定，學生是否需上加強班)</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:158px">
			<p><span style="font-size:14px"><strong>Deutsche Medien</strong></span></p>
			</td>
			<td style="width:399px">
			<p><span style="font-size:14px">學習有關德國的大眾傳播媒體知識，例如Zeitung、 Fernsehen、Radio等，如何去寫一篇Anmeldung、報紙的印製過程、去報社及Deutsche Welle參觀，與記者面對面溝通、學習。</span></p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:158px">
			<p><span style="font-size:14px"><strong>Deutsch in Wirtschaft und Handel</strong></span></p>
			</td>
			<td style="width:399px">
			<p><span style="font-size:14px">上課所學習的字彙相當有用，會配合時事，有時也會注重口語練習及自由發揮。</span></p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:158px">
			<p><span style="font-size:14px"><strong>Einf&uuml;hrung in das wissenschaftliche Arbeiten</strong></span></p>
			</td>
			<td style="width:399px">
			<p><span style="font-size:14px">又可分成Landeskunde和Literatur，依學生程度不同來分班。</span></p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:158px">
			<p><span style="font-size:14px"><strong>&Uuml;bersetzung Tamkang</strong></span></p>

			<p><span style="font-size:14px">(專門為淡江而開的翻譯課)</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:399px">
			<p><span style="font-size:14px">分成小組一起翻譯、討論，練習機會很多，老師會詢問學生有興趣的題目，提供翻譯的文章，回家翻譯後，上課一起討論及修正。</span></p>

			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<h3><span style="font-size:14px">Course Types</span></h3>

<p><span style="font-size:14px">Depending on their language skills, international students can choose from&nbsp;classes offered by the International Office and university courses.</span></p>

<p><span style="font-size:14px">1. The International Office offers German language classes on different levels as well as topical courses from areas of German culture, media, politics and&nbsp;history.&nbsp;</span><span style="font-size:14px">2. The course catalogue of the university offers &ldquo;seminars&rdquo; and &ldquo;lectures&rdquo;.&nbsp;Classes are generally held in German, some are taught in English. You can find information on university classes and the online course catalogue</span></p>

<p><span style="font-size:16px"><strong>Type 2. 波昂大學所有科系開設之課程</strong></span></p>

<p>※ 學生可旁聽或申請大學內所有課程，往年學生參加課程例如：(1)波昂大學漢學系(學士課程/研究所課程) (2) 波昂大學日耳曼語言學系課程(語音學/文學/哲學等課程)</p>