<h3 class="news_title">選擇加入我們，立即拓展人生的終極視野</h3>
<div class="eqh-1">

	<p>無論是15-16世紀引起宗教改革的馬丁路德，或是18世紀衝擊整個歐洲大陸的歌德不僅引導當時的思潮走向，其影響力更是跨越時空，直接延續至現今西方世界裡的各項人類文化與科技文明。</p>

	<p>認識德國語文與文學，將可以為您注入無盡的思想能量，同時也串連從古至今人類文明史上最重要的環節，開展您無可取代的生命旅程紀錄 ... [ <a href="#">更多</a> ]</p><img src="/storage/app/media/uploaded-files/img_01.jpg" class="fr-fic fr-dib" data-result="success"></div>