<h1><strong>話說淡水(德文版)</strong></h1>

<h1>&nbsp;</h1>

<h1>
<video controls=""><source src="/storage/app/media/ch1.mp4" /></video>
</h1>

<h1>&nbsp;</h1>

<h1><strong>單字補充</strong></h1>

<ol>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">die Geschichte 歷史</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">der H&uuml;gel 山丘</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">die Legende 傳說</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">das Festland 陸地</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">die Spur蹤跡</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">die Landschaft 風景</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">der Ort 地區</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">die Sehensw&uuml;rdigkeit 名勝古蹟</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">das Schloss 城堡</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">die Stra<a href="https://zh.wikipedia.org/wiki/%C3%9F">&szlig;</a>e 道路</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">die Erkl&auml;rung 解釋</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">der Holl&auml;nder 荷蘭人</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">der Krieg 戰爭</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">die Entsch&auml;digung 賠償</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">der Bewohner 居民</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">die Hauptstadt 首都</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">die Hauptrolle 主角</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">das Schiff 輪船</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">kulturell 文化的</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">die Erholung 休息</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">die M&uuml;ndung 槍砲口</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">die Region 範圍</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">das Flachland 平原</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">das Datum 日期</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">die Wichtigkeit 重要性</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">der Hintergrund 背景</span></span></li>
</ol>