<p><span style="font-size:24px"><strong>德文系戲劇公演- 語言與藝術的完美結合</strong></span></p>

<p><span style="font-size:24px">「藉由戲劇的成果發表，可結合語言、文學藝術等創作&hellip;」</span></p>

<p><span style="font-size:24px">-節錄自 淡江時報858期</span></p>

<p><span style="font-size:24px"><strong>課程簡介</strong></span></p>

<p><span style="font-size:24px">本課程為戲劇表演課程，提供同學多元應用德語的機會。學生須上下學期一併修習，上學期的課程著重劇本 研讀、編劇練習、發音及語調練習。下學期則會有密集彩排，準備公演。</span></p>

<p><span style="font-size:24px"><strong>期末成果發表-戲劇公演</strong></span></p>

<p><span style="font-size:24px">歷屆戲劇公演：</span></p>

<p>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:279px">
			<p><span style="font-size:22px"><strong>2017年 德文系戲劇公演：</strong></span></p>

			<p><span style="font-size:22px">Herz los 失心者</span></p>

			<p><span style="font-size:22px">指導老師： 顏徽玲 老師</span></p>
			</td>
			<td style="width:279px">
			<p><span style="font-size:22px"><strong>2011年 德文系戲劇公演：</strong></span></p>

			<p><span style="font-size:22px">Ist hier noch frei ?</span></p>

			<p><span style="font-size:22px">指導老師: 柯麗芬 老師</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:279px">
			<p><span style="font-size:22px"><strong>2016年 德文系戲劇公演：</strong></span></p>

			<p><span style="font-size:22px">Das Traumfresserchen &nbsp;吃夢精靈<br />
			指導老師: 吳萬寶 老師</span></p>
			</td>
			<td style="width:279px">
			<p><span style="font-size:22px"><strong>2010年 德文系戲劇公演：</strong></span></p>

			<p><span style="font-size:22px">Wer ist W&auml;r ?&nbsp;<br />
			指導老師：Frau Monika Schwabbauer&nbsp;</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:279px">
			<p><span style="font-size:22px"><strong>2015年 德文系戲劇公演：</strong></span></p>

			<p><span style="font-size:22px">Der Kaktus 仙人掌<br />
			指導老師：柯麗芬 老師</span></p>
			</td>
			<td style="width:279px">
			<p><span style="font-size:22px"><strong>2009年 德文系戲劇公演：</strong><br />
			Pippi 的奇幻旅程&nbsp;&nbsp;</span></p>

			<p><span style="font-size:22px">指導老師：Frau Monika Schwabbauer&nbsp;</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:279px">
			<p><span style="font-size:22px"><a href="https://www.facebook.com/Biedrama?fref=ts"><strong>2014</strong><strong>年</strong> <strong>德文系戲劇公演：</strong></a></span></p>

			<p><span style="font-size:22px"><a href="https://www.facebook.com/Biedrama?fref=ts">Biedermann und die Brandstifter </a><br />
			(彼先生與縱火犯)</span></p>

			<p><span style="font-size:22px">指導老師: Herr Prof. Holger Steidele&nbsp;</span></p>
			</td>
			<td style="width:279px">
			<p><span style="font-size:22px"><strong>2008年 德文系戲劇公演：</strong><br />
			Wer ist Arschenputtel ?&nbsp;&nbsp;</span></p>

			<p><span style="font-size:22px">指導老師：Frau Monika Schwabbauer</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:279px">
			<p><span style="font-size:22px">&nbsp;<strong>2013年 德文系戲劇公演：</strong></span></p>

			<p><span style="font-size:22px">Woyzeck&nbsp;沃依采克<br />
			指導老師: Herr Prof. Holger Steidele&nbsp;</span></p>

			<p><span style="font-size:22px"><strong>2013年 德文系畢業戲劇公演：</strong></span></p>

			<p><span style="font-size:22px">N&auml;chMer? Total Ver-r&uuml;ckt! 童話事故<br />
			指導老師: 柯麗芬 老師</span></p>
			</td>
			<td style="width:279px">
			<p><span style="font-size:22px"><strong>2007年 德文系戲劇公演：</strong><br />
			Besuchen Sie Europa&nbsp;</span></p>

			<p><span style="font-size:22px">指導老師： Prof. Dr. Reinhard D&uuml;ssel&nbsp;</span><br />
			&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:279px">
			<p><span style="font-size:22px"><strong>2012年 德文系戲劇公演：</strong></span></p>

			<p><span style="font-size:22px">Die Mysteri&ouml;se Statue&nbsp;&nbsp;<br />
			指導老師: Herr Prof. Roland Bednarsch</span></p>
			</td>
			<td style="width:279px">
			<p><span style="font-size:22px"><strong>2006年 德文系戲劇公演：</strong><br />
			Szenen aus Elisabeth&nbsp;<br />
			指導老師： Prof. Dr. Reinhard D&uuml;ssel&nbsp;</span></p>

			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>