<p><big><strong>A. 修業規定(適用107學年度起之入學新生)</strong></big></p>

<p>一、本系修業年限四年。<span class="marker">107學年度起之入學新生畢業學分為128學分。</span></p>

<p>二<span class="marker">、本系系必修66學分，系選修最低修20學分，其餘為校定(26學分)及自由選修學分(16學分)。</span></p>

<p>三、擋修規定:自88學年度入學新生起，大一下學期修讀「初級德文讀本」不及格者，不能直接修讀大二之「中級德文讀本」課程；</p>

<p>&nbsp; &nbsp; &nbsp;「初級德文文法」&nbsp;不及格者，不能直接修讀大二之「中級德文文法」課程，必待重修及格後，始得修之。</p>

<p>四、自106學年起，大一上下學期之「初級德文文法」&nbsp;與「初級德文讀本」列為「深化課程」。評量方&nbsp;&nbsp;&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp; 式除增加上下學期各一次「會考」外，期中考與期末考皆採教師共同命題。三項評量所占學期成</p>

<p>&nbsp;&nbsp;&nbsp; 績各為:會考(5%)、期中考(30%)、期末考(30%)。</p>

<p>五、經96學年度第二學期系務會議通過，自97學年度起入學新生及修習德文系為雙主修學生者，需通</p>

<p>&nbsp;&nbsp; 過德語能力畢業標準 (Zertifikat Deutsch B1)。</p>

<p>&nbsp; &nbsp;規則如附件:<a href="https://drive.google.com/file/d/13LyQqwOQZ_9SpFgVptK5HXNOQUwSmNxw/view?usp=sharing"> </a><a href="https://drive.google.com/file/d/1XewNEm-lNk6gxJPOzvd2sXYmvdb61k7w/view?usp=sharing">&nbsp;淡江大學外國語文學院德國語文學系學生德語能力 畢業標準檢定規則</a></p>

<p>六、<span style="color:#ff0000">自106學年度入學新生需通過<strong>全民英檢中級初試</strong><strong>或多益</strong><strong>(TOEIC)550</strong><strong>分以上</strong>者，方能畢業。</span></p>

<p>七、經97學年度第一學期系務會議通過，凡通過&nbsp;Zertifikat Deutsch德文檢定考B2級以上者，可憑</p>

<p>&nbsp;&nbsp; 其證書至系辦領取獎學金壹仟元整。</p>

<p>&nbsp;</p>

<p><big><strong>B、修業規定(適用106學年度入學新生)</strong></big></p>

<p>一、本系修業年限四年。<span class="marker"><strong>106學年度入學新生</strong>畢業學分為<strong>140學分</strong>。</span></p>

<p>二、<span class="marker">本系系必修74學分，系選修最低修21學分，其餘為校定(26學分)及自由選修學分(19學分)。</span></p>

<p>三、擋修規定:自88學年度入學新生起，大一下學期修讀「初級德文讀本」不及格者，不能直接修讀大二之「中級德文讀本」課程；</p>

<p>&nbsp; &nbsp; &nbsp;「初級德文文法」&nbsp;不及格者，不能直接修讀大二之「中級德文文法」課程，必待重修及格後，始得修之。</p>

<p>四、自106學年起，大一上下學期之「初級德文文法」&nbsp;與「初級德文讀本」列為「深化課程」。評量方&nbsp;&nbsp;&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp; 式除增加上下學期各一次「會考」外，期中考與期末考皆採教師共同命題。三項評量所占學期成</p>

<p>&nbsp;&nbsp;&nbsp; 績各為:會考(5%)、期中考(30%)、期末考(30%)。</p>

<p>五、經96學年度第二學期系務會議通過，自97學年度起入學新生及修習德文系為雙主修學生者，需通</p>

<p>&nbsp;&nbsp; 過德語能力畢業標準 (Zertifikat Deutsch B1)。</p>

<p>&nbsp; &nbsp;規則如附件:<a href="https://drive.google.com/file/d/13LyQqwOQZ_9SpFgVptK5HXNOQUwSmNxw/view?usp=sharing"> </a><a href="https://drive.google.com/file/d/1XewNEm-lNk6gxJPOzvd2sXYmvdb61k7w/view?usp=sharing">&nbsp;淡江大學外國語文學院德國語文學系學生德語能力 畢業標準檢定規則</a></p>

<p>六、<span style="color:#008000">自106學年度入學新生需通過<strong>全民英檢中級初試</strong><strong>或多益</strong><strong>(TOEIC)550</strong><strong>分以上</strong>者，方能畢業。</span></p>

<p>七、經97學年度第一學期系務會議通過，凡通過&nbsp;Zertifikat Deutsch德文檢定考B2級以上者，可憑</p>

<p>&nbsp;&nbsp; 其證書至系辦領取獎學金壹仟元整。</p>

<p>&nbsp;</p>

<p><big><strong>C、修業規定(適用97~105學年度之入學新生)</strong></big></p>

<p>一、<span class="marker">本系修業年限四年。97~105<strong>學年度入學新生</strong>畢業學分為<strong>140學分</strong>。</span></p>

<p>二、<span class="marker">本系系必修74學分，系選修最低修21學分，其餘為校定(31學分)及自由選修學分(14學分)。</span></p>

<p>三、擋修規定:自88學年度入學新生起，大一下學期修讀「初級德文讀本」不及格者，不能直接修讀大二之「中級德文讀本」課程；</p>

<p>&nbsp; &nbsp; &nbsp;「初級德文文法」&nbsp;不及格者，不能直接修讀大二之「中級德文文法」課程，必待重修及格後，始得修之。</p>

<p>四、自106學年起，大一上下學期之「初級德文文法」&nbsp;與「初級德文讀本」列為「深化課程」。評量方&nbsp;&nbsp;&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp; 式除增加上下學期各一次「會考」外，期中考與期末考皆採教師共同命題。三項評量所占學期成</p>

<p>&nbsp;&nbsp;&nbsp; 績各為:會考(5%)、期中考(30%)、期末考(30%)。</p>

<p>五、經96學年度第二學期系務會議通過，自97學年度起入學新生及修習德文系為雙主修學生者，需通</p>

<p>&nbsp;&nbsp; 過德語能力畢業標準 (Zertifikat Deutsch B1)。</p>

<p>&nbsp; &nbsp;規則如附件:<a href="https://drive.google.com/file/d/13LyQqwOQZ_9SpFgVptK5HXNOQUwSmNxw/view?usp=sharing"> </a><a href="https://drive.google.com/file/d/1XewNEm-lNk6gxJPOzvd2sXYmvdb61k7w/view?usp=sharing">&nbsp;淡江大學外國語文學院德國語文學系學生德語能力 畢業標準檢定規則</a></p>

<p>六、<span style="color:#006400">97~105學年度起入學新生需通過<strong>全民英檢中級初試</strong><strong>或多益</strong><strong>(TOEIC)450</strong><strong>分以上</strong>者，方能畢業。</span></p>

<p>七、經97學年度第一學期系務會議通過，凡通過&nbsp;Zertifikat Deutsch德文檢定考B2級以上者，可憑</p>

<p>&nbsp;&nbsp; 其證書至系辦領取獎學金壹仟元整。</p>