<p><img src="https://www.tfgx.tku.edu.tw/storage/app/media/uploaded-files/123.jpg" style="width: 2500px; height: 1645.56px;" class="fr-fic fr-dib fr-fil" data-result="success"></p>

<h1>
	<br>
</h1>

<p>
	<br>
</p>

<h1><span style="font-size:20px"><strong>&nbsp;</strong></span></h1>

<p>
	<br>
</p>