<p>&nbsp;</p>

<table align="left" border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="background-color:#1abc9c">
			<p><strong>1</strong></p>
			</td>
			<td>綜合文法練習書(掃描檔)/Die &Uuml;bung von Frau Pichardo 2012：</td>
			<td><a href="https://wirhabendeutsch.files.wordpress.com/2012/05/frau-pichardos-c3bcbungen-2011-123.pdf">https://wirhabendeutsch.files.wordpress.com/2012/05/frau-pichardos-c3bcbungen-2011-123.pdf</a></td>
		</tr>
		<tr>
			<td style="background-color:#1abc9c">
			<p><strong>2</strong></p>
			</td>
			<td>(不定冠詞/形容詞字尾變化) Schritte 線上練習網頁：</td>
			<td><a href="https://www.hueber.de/shared/uebungen/schritte-international/fset.php?Volume=4&amp;Lection=2&amp;Exercise=1&amp;SubExercise=1">https://www.hueber.de/shared/uebungen/schritte-international/fset.php?Volume=4&amp;Lection=2&amp;Exercise=1&amp;SubExercise=1</a></td>
		</tr>
		<tr>
			<td style="background-color:#1abc9c">
			<p><strong>3</strong></p>
			</td>
			<td>(形容詞字尾變化) Schubert Sprachniveau A2：</td>
			<td><a href="https://www.schubert-verlag.de/aufgaben/xg/xg05_15.htm">https://www.schubert-verlag.de/aufgaben/xg/xg05_15.htm</a></td>
		</tr>
		<tr>
			<td style="background-color:#1abc9c">
			<p><strong>4</strong></p>
			</td>
			<td>(形容詞字尾變化)Adjektivendungen- &Uuml;bungen(掃描檔+詳解)</td>
			<td><a href="http://people.ucls.uchicago.edu/~mzemil/9thgerman/ADJEKTIVENDUNGEN.pdf">http://people.ucls.uchicago.edu/~mzemil/9thgerman/ADJEKTIVENDUNGEN.pdf</a></td>
		</tr>
		<tr>
			<td style="background-color:#1abc9c">
			<p><strong>5</strong></p>
			</td>
			<td>(不定冠詞/形容詞字尾變化)綜合練習- Schubert B2:</td>
			<td><a href="https://www.schubert-verlag.de/aufgaben/uebungen_b2/b2_deklination-adjektive1.htm">https://www.schubert-verlag.de/aufgaben/uebungen_b2/b2_deklination-adjektive1.htm</a><br />
			&nbsp;<br />
			&nbsp;</td>
		</tr>
	</tbody>
</table>