<p>&nbsp;</p>

<p><span style="font-size:20px"><span style="color:#0000ff"><strong><span style="font-family:Georgia,serif">Performance</span></strong></span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">Among the German departments in Taiwan, the TKU German department is one of the earliest established departments. In his over fifty year&rsquo;s history, the department has built his reputation, and the professors have made tremendous contributions in the academic field of study of language teaching, German literature, and cultural study.</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">The research of full-time faculty members at present stretch from Germen as a Foreign Language, modern German literature, phraseology, German linguistics, fiction and society, cognitive linguistics, translation studies, to 18 and 20 century modern literature and media studies.</span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px"><span style="color:#0000cd"><strong><span style="font-family:Georgia,serif">Research</span></strong></span></span></p>

<p>&nbsp;</p>

<p><span style="color:#006400"><strong><span style="font-family:Georgia,serif"><span style="font-size:18px">Germen as a foreign language</span></span></strong></span></p>

<ul>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Assistant Professor Dr. Chang, Hsiu-Chuan</span></span></li>
</ul>

<p>&nbsp;</p>

<p><span style="color:#006400"><strong><span style="font-family:Georgia,serif"><span style="font-size:18px">German literature</span></span></strong></span></p>

<ul>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Assistant Professor Dr. Cheng, Hui-Chun</span></span></li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Assistant Professor Dr. Lin, Yu-Hsien</span></span></li>
</ul>

<p>&nbsp;</p>

<p><span style="color:#006400"><strong><span style="font-family:Georgia,serif"><span style="font-size:18px">German linguistic</span></span></strong></span></p>

<ul>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Assistant Professor Dr. Holger Steidele</span></span></li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Assistant Professor Dr. Yen, Huei-Ling</span></span></li>
</ul>

<p>&nbsp;</p>

<p><span style="color:#006400"><strong><span style="font-family:Georgia,serif"><span style="font-size:18px">European and Chinese History</span></span></strong></span></p>

<ul>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Assistant Professor Dr. Michael Sch&ouml;n</span></span></li>
</ul>

<p>&nbsp;</p>

<p><span style="color:#006400"><strong><span style="font-family:Georgia,serif"><span style="font-size:18px">European Studies</span></span></strong></span></p>

<ul>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Professor Dr. WU, Wan-Bau</span></span></li>
</ul>

<p>&nbsp;</p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">About the academic performance, here the link: <a href="http://www.tfgx.tku.edu.tw/german/journal_paper/251">http://www.tfgx.tku.edu.tw/german/journal_paper/251</a></span></span></p>