<p><span style="font-family:Georgia,serif"><span style="font-size:18px">Der Studiengang wird im Rahmen eines Bachelor-Studiums studiert und hat einen Umfang von 128 Leistungspunkten (LP). Die Regelstudienzeit betr&auml;gt 4 Jahren.</span></span></p>

<p>&nbsp;</p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">Die 128 LP sind in zwei Gruppen aufgeteilt. Zur Gruppe I geh&ouml;ren die Kurse, die als Wahlpflichtkurse auf der universit&auml;ren Ebene angeboten werden. Zur Gruppe II geh&ouml;ren die Kurse, die bei der Deutschabteilung erworben werden m&uuml;ssen bzw. k&ouml;nnen.</span></span></p>

<p>&nbsp;</p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">Das Studium der deutschen Sprache, Literatur und Kultur hat es zum Ziel, die Studierende auf entsprchende Berufsfelder zu qualifizieren. Die Abteilung bietet vielf&auml;ltige Lehrf&auml;cher nicht nur in der Bereiche der deutschen Sprache, Literatur und Kultur, aber auch in dem wirtschaftlichen und politischen Gebiet.</span></span></p>