<p><span style="font-size:22px;"><strong><span style="font-family:Georgia,serif;">Bewerbung und Zulassung</span></strong></span></p>

<p>&nbsp;</p>

<p><span style="font-size:18px;"><span style="font-family:Georgia,serif;">Jedes Jahr werden 60 Studienplätze für Bewerber*innen, die ihre Hochschulzugangsberechtigungen an einer taiwanesischen Schule erworben haben, geboten. Bewerber*Innen, die eine ausländische Hochschulzugangsberechtigung besitzen, müssen einige Dingen beachten, die für Bewerbung wichtig sind.</span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:18px;"><span style="color:#0000cd;"><strong><span style="font-family:Georgia,serif;">1. Für die Bewerber*innen, die ihre Hochschulzugangsberechtigungen an einer taiwanesischen Schule erworben haben:</span></strong></span></span></p>

<ul>
	<li><span style="font-size:18px;"><span style="font-family:Georgia,serif;">Referenz vom Gymnasium</span></span></li>
	<li><span style="font-size:18px;"><span style="font-family:Georgia,serif;">Selbstbewerbung durch Hochschulaufnahmeprüfung</span></span></li>
	<li><span style="font-size:18px;"><span style="font-family:Georgia,serif;">Advanced Subjects Test (AST)</span></span></li>
</ul>

<p>&nbsp;</p>

<p><span style="font-size:18px;"><span style="color:#0000cd;"><strong><span style="font-family:Georgia,serif;">2. Für die Uni-Wechseler:</span></strong></span></span></p>

<ul>
	<li><span style="font-size:18px;"><span style="font-family:Georgia,serif;">Bewerbung für 3. Fachsemester: Chinesisch und Englisch Prüfungen erforderlich</span></span></li>
	<li><span style="font-size:18px;"><span style="font-family:Georgia,serif;">Bewerbung für 5. Fachsemester: Prüfungen der deutschen Grammatik und der deutschen Textproduktion erforderlich</span></span></li>
	<li><span style="font-size:18px;"><span style="font-family:Georgia,serif;">Mehr Info: <a href="https://adms.tku.edu.tw/">https://adms.tku.edu.tw/</a></span></span></li>
</ul>

<p>&nbsp;</p>

<p><span style="font-size:18px;"><span style="color:#0000cd;"><strong><span style="font-family:Georgia,serif;">3. Für die Bewerber*innen, die eine ausländische Hochschulzugangsberechtigung besitzen:</span></strong></span></span></p>

<ul>
	<li><span style="font-size:18px;"><span style="font-family:Georgia,serif;">Bewerbung durch University Entrance Committee for Oversea Chinese Students:&nbsp;</span>
		<br> <span style="font-family:Georgia,serif;"><a href="https://cmn-hant.overseas.ncnu.edu.tw/node/49">https://cmn-hant.overseas.ncnu.edu.tw/node/49</a></span></span></li>
	<li><span style="font-size:18px;"><span style="font-family:Georgia,serif;">Selbstbewerbung: <a href="http://english.tku.edu.tw/StudyinTKU.asp">http://english.tku.edu.tw/StudyinTKU.asp</a></span></span></li>
</ul>