<p>&nbsp;</p>

<p><span style="font-size:20px"><span style="font-family:Georgia,serif"><span style="color:#0000cd"><strong>1. Brief Introduction</strong></span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px"><span style="font-family:Georgia,serif">The German department was founded in 1963, as a German section under the Department of Foreign Languages and Literatures. In 1975 the German section was allowed to upgrade its status to Department level, which means it could have its own faculty members and staffs. The Goal of the German Department aims at educating students with high competence of Germen language skill and acknowledge, so that they can engage in diplomacy and foreign trade.</span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px"><span style="font-family:Georgia,serif">Since 1994 the department implements Junior Abroad Program, it sends every year about 20 students to Bonn University, Germany, to study there for one year. But the program was regrettably expired by the Bonn University in 2020. In order to provide the students with the chance to study in abroad, in 2021 we signed a Student Exchange Program with the University of Saarland, Germany, and are entitled to send 6 exchange students to study there for one year.</span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px"><span style="font-family:Georgia,serif">According with the internationalization policy of the TKU, the department selects each year 5 exchange students to study in Bonn and Cologne universities, Germany, also for one year. In addition, the department provides an opportunity for all students to participate the summer camps which hold in German universities.</span></span></p>

<p><span style="font-size:20px"><span style="font-family:Georgia,serif">In school year 110 (2021), there are seven full-time faculty members: one professor, one associate professor and five assistant professors. All our full-time faculty members are graduated from German universities und have received their doctor degreed in Germany. In addition, we have 12 part-time faculty members, most of whom have received their MA degreed from German universities. The expertise of our full-time faculty members stretch from German literature, linguistic, foreign language teaching to European studies.</span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px"><span style="font-family:Georgia,serif"><span style="color:#0000cd"><strong>2. The goals of the department</strong></span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px"><span style="font-family:Georgia,serif">The department offers diversified subjects in order to educate the students to have a competent knowledge of German:</span></span></p>

<p><span style="font-size:20px"><span style="font-family:Georgia,serif">a. the competence of oral presentation and listen comprehension according to CFER B1.</span></span></p>

<p><span style="font-size:20px"><span style="font-family:Georgia,serif">b. the competence of reading and writing according to CFER B1.</span></span></p>

<p><span style="font-size:20px"><span style="font-family:Georgia,serif">c. the competence of translation from German into Chinese.</span></span></p>

<p><span style="font-size:20px"><span style="font-family:Georgia,serif">d. competent knowledge of German literature and culture</span></span></p>

<p><span style="font-size:20px"><span style="font-family:Georgia,serif">e. the ability of learn by oneself, and the competence of colleting, analyzing of German material and giving an oral presentation.</span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px"><span style="font-family:Georgia,serif"><span style="color:#0000cd"><strong>3. Successive Chairpersons</strong></span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:18px"><span style="font-family:Georgia,serif">1963.08-1966.10&nbsp;&nbsp;&nbsp; Mr. Hsu Che-Chih</span></span></p>

<p><span style="font-size:18px"><span style="font-family:Georgia,serif">1966.10-1972.07&nbsp;&nbsp;&nbsp; Mr. Liu Shih-Hsiang</span></span></p>

<p><span style="font-size:18px"><span style="font-family:Georgia,serif">1972.08-1978.27&nbsp;&nbsp;&nbsp; Mr. Tao Wei</span></span></p>

<p><span style="font-size:18px"><span style="font-family:Georgia,serif">1978.08-1982.07&nbsp;&nbsp;&nbsp; Mr. Hsiao Shih-Shiung</span></span></p>

<p><span style="font-size:18px"><span style="font-family:Georgia,serif">1982.08-1990.07&nbsp;&nbsp;&nbsp; Dr. Chung Ying-Yen</span></span></p>

<p><span style="font-size:18px"><span style="font-family:Georgia,serif">1990.08-1994.07&nbsp;&nbsp;&nbsp; Dr. Kuo Chiu-Ching</span></span></p>

<p><span style="font-size:18px"><span style="font-family:Georgia,serif">1994.08-2000.07&nbsp;&nbsp;&nbsp; Dr. Lai Li-Hsiu</span></span></p>

<p><span style="font-size:18px"><span style="font-family:Georgia,serif">2000.08-2006.07&nbsp;&nbsp;&nbsp; Dr. Roland Bednarsch</span></span></p>

<p><span style="font-size:18px"><span style="font-family:Georgia,serif">2006.08-2010.07&nbsp;&nbsp;&nbsp; Mrs. Wei Jung-Chih M.A.</span></span></p>

<p><span style="font-size:18px"><span style="font-family:Georgia,serif">2010.08-2016.07&nbsp;&nbsp;&nbsp; Dr. Chung Ying-Yen</span></span></p>

<p><span style="font-size:18px"><span style="font-family:Georgia,serif"><span style="color:#000000">2016.08-&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Dr. Wu, Wan-Bau</span></span></span></p>

<p>&nbsp;</p>