<p style="margin-left:36.0pt"><strong>【產學合作「電子商務產品翻譯應用與服務」】</strong></p>

<p style="margin-left:36.0pt">105學年度本系6位學生參與淡江大學德國語文學系與敦煌書局股份有限公司之產學合作計畫「電子商務產品翻譯應用與服務」。</p>

<p style="margin-left:36.0pt">本計畫稿件數量總計267篇(共計20000字)，合作時間為105年9月起至106年5月，內容為德文教科書籍簡介、德語文學作品暨作者簡介等翻譯。</p>

<hr />
<p style="margin-left:36.0pt">&nbsp;</p>

<p style="margin-left:36.0pt"><strong>【禮寶有限公司】</strong></p>

<p style="margin-left:36.0pt"><strong>103學年度</strong>與禮寶有限公司締結聯盟，拓展產學合作交流</p>

<p style="margin-left:36.0pt">&nbsp;</p>

<p style="margin-left:30.0pt">淡江大學德文系部份課程規劃可至禮寶有限公司參訪，瞭解實務運作。</p>

<p style="margin-left:30.0pt">淡江大學德文系每學年1-5名學生，於寒、暑假或課程中，於禮寶有限公司實習。</p>

<hr />
<p style="margin-left:36.0pt">&nbsp;</p>

<p style="margin-left:36.0pt"><strong>【上林文化事業有限公司】</strong></p>

<p style="margin-left:36.0pt">&nbsp;</p>

<p style="margin-left:36.0pt"><strong>103學年度</strong>與上林文化事業有限公司締結聯盟，拓展產學合作交流</p>

<p style="margin-left:36.0pt">&nbsp;</p>

<p style="margin-left:30.0pt">(一) 淡江大學德文系部份課程規劃可至上林文化事業有限公司參訪，瞭解實務運作。</p>

<p style="margin-left:30.0pt">(二) 淡江大學德文系每學年1名學生，於寒、暑假或課程中，於上林文化事業有限公司實習。</p>

<hr />
<p style="margin-left:36.0pt"><strong>【八金印國際有限公司】</strong></p>

<p style="margin-left:36.0pt"><strong>103學年度</strong>與<strong>八金印國際有限公司</strong>締結聯盟，拓展產學合作交流</p>

<p style="margin-left:36.0pt">&nbsp;</p>

<p style="margin-left:30.0pt">淡江大學德文系部份課程規劃可至八金印國際有限公司參訪，瞭解實務運作。</p>

<p style="margin-left:30.0pt">淡江大學德文系每學年1-5名學生，於寒、暑假或課程中，於八金印國際有限公司實習。</p>

<hr />
<p>&nbsp; &nbsp; <strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;【97學年度 產學合作計畫-救國團總部】</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>

<table align="left" border="1" cellpadding="0" cellspacing="0" style="width:100%">
	<tbody>
		<tr>
			<td style="width:20.24%">
			<p>活動名稱</p>
			</td>
			<td style="width:79.76%">
			<p>產學合作計畫</p>
			</td>
		</tr>
		<tr>
			<td style="width:20.24%">
			<p>活動日期</p>
			</td>
			<td style="width:79.76%">
			<p>97/02/27</p>
			</td>
		</tr>
		<tr>
			<td style="width:20.24%">
			<p>與會人員</p>
			</td>
			<td style="width:79.76%">
			<p>救國團總部 文教處處長、總幹事、淡江德文系系主任及相關人員</p>
			</td>
		</tr>
		<tr>
			<td style="width:20.24%">
			<p>舉辦地點</p>
			</td>
			<td style="width:79.76%">
			<p>救國團總部</p>
			</td>
		</tr>
	</tbody>
</table>