<p>&nbsp;</p>

<p><span style="font-size:16px"><strong>德文系戲劇公演- 語言與藝術的完美結合</strong></span></p>

<p><span style="font-size:16px">「藉由戲劇的成果發表，可結合語言、文學藝術等創作&hellip;」-節錄自 淡江時報858期</span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px"><strong>課程簡介</strong></span></p>

<p><span style="font-size:16px">本課程為戲劇表演課程，提供同學多元應用德語的機會。學生須上下學期一併修習，上學期的課程著重劇本研讀、編劇練習、發音及語調練習。下學期則會有密集彩排，準備公演。</span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px"><strong>期末成果發表-戲劇公演</strong></span></p>

<p><span style="font-size:16px">歷屆戲劇公演：</span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px"><strong>2019年 德文系戲劇公演：</strong><a href="https://www.facebook.com/TKUdeutschestheater/">Die Physiker物理學家</a>，指導老師：林郁嫺老師<br />
(日期：2019/05/06實驗劇場；05/09 淡水殼牌倉庫)</span></p>

<p><span style="font-size:16px"><strong>2018年 德文系戲劇公演：</strong>LEONCE&amp;LENA，指導老師： Herr Prof. Holger Steidele (日期：2018/05/22)</span></p>

<p><span style="font-size:16px"><strong>2017年 德文系戲劇公演：</strong>Herz los 失心者，指導老師： 顏徽玲 老師</span></p>

<p><span style="font-size:16px"><strong>2016年 德文系戲劇公演：</strong>Das Traumfresserchen &nbsp;吃夢精靈，指導老師: 吳萬寶 老師</span></p>

<p><span style="font-size:16px"><strong>2015年 德文系戲劇公演：</strong>Der Kaktus 仙人掌，指導老師：柯麗芬 老師</span></p>

<p><span style="font-size:16px"><strong>2014年</strong>&nbsp;<strong>德文系戲劇公演：</strong><a href="https://www.facebook.com/Biedrama?fref=ts">Biedermann und die Brandstifter&nbsp;</a>(彼先生與縱火犯)，指導老師: Herr Prof. Holger Steidele&nbsp;</span></p>

<p><span style="font-size:16px"><strong>2013年 德文系戲劇公演：</strong>Woyzeck&nbsp;沃依采克，指導老師: Herr Prof. Holger Steidele</span></p>

<p><span style="font-size:16px"><strong>2013年 德文系畢業戲劇公演：</strong>N&auml;chMer? Total Ver-r&uuml;ckt! 童話事故，指導老師: 柯麗芬 老師</span></p>

<p><span style="font-size:16px"><strong>2012年 德文系戲劇公演：</strong>Die Mysteri&ouml;se Statue，指導老師: Herr Prof. Roland Bednarsch</span></p>

<p><span style="font-size:16px"><strong>2011年 德文系戲劇公演：</strong>Ist hier noch frei?，指導老師: 柯麗芬 老師</span></p>

<p><span style="font-size:16px"><strong>2010年 德文系戲劇公演：</strong>Wer ist W&auml;r?，指導老師：Frau Monika Schwabbauer</span></p>

<p><span style="font-size:16px"><strong>2009年 德文系戲劇公演：</strong>Pippi 的奇幻旅程，指導老師：Frau Monika Schwabbauer</span></p>

<p><span style="font-size:16px"><strong>2008年 德文系戲劇公演：</strong>Wer ist Arschenputtel ?，指導老師：Frau Monika Schwabbauer</span></p>

<p><span style="font-size:16px"><strong>2007年 德文系戲劇公演：</strong>Besuchen Sie Europa，指導老師： Prof. Dr. Reinhard D&uuml;ssel</span></p>

<p><span style="font-size:16px"><strong>2006年 德文系戲劇公演：</strong>Szenen aus Elisabeth&nbsp;，指導老師： Prof. Dr. Reinhard D&uuml;ssel</span></p>

<p>&nbsp;</p>