<div style="text-align: center;"><strong><span style="font-size:16px">淡江大學德國語文學系新生抵免德語課程實施要點</span></strong></div>

<div style="text-align: center;"><span style="font-size:16px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></div>

<div style="text-align: center;"><span style="font-size:16px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 107.10.24 107學年度第1學期教務會議通過</span></div>

<div style="text-align: right;">&nbsp;</div>

<div style="margin-left: 62pt;">&nbsp;</div>

<div style="margin-left: 24pt;"><span style="font-size:14px">一、為使修習過德語之德國語文學系（以下簡稱本系）新生能抵免初級德語課程，特訂定「淡江大學德國語文學系新生抵免德語課程實施要點」（以下簡稱本要點），並自一百零七學年度入學新生起適用。</span></div>

<div style="margin-left: 24pt;"><span style="font-size:14px">二、本系新生、輔系生及雙主修學生符合下列條件之一者，得於入學或申請通過修習輔系、雙主修資格當學期開學後二週內，填寫「德國語文學系新生抵免德語課程申請表」，向本系申請抵免德語課程：</span></div>

<div style="margin-left: 48pt;"><span style="font-size:14px">(一)具有</span></div>

<div style="margin-left: 60pt;"><span style="font-size:14px">1.歌德學院 Zertifikat Deutsch A2證書，或</span></div>

<div style="margin-left: 60pt;"><span style="font-size:14px">2.財團法人語言測驗中心FLPT A2證書</span></div>

<div style="margin-left: 60pt;"><span style="font-size:14px">可抵免一年級上學期「德語語言練習(一)(2/2)」或「德語會話(一)(2/2)」2學分。</span></div>

<div style="margin-left: 48pt;"><span style="font-size:14px">(二)具有</span></div>

<div style="margin-left: 60pt;"><span style="font-size:14px">1.歌德學院 Zertifikat Deutsch B1證書，或</span></div>

<div style="margin-left: 60pt;"><span style="font-size:14px">2.財團法人語言測驗中心FLPT B1證書&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>

<div style="margin-left: 60pt;"><span style="font-size:14px">可抵免一年級「德語語言練習(一)(2/2)」或「德語會話(一)(2/2)」4學分。</span></div>

<div style="margin-left: 24pt;"><span style="font-size:14px">三、上列核准抵免之課程，可計入畢業學分數內。</span></div>

<div><span style="font-size:14px">&nbsp; &nbsp; &nbsp; &nbsp; 四、本要點經教務會議通過，報請校長核定後，自公布日實施；修正時亦同</span></div>