<p>&nbsp;</p>

<p><span style="color:#ff0000"><span style="font-size:20px"><strong>【<span style="font-family:Comic Sans MS,cursive">110學年度上學期德文系教師輔導</span></strong>】</span></span></p>

<p>&nbsp;</p>

<ul>
	<li><span style="font-family:Comic Sans MS,cursive"><span style="font-size:16px"><strong>輔導地點：<span style="color:#0000ff">外語學院德語特區</span></strong><span style="color:#0000ff"><strong>FL117or 教師研究室</strong></span></span></span></li>
	<li><span style="font-family:Comic Sans MS,cursive"><span style="font-size:16px"><strong>輔導時間：</strong>請參閱教師駐德語特區時間表</span></span></li>
	<li><span style="font-family:Comic Sans MS,cursive"><span style="font-size:16px"><strong>預約方式：</strong></span></span><span style="font-family:Comic Sans MS,cursive"><span style="font-size:16px">教師輔導採<strong>登記制</strong>，請同學<span style="color:#008000"><u><strong>最遲須於輔導前1天至</strong></u></span><span style="color:#ff0000"><u><strong>系辦</strong></u></span><span style="color:#008000"><u><strong>填寫</strong></u></span><span style="color:#0000ff"><u><strong>登記表</strong></u></span><span style="color:#008000"><u><strong>及</strong></u></span><span style="color:#800080"><u><strong>預約單</strong></u></span>，<span style="color:#ff0000"><strong>預約單填寫完畢後，請自行放入老師系辦信箱</strong></span>。並於時間內準時抵達FL117或教師研究室等候老師，若無故爽約兩次以上，則取消本學期預約教師輔導資格。</span></span><span style="font-family:Comic Sans MS,cursive"><span style="font-size:16px">預約可採取小組或單人方式，小組預約盡量以不超過3人為原則，人數超過的話，建議分批預約。</span></span></li>
	<li><span style="font-family:Comic Sans MS,cursive"><span style="font-size:16px"><strong>注意事項：</strong>使用完特區請維持環境整潔，電腦、冷氣記得關機，留給下一位使用者乾淨的環境。</span></span></li>
	<li><span style="font-family:Comic Sans MS,cursive"><span style="font-size:16px"><strong>防疫注意事項：</strong>為因應COVID-19疫情，請各位同學於輔導時務必配戴口罩，並於輔導前先至系辦用酒精消毒雙手。</span></span></li>
</ul>

<p>&nbsp;</p>

<p><img src="/storage/app/media/cropped-images/0001-0-0-0-0-1634633395.jpg" /><br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>