<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td colspan="11" style="height:46px; width:638px">
			<p style="text-align:center"><span style="font-size:16px"><strong>淡江大學德國語文學系108學年度起入學新生<u>必修</u>科目表</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="height:44px">
			<p><strong><span style="font-size:14px">科&nbsp;&nbsp; 目&nbsp;&nbsp; 名&nbsp;&nbsp; 稱</span></strong></p>
			</td>
			<td style="height:44px">
			<p><strong><span style="font-size:14px">學分數</span></strong></p>
			</td>
			<td style="height:44px">
			<p><strong><span style="font-size:14px">一上</span></strong></p>
			</td>
			<td style="height:44px">
			<p><strong><span style="font-size:14px">一下</span></strong></p>
			</td>
			<td style="height:44px">
			<p><strong><span style="font-size:14px">二上</span></strong></p>
			</td>
			<td style="height:44px">
			<p><strong><span style="font-size:14px">二下</span></strong></p>
			</td>
			<td style="height:44px">
			<p><strong><span style="font-size:14px">三上</span></strong></p>
			</td>
			<td style="height:44px">
			<p><strong><span style="font-size:14px">三下</span></strong></p>
			</td>
			<td style="height:44px">
			<p><strong><span style="font-size:14px">四上</span></strong></p>
			</td>
			<td style="height:44px">
			<p><strong><span style="font-size:14px">四下</span></strong></p>
			</td>
			<td style="height:44px; width:62px">
			<p><strong><span style="font-size:14px">備註</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">德語語言練習（一）<em>＊需上實習課</em></span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">4</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">德語會話（一）</span></strong></p>
			</td>
			<td style="height:16px">
			<p><span style="font-size:14px"><strong>4</strong></span></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">初級德文（文法）</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">8</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">4</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">4</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">初級德文（讀本）</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">8</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">4</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">4</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">大學學習</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">1</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">1</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">社團學習與實作-入門課程</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">1</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">1</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">校園與社區服務學習</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">軍訓（一）</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">護理（一）</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">男生體育（一）</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">女生體育（一）</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">英文(一)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>＊需上實習課</em></span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">4</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>Q群</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">德語語言練習（二）<em>＊需上實習課</em></span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">1</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">1</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">德語會話（二）</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">4</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">中級德文(讀本)</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">8</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">4</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">4</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">中級德文(文法)</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">4</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">德文作文（一）</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">4</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">中國語文能力表達</span></strong></p>
			</td>
			<td style="height:16px">
			<p><span style="font-size:14px"><strong>2</strong></span></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p><span style="font-size:14px"><strong>2</strong></span></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">男生體育（二）</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">女生體育（二）</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">0</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">英文(二)</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">4</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>Q群</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">德語會話（三）</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">4</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">德文作文（二）</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">4</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">德文翻譯</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">4</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">德國文學史(一)</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">4</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">德文作文（三）</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">4</span></strong></p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p>&nbsp;</p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px">
			<p><strong><span style="font-size:14px">2</span></strong></p>
			</td>
			<td style="height:16px; width:62px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="11" style="height:16px; width:638px">
			<p><strong><span style="font-size:14px">※基礎知能課程(計12學分)：</span></strong></p>

			<p style="margin-left:14.15pt"><strong><span style="font-size:14px">中國語文能力表達(2學分)、外國語文學門(Q群，8學分)、</span></strong><strong><span style="font-size:14px">大學學習(1學分)、</span></strong><strong><span style="font-size:14px">社團學習與實作(K群，1學分)為校必修。</span></strong></p>

			<p><strong><span style="font-size:14px">※通識核心課程(必修14學分，每學門至多修習2科)：</span></strong></p>

			<p><strong><span style="font-size:14px"><u>人文領域</u>：文學經典學門(L群)、歷史與文化學門(P群)、哲學與宗教學門(V群)、藝術欣賞與創作學門(M群)；</span></strong></p>

			<p><strong><span style="font-size:14px"><u>社會領域</u>：全球視野學門(T群)、未來學學門(R群)、社會分析學門(W群)、公民社會與參與學門(S群)；</span></strong></p>

			<p><strong><span style="font-size:14px"><u>科學領域</u>：資訊教育學門(O群)、全球科技革命學門(Z群)、自然科學學門(U群)。</span></strong></p>

			<p><strong><span style="font-size:14px">※服務與活動課程：</span></strong></p>

			<p style="margin-left:11.9pt"><strong><span style="font-size:14px">體育(0學分)；</span></strong></p>

			<p style="margin-left:11.9pt"><strong><span style="font-size:14px">全民國防教育軍事訓練(0學分)；</span></strong></p>

			<p style="margin-left:11.9pt"><strong><span style="font-size:14px">服務學習、團體活動、體育競賽/表演、藝文競賽/展演、其他相關活動。</span></strong></p>

			<p><strong><span style="font-size:14px">※校共同科目之德文（一）、德文（二）不採計為本系畢業學分之內。</span></strong></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><span style="color:#ff0000"><strong><span style="font-size:14px">最低畢業學分數：128學分／本系必修學分數：66學分／最低本系選修科目學分數：20學分（自106學年度起在學生取消各年級系選修學分規定，只需修滿規定之系選修20學分即可）／校必修：26學分／自由選修學分數：16學分。</span></strong></span></p>

<p>&nbsp;</p>