<p>
	<br>
</p>

<table border="0" width="99%">
	<tbody>
		<tr>
			<td><strong>本校資料庫認證方式之圖示說明</strong>
				<br>
				<br>

				<table border="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="left" height="25" valign="top" width="50%"><img src="http://info.lib.tku.edu.tw/database/images/dbip.gif" border="0" alt="限校內IP範圍連用：校外連用請詳見http://www.lib.tku.edu.tw/zh_tw/helps/ask8" title="限校內IP範圍連用：校外連用請詳見http://www.lib.tku.edu.tw/zh_tw/helps/ask8" class="fr-fic fr-dii">&nbsp;限校內IP範圍連用：校外連用請詳見<a href="http://www.lib.tku.edu.tw/zh_tw/helps/ask8" target="_blank">校外連用</a>說明。<span>&nbsp;</span>
								<br><img src="http://info.lib.tku.edu.tw/database/images/dbid.gif" border="0" alt="限帳號、密碼連用：請先申請帳號密碼，有效期限至新學年度開學前。" title="限帳號、密碼連用：請先申請帳號密碼，有效期限至新學年度開學前。" class="fr-fic fr-dii">&nbsp;限帳號、密碼連用：請先申請帳號密碼，有效期限至新學年度開學前。</td>
							<td align="left" height="25" valign="top" width="50%"><img src="http://info.lib.tku.edu.tw/database/images/dbper.gif" border="0" alt="在校園IP範圍內，使用者依資料庫說明註冊個人專用帳號密碼。" title="在校園IP範圍內，使用者依資料庫說明註冊個人專用帳號密碼。" class="fr-fic fr-dii"><span>&nbsp;</span>在校園IP範圍內，使用者依資料庫說明註冊個人專用帳號密碼。
								<br><img src="http://info.lib.tku.edu.tw/database/images/dblib.gif" border="0" alt="限館內使用：向存置樓層之櫃台，登記使用。" title="限館內使用：向存置樓層之櫃台，登記使用。" class="fr-fic fr-dii"><span>&nbsp;</span>限館內使用：向存置樓層之櫃台，登記使用。</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<p>※可按﹝詳細資訊﹞導向淡江大學覺生紀念圖書館網頁</p>

<table width="99%"></table>

<p>
	<br>
</p>

<table width="99%">
	<thead>
		<tr>
			<th align="middle" height="30" valign="center" width="30%"><strong>資料庫／資訊系統</strong></th>
			<th align="middle" height="30" valign="center" width="35%"><strong>簡介</strong></th>
			<th align="middle" height="30" valign="center" width="15%"><strong>認證方式</strong></th>
			<th align="middle" height="30" valign="center" width="20%"><strong>相關資訊</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td bgcolor="#f9dde0" colspan="4" height="15" valign="top"><strong><a name="A">A</a></strong>　<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#top" target="_self">回頁首</a></td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1848" target="_blank">ALEX - Historische Rechts- und Gesetzestexte Online</a> [德文]
				<br>1740~
				<br>
				<br>
				<br>
			</td>
			<td valign="top">奧地利國家圖書館針對其國家歷年各朝代發展的法律文件進行數位化，此資料庫完整收錄自1740年以來，奧地利的所有法律與法條全文。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1973" target="_blank">ANNO-Historische österreichische Zeitungen und Zeitschriften Online</a> [德文]<span>&nbsp;</span>
				<br>1716~1918
				<br>
				<br>
				<br>
			</td>
			<td valign="top">此資料庫由奧地利國家圖書館建立，主要收錄1716至1918年奧匈帝國及奧地利所發行的過期報紙全文。該資料庫提供三種檢索方式：1.依報刊名瀏覽 2.編年方式 3.檢索介面：使用者可以關鍵字進行全文檢索。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1875" target="_blank">Aphorismen.de</a> [德文]
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">超過60000筆箴言與詩文。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1873" target="_blank">Archiv der Deutschen Frauenbewegung</a> [德文]<span>&nbsp;</span>
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">由德國婦女運動歷史檔案基金會提供德國婦女議題研究相關資源連結，收錄德國婦女運動相關書籍、性別研究、女權歷史、女性聯盟相關文獻全文、出版品、史料展覽等。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1874" target="_blank">Aufsatzdatenbank Osteuropa</a> [德文]
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">中東歐專業虛擬圖書館提供各類議題的專業研究文獻，收錄250種專業期刊，亦包含了許多相關專業系列全文資料庫。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f9dde0" colspan="4" height="15" valign="top"><strong><a name="B">B</a></strong>　<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#top" target="_self">回頁首</a></td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1813" target="_blank">Begriffe nachschlagen</a> [德文]<span>&nbsp;</span>
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">德語概念百科資料庫：蒐錄範圍包括政治、經濟、歷史、法律等領域，提供下列資料庫的整合檢索介面。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1862" target="_blank">Bibliographie zur Geschichte der deutschen Arbeiterbewegung und zur Theorie und Praxis der politischen Linken</a> [德文]
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">德國勞工運動歷史文獻及相關連結。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1863" target="_blank">Bundesrepublik.org</a> [德文]<span>&nbsp;</span>
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">當局領導人及年曆、所有德國公營和民營機構的概述、機關與服務的地址及首頁的連結。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f9dde0" colspan="4" height="15" valign="top"><strong><a name="D">D</a></strong>　<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#top" target="_self">回頁首</a></td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1864" target="_blank">Datenbank der Reichstagsabgeordneten</a> [德文]
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">收錄德國1867-1938年間德意志帝國議會文獻及資料。進入頁面後左欄可選擇年代區段，亦可設定特定政黨以縮小搜尋範圍。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1847" target="_blank">DelEtaPhi</a> [德文]<span>&nbsp;</span>
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">為哲學與道德教義問答，收錄1913年後的倫理及哲學期刊的索摘。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1492" target="_blank">Der deutsche Wortschatz nach Sachgruppen</a> [德文]
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">單機版德語同義、反義字典[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top"><img src="http://info.lib.tku.edu.tw/database/images/dblib.gif" border="0" alt="限館內使用" title="限館內使用" class="fr-fic fr-dii">
				<br>使用地點: 總館三樓
				<br>
			</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1974" target="_blank">Deutsche Geschichte</a> [德文]<span>&nbsp;</span>
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">Kongen歷史文化聯盟建置了德國歷史資料庫，內容包含德國歷史、日爾曼帝國歷史，羅馬帝國歷史，歷代帝王歷史及德國其他地方歷史資料。資料庫中可依時間檢索各年代的歷史文件、大事記及圖片檔等。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1975" target="_blank">Deutscher Bildungsserver</a> [德文]
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">德國的教育整合型資料網，提供德國教育相關議題文章與資料、教育法規、教育統計、教育政策、各邦教育體制等。此網站涵蓋國民教育、大專教育、成人教育、知識教育、教育心理學等相關領域，並可查詢教育期刊索引及摘要。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1899" target="_blank">DigiZeitschriften</a> [德文]<span>&nbsp;</span>
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">收錄德國國家及地方共144種期刊(提供80種免費期刊資源)，領域涵蓋英文、古埃及文明、圖書館管理、教育學、地球科學、德文、歷史、藝術、數學、音樂、自然科學、東方學、語言學、哲學、法學、宗教學、法文、社會學及經濟學等十九個領域。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">
				<br>
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1867" target="_blank">DIP : Dokumentations- und Informationssystem fur Parlamentarische Vorgange</a> [德文]
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">德國聯邦議會之文件資訊網站，為一查詢法條和議會諮詢的平台。網頁表格中設有簡易、中等、詳細三種等級的六個搜尋引擎，可視需求獲得不同深度的訊息。下捲捲軸並點選” Parlamentsspiegel”即可觀看德國議會出版品，並依據法條主題、編號或關鍵字搜尋需要的文件。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1812" target="_blank">Duden Recht A-Z</a> [德文]<span>&nbsp;</span>
				<br><em>Begriffe nachschlagen</em>&nbsp;
				<br>
				<br>
				<br>
			</td>
			<td valign="top">德語法學名詞字典。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1809" target="_blank">Duden Wirtschaft</a> [德文]
				<br><em>Begriffe nachschlagen</em>&nbsp;
				<br>
				<br>
				<br>
			</td>
			<td valign="top">德語經濟名詞字典。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1493" target="_blank">Duden, deutsches Universalwhorterbuch</a> [德文]<span>&nbsp;</span>
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">單機版德語字典。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top"><img src="http://info.lib.tku.edu.tw/database/images/dblib.gif" border="0" alt="限館內使用" title="限館內使用" class="fr-fic fr-dii">
				<br>使用地點: 總館三樓
				<br>
			</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f9dde0" colspan="4" height="15" valign="top"><strong><a name="E">E</a></strong>　<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#top" target="_self">回頁首</a></td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1858" target="_blank">EKD</a> [德文]
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">德國國家教會法為公開法律之一，為國家機關製定或認可、由國家強制力保證其實施的一般行為規則，主要內容包括界定宗教組織定義，和國家對宗教的立場與做法等。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=659" target="_blank">EurActiv</a> [英文] [德文] [法文]<span>&nbsp;</span>
				<br><em>EUROPA</em>&nbsp;
				<br>
				<br>
				<br>
			</td>
			<td valign="top">提供歐盟每日最新發展議題。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=660" target="_blank">EUROSTAT</a> [法文] [德文] [英文]
				<br><em>EUROPA</em>&nbsp;
				<br>
				<br>
				<br>
			</td>
			<td valign="top">提供歐盟各類統計數據資料。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f9dde0" colspan="4" height="15" valign="top"><strong><a name="F">F</a></strong>　<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#top" target="_self">回頁首</a></td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1811" target="_blank">Fischer Weltalmanach</a> [德文]<span>&nbsp;</span>
				<br><em>Begriffe nachschlagen</em>&nbsp;
				<br>
				<br>
				<br>
			</td>
			<td valign="top">蒐集政治學專業術語。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f9dde0" colspan="4" height="15" valign="top"><strong><a name="G">G</a></strong>　<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#top" target="_self">回頁首</a></td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=2295" target="_blank">GERMAN COLLECTION - Kafkas Werke (Kritische Ausgabe, S.Fischer Verlag)</a> [德文]
				<br><em>Chadwyck-Healey</em>&nbsp;
				<br>
				<br>
				<br>
			</td>
			<td valign="top">卡夫卡(1883-1924)為德國20世紀最具影響力的德國作家，其著名的意識流寫作風格為當代文明的創作。本資料庫收錄卡夫卡的創作、手稿、日記、論壇，及其創作「蛻變」、「審判」、「城堡」等著作全文。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top"><img src="http://info.lib.tku.edu.tw/database/images/dbip.gif" border="0" alt="限校內IP範圍連用" title="限校內IP範圍連用" class="fr-fic fr-dii">
				<br>
			</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=2296" target="_blank">GERMAN LITERATURE - Digitale Bibliothek Deutscher Klassiker</a> [德文]<span>&nbsp;</span>
				<br><em>Chadwyck-Healey</em>&nbsp;
				<br>
				<br>
				<br>
			</td>
			<td valign="top">收錄了超過30位作家(如赫爾德Herder、克萊斯特Kleist、畢希納Buchner等)的全文作品，也收錄哲學家如康德、史萊馬哈Schleiermacher及菲希特Fichte等的文選，領域包含歷史、哲學、神學、政治及史地等。年代涵蓋11個世紀，主要集中在19 世紀的文學作品。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top"><img src="http://info.lib.tku.edu.tw/database/images/dbip.gif" border="0" alt="限校內IP範圍連用" title="限校內IP範圍連用" class="fr-fic fr-dii">
				<br>
			</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=2297" target="_blank">GERMAN LITERATURE - Schillers Werke (Nationalausgabe)</a> [德文]
				<br><em>Chadwyck-Healey</em>&nbsp;
				<br>
				<br>
				<br>
			</td>
			<td valign="top">收錄席勒的文學作品、手稿、書信、談話及語錄。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top"><img src="http://info.lib.tku.edu.tw/database/images/dbip.gif" border="0" alt="限校內IP範圍連用" title="限校內IP範圍連用" class="fr-fic fr-dii">
				<br>
			</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1850" target="_blank">Gesetze im Internet</a> [德文]<span>&nbsp;</span>
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">最新聯邦法令資料庫。為德國聯邦政府立法院之資訊網站，將法院質詢和議程透明公開化，德國公民可隨時透過免費網站得知目前最新的法院進度或立法過程。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1868" target="_blank">Gewerkschaften und industrielle Beziehungen</a> [德文]
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">收錄36種德文期刊、working paper及會議內容等約10000份資料，研究領域主要為德國及歐洲，亦包含些許全球化議題資料，提供有關勞資關係之出版品01-08年的資料，也提供大學圖書館期刊索摘。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f9dde0" colspan="4" height="15" valign="top"><strong><a name="H">H</a></strong>　<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#top" target="_self">回頁首</a></td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1808" target="_blank">Handworterbuch Politik</a> [德文]<span>&nbsp;</span>
				<br><em>Begriffe nachschlagen</em>&nbsp;
				<br>
				<br>
				<br>
			</td>
			<td valign="top">德語基礎政治名詞字典。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f9dde0" colspan="4" height="15" valign="top"><strong><a name="I">I</a></strong>　<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#top" target="_self">回頁首</a></td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1839" target="_blank">Immanuel Kant - Information Online</a> [德文]
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">德國馬堡大學哲學研究所建置了康德(Immanuel Kant)線上資料庫，進入頁面後點選左欄可檢索哲學家康德的生平、作品及照片等。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1861" target="_blank">Index deutschsprachiger Zeitschriften 1750 - 1815</a> [德文]<span>&nbsp;</span>
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">1750-1815年德語期刊索引。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1841" target="_blank">Index Thomisticus</a> [德文]
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">蒐錄托馬斯阿奎那完整版作品的索引資料庫。文件除法文、德文、英文，亦以歐盟各國語系提供。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1877" target="_blank">Innsbrucker Zeitungsarchiv zur Deutsch- und Fremdsprachigen Literatur</a> [德文]<span>&nbsp;</span>
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">收錄一般文學、比較文學、比較語言學書目。僅少數文章可獲得全文，其餘須由網路購買或透過EBSCO取得。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1832" target="_blank">inst</a> [英文] [德文] [法文]
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">INST屬於奧地利跨學科公益協會由一批對知識產出共同興趣的國際學者在1994年11月14日成立的國際協會。其主要研究領域是知識產出在當今社會進程中的意義，探討跨學科、跨民族及跨文化領域的文化學、現實和虛擬、文化的統一性。
				<br>INST會議和出版語言為德語、英語和法語。其主要工作為組織會議（展出、專題研討、學術討論和會務）、研究專案和出版事業（網頁、書籍、宣傳冊、展覽會、電影以及虛擬的展出）。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1866" target="_blank">IREON - Fachportal Internationale Beziehungen und Länderkunde (IREON)</a> [德文]<span>&nbsp;</span>
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">德國政治經濟基金會下設立的國際關係情勢文獻資料庫，為歐洲規模最大的社會科學資料庫，收錄國際政治、各國政經社會國情及國際法事宜。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1810" target="_blank">Islam</a> [德文]
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">Geschichte, Alltag und Kultur in 400 Artikeln.[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f9dde0" colspan="4" height="15" valign="top"><strong><a name="J">J</a></strong>　<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#top" target="_self">回頁首</a></td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1851" target="_blank">Juristische Dissertationen des 16 - 18 Jahrhunderts aus Universitaten des Alten Reichs</a> [德文]<span>&nbsp;</span>
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">收錄16-18世紀德意志帝國時期大學法學博士學位論文，共約73000名作者。頁面左欄可選擇以作者、指導教授、題目、關鍵字及大學(範圍為德意志帝國國土範圍)搜尋論文。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f9dde0" colspan="4" height="15" valign="top"><strong><a name="K">K</a></strong>　<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#top" target="_self">回頁首</a></td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1840" target="_blank">Kant: Gesammelte Schriften</a> [德文]
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">1945年柏林布蘭登堡科學與人文科學院圖書館的前身-普魯士科學院建置康德作品全集資料庫，收錄了哲學家康德的所有生平作品，並針對康德進行研究和分析。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1878" target="_blank">Kinder- und Jugendliteraturforschung, Literatur- und Sprachdidaktik, Mediendidaktik</a> [德文]<span>&nbsp;</span>
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">系統性的、歷史性的兒童文學與青少年文學研究，德語課程有關文學、語言和傳播的教學法。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1881" target="_blank">Künstlerfilm-Datenbank</a> [德文]
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">此資料庫為德國對外關係學會IFA所建置之線上電影資料庫，該學會著重於德國對外的藝術交流活動。此資料庫可檢索關於戲劇方面藝術家生平、自傳，作品清單或獲獎與展覽的紀錄。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f9dde0" colspan="4" height="15" valign="top"><strong><a name="L">L</a></strong>　<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#top" target="_self">回頁首</a></td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1842" target="_blank">Leibniz-Bibliographie</a> [德文]<span>&nbsp;</span>
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">收藏自1991年起，關於萊布尼茲的研究。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1879" target="_blank">LiMoST : Datenbank fur literarische Motive, Stoffe und Themen</a> [德文]
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">由德國歌廷根學院建立，為索摘目錄，收錄1830-1840間、及現代文學資料作品詳細內容描述，如動機、題材和主題、表達情感、主角、動物，文體、發表時間、引用來源、說明等等，並可以上述資訊搜尋文學。如鍵入”Hase”(兔子)即可搜尋到相關的文學作品。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1852" target="_blank">Literaturquellen zum deutschen, osterreichischen und schweizerischen Privat- und Zivilprozesrecht des 19 Jahrhunderts</a> [德文]<span>&nbsp;</span>
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">收錄19世紀德奧瑞私法暨民事訴訟法文獻，共收錄4316卷書籍，計超過135萬頁資料。頁面左欄可選擇以人物、題目、關鍵字搜尋相關法條。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f9dde0" colspan="4" height="15" valign="top"><strong><a name="M">M</a></strong>　<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#top" target="_self">回頁首</a></td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1880" target="_blank">Märchenlexikon</a> [德文]
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">線上童話百科全書，收錄內容包括格林童話、民間傳說與著名童話等。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f9dde0" colspan="4" height="15" valign="top"><strong><a name="O">O</a></strong>　<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#top" target="_self">回頁首</a></td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1870" target="_blank">Online-Katalog der Bibliothek des Instituts für Theologie und Frieden</a> [德文]<span>&nbsp;</span>
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">神學、政治和社會議題相關文獻資料庫。為漢堡宗教與和平研究中心所建置之索摘網站,收錄了16萬篇相關期刊文章索摘(至2008年9月),內容著重於天主教中個人修身的部分,除此之外也涵蓋哲學,政治,和平研究等領域的文章。全網站約有550種期刊,主要選錄於歐洲和北美。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f9dde0" colspan="4" height="15" valign="top"><strong><a name="P">P</a></strong>　<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#top" target="_self">回頁首</a></td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1871" target="_blank">Parlamentarisches Geschehen / Osterreich</a> [德文]
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">奧地利議會事務資料庫。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1806" target="_blank">Pocket Europa</a> [德文]<span>&nbsp;</span>
				<br><em>Begriffe nachschlagen</em>&nbsp;
				<br>
				<br>
				<br>
			</td>
			<td valign="top">德語歐盟簡明辭典。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1805" target="_blank">Pocket Politik</a> [德文]
				<br><em>Begriffe nachschlagen</em>&nbsp;
				<br>
				<br>
				<br>
			</td>
			<td valign="top">德語政治簡明辭典。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1807" target="_blank">Politiklexikon</a> [德文]<span>&nbsp;</span>
				<br><em>Begriffe nachschlagen</em>&nbsp;
				<br>
				<br>
				<br>
			</td>
			<td valign="top">德語政治百科辭典。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=646" target="_blank">PreLex</a> [法文] [德文] [英文]
				<br><em>EUROPA</em>&nbsp;
				<br>
				<br>
				<br>
			</td>
			<td valign="top">提供觀察歐盟立法過程之免費資料庫。文件除法文、德文、英文，亦以歐盟各國語系提供。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f9dde0" colspan="4" height="15" valign="top"><strong><a name="R">R</a></strong>　<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#top" target="_self">回頁首</a></td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1853" target="_blank">RERO Explore (RERO)</a> [德文]<span>&nbsp;</span>
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">瑞士西部圖書館網路約215家圖書館法學藏書。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f9dde0" colspan="4" height="15" valign="top"><strong><a name="S">S</a></strong>　<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#top" target="_self">回頁首</a></td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1854" target="_blank">Sachsenspiegel</a> [德文]
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">薩克森明鏡(Sachsenspiegel)的數位原稿。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1857" target="_blank">Sportrecht</a> [德文]<span>&nbsp;</span>
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">提供運動規則和法律相關的問答，可閱讀體育相關的評論和文章。點進第二個網址，可用關鍵字查詢運動鞋會對體育運動的裁決。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f9dde0" colspan="4" height="15" valign="top"><strong><a name="T">T</a></strong>　<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#top" target="_self">回頁首</a></td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1846" target="_blank">textlog.de</a> [德文]
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">textlog.de是一家集歷史文本和字典，並把重點放在哲學，藝術和美學。網絡版修訂和編輯和包括約14000頁（截至2006年6月）。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f9dde0" colspan="4" height="15" valign="top"><strong><a name="V">V</a></strong>　<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#top" target="_self">回頁首</a></td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1872" target="_blank">Verfassungen der Welt</a> [德文]<span>&nbsp;</span>
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">資料庫收錄德奧瑞國家、世界各國及歐盟、聯合國等憲法與憲章文本德語版。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td valign="top"><a href="http://info.lib.tku.edu.tw/database/hit.asp?Db_Id=1860" target="_blank">Virtuelle Fachbibliothek Recht</a> [德文]
				<br>
				<br>
				<br>
				<br>
			</td>
			<td valign="top">有關法學資訊的線上入口工具。為德國柏林國家圖書館建立數位上法律資料庫，資料庫中連結28個法學資料庫，可全文搜尋部分內容，語種不限德文。點選左欄 ”Parallele Suche”可搜尋其他法學資料庫資訊，或鍵入關鍵字搜尋全文。[<a href="http://info.lib.tku.edu.tw/database/dbbrowse01.asp?lang=de#">詳細資訊</a>]
				<br>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top">&nbsp;
				<br>
			</td>
		</tr>
	</tbody>
</table>