<h2><strong>【本系簡介】</strong></h2>

<h2>&nbsp;</h2>

<p><span style="font-size:16px">　　本系成立於民國52年，名稱為外國語文學系德國語文組，55年7月改為西洋語文學系德國語文組，自64學年度奉准改為系，旨在培養德語人才，以從事文化工作及外貿之人才為目標，並以促進中德文化溝通為職責。自83學年度起辦理學生赴德國波昂大學修習學分一年，讓學生在德國學習德語。自90學年度起，配合學校政策，協助國際交流處遴選學生以交換生身份赴姐妹校德國波昂、科隆及奧地利維也納大學進修ㄧ年。每年並輔導學生利用寒暑假赴德語國家語言學校短期進修，旨在提昇學生德語能力，拓展國際視野。</span></p>

<p><span style="font-size:16px">&nbsp; &nbsp; 　本系師資方面，專任教師7位。106學年度師資狀況為教授1名、助理教授6名(其中，德籍教師2名)。專任教師全數皆擁有德國博士學位。另有兼任教師12位，均學有專精。本系教師皆留學德國多年，主修德國文學、語言學、漢學、政治學等，教學經驗豐富，著作甚多。</span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px">本系歷任系主任:</span></p>

<p><span style="font-size:16px">52年08月~55年07月 &nbsp; &nbsp;徐澤之 (外文系德國語文組)</span></p>

<p><span style="font-size:16px">55年07月~55年10月 &nbsp; &nbsp;徐澤之 (西洋語文學系德國語文組)</span></p>

<p><span style="font-size:16px">55年10月~61年07月 &nbsp; &nbsp;劉士驤 (西洋語文學系德國語文組)</span></p>

<p><span style="font-size:16px">61年08月~67年07月 &nbsp; &nbsp;陶 &nbsp;緯 (六十四學年度改稱德國語文學系)</span></p>

<p><span style="font-size:16px">67年08月~71年07月 &nbsp; &nbsp;蕭時雄</span></p>

<p><span style="font-size:16px">71年08月~79年08月 &nbsp; &nbsp;鍾英彥</span></p>

<p><span style="font-size:16px">79年08月~83年07月 &nbsp; &nbsp;郭秋慶</span></p>

<p><span style="font-size:16px">83年08月~89年07月 &nbsp; &nbsp;賴麗琇</span></p>

<p><span style="font-size:16px">89年08月~95年07月 &nbsp; &nbsp;狄殷豪</span></p>

<p><span style="font-size:16px">95年08月~99年07月 &nbsp; &nbsp;魏榮治</span></p>

<p><span style="font-size:16px">99年08月~105年07月 &nbsp; 鍾英彥<br />
<br />
105年08月~迄今 &nbsp; &nbsp; &nbsp; 吳萬寶</span></p>