<p><img src="/storage/app/media/German/%E8%B3%80%E6%B7%A1%E6%B1%9F%E5%A4%A7%E5%AD%B8%E8%88%87%E5%BE%B7%E5%9C%8B%E8%96%A9%E8%98%AD%E5%A4%A7%E5%AD%B8%E7%B0%BD%E8%A8%82%E5%AD%B8%E8%A1%93%E4%BA%A4%E6%B5%81%E6%9A%A8%E4%BA%A4%E6%8F%9B%E7%94%9F%E5%8D%94%E8%AD%B0.jpg" style="height:450px; width:800px" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong><span style="color:#0000cd"><span style="font-size:20px">淡江大學與德國薩蘭大學(</span></span></strong><span style="color:#0000cd"><strong><span style="font-size:20px">Universit&auml;t des Saarlandes </span></strong></span><strong><span style="color:#0000cd"><span style="font-size:20px">) 簽訂學術交流暨交換生協議</span></span></strong></p>

<p><img src="/storage/app/media/German/01.jpg" style="height:848px; width:600px" /></p>

<p><img src="/storage/app/media/German/02.jpg" style="height:848px; width:600px" /></p>

<p><span style="color:#0000cd"><strong><span style="font-size:20px">淡江大學與德國薩蘭大學(Universit&auml;t des Saarlandes ) 簽訂MoU</span></strong></span></p>

<p><img src="/storage/app/media/German/mou.jpg" style="height:848px; width:600px" /></p>