<h1><strong>C</strong><strong>、修業規定(適用97~105學年度起之入學新生)</strong></h1>

<p>一、本系修業年限四年。97~105<strong>學年度入學新生</strong>畢業學分為<strong>140</strong><strong>學分</strong>。</p>

<p>二、本系系必修74學分，系選修最低修21學分，其餘為校定(31學分)及自由選修學分(14學分)。</p>

<p>三、擋修規定:自88學年度入學新生起，大一下學期修讀「初級德文讀本」不及 &nbsp;&nbsp;格者，不能直接修讀大二之「中級德文讀本」課程；「初級德文文法」&nbsp;不及格者，不能直接&nbsp;</p>

<p>&nbsp; &nbsp; &nbsp; 修讀大二之「中級德文文法」課程，必待重修及格後，始得修之。</p>

<p>四、自106學年起，大一上下學期之「初級德文文法」&nbsp;與「初級德文讀本」列為「深化課程」。評量方式除增加上下學期各一次「會考」外，期中考與期末考皆採教師共同命&nbsp;</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; 題。三項評量所占學期成績各為:會考(5%)、期中考(30%)、期末考(30%)。</p>

<p>五、經96學年度第二學期系務會議通過，自97學年度起入學新生及修習德文系為雙主修學生者，需通過德語能力畢業標準 (Zertifikat Deutsch B1)。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;規則如附件:<a href="https://drive.google.com/file/d/13LyQqwOQZ_9SpFgVptK5HXNOQUwSmNxw/view?usp=sharing"> </a><a href="https://drive.google.com/file/d/1XewNEm-lNk6gxJPOzvd2sXYmvdb61k7w/view?usp=sharing">&nbsp;淡江大學外國語文學院德國語文學系學生德語能力 畢業標準檢定規則</a></p>

<p>六、97~105學年度起入學新生需通過<strong>全民英檢中級初試或多益(TOEIC)450分以上</strong>者，方能畢業。</p>

<p>七、經97學年度第一學期系務會議通過，凡通過&nbsp;Zertifikat Deutsch德文檢定考B2級以上者，可憑其證書至系辦領取獎學金壹仟元整。</p>