<p><img src="https://www.tfgx.tku.edu.tw/storage/app/media/German/logo.png" /></p>

<p>&nbsp;</p>

<p><span style="font-size:16px">德文系自成立迄今(2019)，已有超過2,600位畢業系友。系友們服務於社會各行業，憑藉專業為社會大眾貢獻一己之力。每年4月春之饗宴與11月的校慶校友回娘家，是校友們畢業離校後，闊別多日，難得的團聚日。當日，德文系也會邀請系友們回校走走走，到系上看看。每年12月歲末年終之際，系所友總會亦會舉辦年終晚會，也是系友們團聚的好日子。</span></p>

<p>&nbsp;</p>

<p><img src="https://www.tfgx.tku.edu.tw/storage/app/media/German/2019-1.jpg" style="height:600px; width:800px" /></p>