<h2><strong>【修課考核辦法】</strong></h2>

<p>&nbsp;</p>

<p>一、語言能力鑑定方式：</p>

<p>(1) 大一上下學期「初級德文文法」與「初級德文讀本」為「深化課程」。評量方式除增加「會 考」外，期中考與期末考皆採教師共同命題。三項評量所占學期成績各為:會考(5%)、中考 &nbsp; &nbsp; &nbsp; (30%)、期末考(30%)。</p>

<p>(2) 大二下學期期末考的分科會考計有「中級德文文法」與「中級德文讀本」、「德語語言練習 (二)」、「德語會話(二)」四科，期末會考佔各科該學期成績的50%。</p>

<p><br />
二、德文讀本及文法課程之擋修：</p>

<p>大一下學期修讀「初級德文讀本」不及格者，不能直接修讀大二之「中級德文讀本」課程；「初級德文文法」不及格者，不能直接修讀大二之「中級德文文法」課程，<u>必待重修及格後，始得修之。</u></p>

<p>*暑修課程明訂只開放給曾修過該課程但未通過之學生。</p>

<p><br />
三、嚴格實施全系各年級學生上課出缺席考核制度：</p>

<p>(一)設立宗旨：為杜絕學生懶散的學習態度，以提昇學生的學習成果。</p>

<p>(二)實施年級：各年級所有科目。</p>

<p>(三)實施要領：<br />
1.統一規定全系各科，曠課一次者即扣除該科學期總分兩分；依據本校教務規章第六章第三十<br />
&nbsp; 八條之規定，缺課達整學期該科上課總時數的三分之一者，即期末考扣考，該科目學期成績以 &nbsp; 零分計算。<br />
<br />
2.助教的實習課「德語語練(一)」與「德語語練(二)」之出缺席依據上述規定辦理。語練之學期 &nbsp; 成績：老師佔85%，助教佔15%。<br />
<br />
3.請假僅限病假、公假、喪假及產假。（依照學務處公告之辦法理）</p>

<p>（1）病假：需附醫院證明，兩天以內者得由校醫證明。</p>

<p>（2）公假：除有關單位簽證外，並需經系主任同意簽可，始得辦理公假手續。</p>

<p>（3）喪假：只限學生直系親屬死亡，得檢附「死亡證明」或相關文件。&nbsp;</p>

<p>&nbsp;</p>