<h1><img class="fr-dii fr-fic" src="/storage/app/media/image_fullcontent.jpg" /></h1>

<h1><span style="font-size:28px"><span style="font-family:Times New Roman,Times,serif"><strong>Junior Year Program</strong></span></span></h1>

<p>&nbsp;</p>

<p><span style="font-size:16px">本校德國語文學系自1994年起，每學年遴選20名三年級學生至波昂大學修習學分，所修習的課程有：德文作文、德文會話、德文翻譯、德文語法、德國文化、德國文學、經貿德語、新聞媒體德文、讀書指導及體育。所修習的課程均能抵免本校的學分，此項交流活動對學生學習德語有顯著的成效。</span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px">波昂大學介紹：</span></p>

<p><span style="font-size:16px">波昂大學位於德國北萊茵威斯特伐利亞邦&nbsp;(Nordrhein-Westfalen)，於西元1818年10月18日由普魯士國王斐特烈威廉三世所創立。</span></p>

<p><span style="font-size:16px">波昂大學設立的科系有：兩個神學系(羅馬天主教神學及基督教神學)、法律和經濟學系、醫學系、藝術系、數學及自然科學系、農學系及教育學系。</span></p>

<p><span style="font-size:16px">波昂大學是德國最具規模的大學之一，它也是北萊茵威斯特伐利亞邦第三大的大學，大約有38000名學生，有來自世界各地超過100多個國家約2400名外籍學生，及為數頗可觀的外國客座教授，還包括每年約100名宏博學術基金會的特別研究員，從事國際性的教學與研究。波昂大學的學術聲譽仍取決於600名教授、2150名學術聘員及5150名非學術性的聘員。</span></p>

<p><span style="font-size:16px">波昂大學有幾個重要的研究領域，包括了數學、經濟、物理化學、微量物理、傳統科學及法律。這些成就可由隸屬於波昂大學的合作研究中心及研究學院得到印證。</span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px"><strong>計畫過程</strong><br />
&nbsp;自83學年度首次辦理以來，每年與德國波昂大學洽商關於課程、保險、食宿、費用等事宜，許多具體計畫的擬定均參考多方的意見以臻完善。 作業上須先簽報學生出國名單、修習課程學分及領隊老師，另須函相關單位辦理役男出國手續。因本計畫係選派學生赴德國1年，故在計畫時須縝密考慮可能衍生之問題及突發狀況，且須考量德國方面的配合程度，以免學生在生活與學習上產生困擾，影響學習成效。108學年度為第26次辦理，相關事項已漸漸形成制度，且對突發狀況亦有因應辦法。</span></p>

<p><span style="font-size:16px"><strong>甄選方式</strong><br />
&nbsp;訂定「大三出國修習學分甄選辦法」，以大二同學為對象，於每學年下學期辦理甄選，審查前3學期之德文成績平均值，擇優錄取。</span></p>