<h2><span style="font-size:16px"><strong>【本系之設備資源】</strong></span><br />
&nbsp;</h2>

<p><span style="font-size:16px"><strong>系辦公室:</strong></span></p>

<p><span style="font-size:16px">系辦公室備有電腦與彩色印表機提供學生使用。每年由系辦或教師持續介購圖書、期刊、德文報紙、CD、DVD、VCD等多媒體教材，圖書資源豐富。另備有數位相機、單眼相機、數位攝影機、筆記型電腦等，供學生活動使用。</span></p>

<p><span style="font-size:16px"><strong>德語特區:</strong></span></p>

<p><span style="font-size:16px">德語特區有豐富德文圖書&nbsp;(德國報紙及德國文學專書或其中譯本)、報紙、光碟機等。本系每學期利用此空間，視國際交換生情況，不定期安排德國或奧地利籍交換生駐區，與本系學生進行語言交換。此外，專任教師每學期亦固定駐區至少10小時，提供學生課業上解惑或是討論課程相關內容。自102學年度起，本系每週一至五晚上安排大三或大四學長姊駐區課輔，或是提供學弟妹生活諮詢或課業解惑。</span></p>

<p><span style="font-size:16px"><strong>驚聲大樓&nbsp;T 405&nbsp;會話教室&nbsp;(本系會話課專用教室):</strong></span></p>

<p><span style="font-size:16px">有單槍、錄放影機、投影機、多功能電腦設備、網路節點架設等教學設施，供授課教師於課堂上運用。本教室可容納人數約為25人。</span></p>

<p><span style="font-size:16px"><strong>圖書設備:</strong></span></p>

<p><span style="font-size:16px">本系教師定期向覺生圖書館介購圖書、有聲書、電影與期刊。</span></p>

<p><span style="font-size:16px">至105學年度為止，圖書館德文圖書館藏數為:</span></p>

<p>&nbsp;</p>

<table align="left" border="1" cellpadding="0" cellspacing="0" style="width:624px">
	<tbody>
		<tr>
			<td rowspan="2"><span style="font-size:16px">&nbsp;</span></td>
			<td colspan="2">
			<p><span style="font-size:16px">圖 &nbsp; 書</span></p>
			</td>
			<td colspan="2">
			<p><span style="font-size:16px">期刊</span></p>

			<p><span style="font-size:16px">合訂本</span></p>
			</td>
			<td colspan="2">
			<p><span style="font-size:16px">期刊</span></p>
			</td>
			<td>
			<p><span style="font-size:16px">非書資料</span></p>
			</td>
		</tr>
		<tr>
			<td><span style="font-size:16px">冊數</span></td>
			<td><span style="font-size:16px">種類</span></td>
			<td><span style="font-size:16px">冊數</span></td>
			<td><span style="font-size:16px">種類</span></td>
			<td>
			<p><span style="font-size:16px">館藏</span></p>

			<p><span style="font-size:16px">種類</span></p>
			</td>
			<td><span style="font-size:16px">現刊種類</span></td>
			<td><span style="font-size:16px">種類</span></td>
		</tr>
		<tr>
			<td><span style="font-size:16px">中文</span></td>
			<td><span style="font-size:16px">2,636</span></td>
			<td><span style="font-size:16px">1,635</span></td>
			<td><span style="font-size:16px">17</span></td>
			<td><span style="font-size:16px">4</span></td>
			<td><span style="font-size:16px">3</span></td>
			<td><span style="font-size:16px">1</span></td>
			<td><span style="font-size:16px">126</span></td>
		</tr>
		<tr>
			<td><span style="font-size:16px">德文</span></td>
			<td><span style="font-size:16px">14,976</span></td>
			<td><span style="font-size:16px">12,099</span></td>
			<td><span style="font-size:16px">3,525</span></td>
			<td><span style="font-size:16px">110</span></td>
			<td><span style="font-size:16px">28</span></td>
			<td><span style="font-size:16px">20</span></td>
			<td><span style="font-size:16px">220</span></td>
		</tr>
	</tbody>
</table>