<h1 style="text-align:center">淡江大學系所友會聯合總會</h1>

<h1 style="text-align:center">傑出系友選拔辦法</h1>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h4><strong>第一條</strong> &nbsp;為鼓勵各系所友會之系友獻身國家、服務社會、造福人群、回饋母校，特訂定傑出系友選拔辦法，（以下簡稱本辦法）。</h4>

<h4>&nbsp;</h4>

<h4><strong>第二條</strong> &nbsp;凡淡江英專、文理學院、大學及研究所之校友，具有高尚品德，對國家、社會、人群及母校有卓越貢獻者，皆具有候選資格。</h4>

<h4>&nbsp;</h4>

<h4><strong>第三條</strong> &nbsp;候選人須由各系所友會推薦並填具傑出系友舉薦表及提供照片等資料後，經該系所現任主管審核並於推薦表上蓋章通過。</h4>

<h4>&nbsp;</h4>

<h4><strong>第四條 &nbsp;</strong>傑出系友每年選拔一次，名額由各系所友會及系所主管研議之。</h4>

<h4>&nbsp;</h4>

<h4><strong>第五條</strong> &nbsp;頒獎儀式於春之饗宴中舉行，頒發獎座及製作得獎人之傑出事蹟海報，於典禮會場上作為公告，並張貼於各系上之公佈欄予以表揚。</h4>

<h4>&nbsp;</h4>

<h4><strong>第六條</strong> &nbsp;每位傑出系友得獎人受獎時，相關費用由各系所友會支付其相關費用貳仟元整。</h4>

<h4>&nbsp;</h4>

<h4><strong>第七條</strong> &nbsp;本辦法經系所友會聯合總會理監事會議通過，自公布日實施；修正時亦同。<br />
&nbsp;</h4>