<h2>【本系簡介/畢業出路】 &nbsp;</h2>

<p>&nbsp;</p>

<p><span style="font-size:16px">本系之教育目標主要以培養學生德語語言能力，及培育學生自主學習、獨立思考、跨文化溝通、跨領域，且具備國際觀等多元能力為主。本系應屆畢業生皆需參加本科外語能力畢業檢定考試，絕大部分學生皆能通過此一測驗，就德語專業能力方面來評估，相當符合本系之教育目標。</span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px">發展概況</span></p>

<p><span style="color:#006400"><span style="font-size:18px"><strong>1.&nbsp;升學:</strong></span></span></p>

<p><span style="font-size:16px"><u><strong>-&nbsp;國內:</strong></u></span></p>

<p><span style="font-size:16px">(1)&nbsp;德文相關:淡江大學歐洲研所、輔仁大學德國語文學研究所、東吳大學德國文化研究所、高雄第一科技大學應用德語系研究所等。</span></p>

<p><span style="font-size:16px">(2)&nbsp;其他:&nbsp;外交暨國防事務研究所、語言研究所、其他相關研究所。</span></p>

<p><span style="font-size:16px"><u><strong>-&nbsp;國外:</strong></u>&nbsp;<br />
於德國、英國、美國等大學繼續攻讀碩士或博士學位。</span><br />
<br />
&nbsp;</p>

<p><span style="color:#008000"><span style="font-size:18px"><strong>2.&nbsp;就業:</strong></span></span></p>

<p><span style="font-size:16px"><u><strong>-&nbsp;國內:</strong></u></span></p>

<p><span style="font-size:16px">(1)&nbsp;從事與外語有關的公職:外交部、經濟部、外貿協會、新聞局等公務人員。</span></p>

<p><span style="font-size:16px">(2)&nbsp;從事與外語有關的職業:貿易公司、證照公司、航空公司等從業人員與導遊。</span></p>

<p><span style="font-size:16px">(3)&nbsp;從事跨領域之職業:國中小或補教業教師、資訊電子公司、航運公司、一般進出口公司、旅</span></p>

<p><span style="font-size:16px">行社、雜誌社等從業人員，或自行創業。</span></p>

<p><span style="font-size:16px"><u><strong>-&nbsp;國外:</strong></u></span></p>

<p><span style="font-size:16px">駐外單位&nbsp;(經由新聞、外交特考，或由經濟部、教育部及外貿協會派任)。</span><br />
&nbsp;</p>

<p>&nbsp;</p>

<table border="0" cellpadding="0" cellspacing="0" style="width:750px">
	<tbody>
		<tr>
			<td colspan="8">
			<p style="text-align:right">&nbsp;</p>

			<p style="text-align:center"><span style="color:#0000ff; font-size:18px"><strong>淡江大學德文系畢業生-畢業滿1年就業情形</strong></span></p>

			<p style="text-align:right">最後更新日期：2021/12/02&nbsp;</p>

			<p style="text-align:right">&nbsp;</p>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>畢業<br />
			學年度</strong></td>
			<td style="text-align:center"><strong>畢業生<br />
			總數</strong></td>
			<td style="text-align:center"><strong>已掌握就業情形學生數<br />
			（A+B+C+D）</strong></td>
			<td style="text-align:center"><strong>已就業學生數<br />
			（A+B+C）</strong></td>
			<td style="text-align:center"><strong>在職<br />
			（A）</strong></td>
			<td style="text-align:center"><strong>服役中<br />
			（B）</strong></td>
			<td style="text-align:center"><strong>繼續升學<br />
			（C）</strong></td>
			<td style="text-align:center"><strong>待業中(準備考試及其他)</strong><br />
			<strong>（</strong><strong>D）</strong></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">102</td>
			<td style="text-align:center">63</td>
			<td style="text-align:center">42</td>
			<td style="text-align:center">37</td>
			<td style="text-align:center">31</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">5</td>
			<td style="text-align:center">5</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">103</td>
			<td style="text-align:center">66</td>
			<td style="text-align:center">44</td>
			<td style="text-align:center">40</td>
			<td style="text-align:center">36</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">3</td>
			<td style="text-align:center">2</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">104</td>
			<td style="text-align:center">64</td>
			<td style="text-align:center">52</td>
			<td style="text-align:center">48</td>
			<td style="text-align:center">34</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">13</td>
			<td style="text-align:center">4</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">105</td>
			<td style="text-align:center">55</td>
			<td style="text-align:center">38</td>
			<td style="text-align:center">31</td>
			<td style="text-align:center">26</td>
			<td style="text-align:center">0</td>
			<td style="text-align:center">5</td>
			<td style="text-align:center">7</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">106</td>
			<td style="text-align:center">70</td>
			<td style="text-align:center">49</td>
			<td style="text-align:center">44</td>
			<td style="text-align:center">38</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">5</td>
			<td style="text-align:center">5</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">107</td>
			<td style="text-align:center">49</td>
			<td style="text-align:center">45</td>
			<td style="text-align:center">36</td>
			<td style="text-align:center">23</td>
			<td style="text-align:center">0</td>
			<td style="text-align:center">13</td>
			<td style="text-align:center">9</td>
			<td style="width:120px">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">108</td>
			<td style="text-align:center">73</td>
			<td style="text-align:center">59</td>
			<td style="text-align:center">54</td>
			<td style="text-align:center">48</td>
			<td style="text-align:center">0</td>
			<td style="text-align:center">6</td>
			<td style="text-align:center">5</td>
			<td style="width:120px"><span style="color:#ff0000">&larr;本年新增</span></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<table border="0" cellpadding="0" cellspacing="0" style="width:750px">
	<tbody>
		<tr>
			<td colspan="8">
			<p style="text-align:right">&nbsp;</p>

			<p style="text-align:center"><span style="color:#0000ff; font-size:18px"><strong>淡江大學德文系畢業生 - 畢業當年就業情形</strong></span></p>

			<p style="text-align:right">最後更新日期：2021/12/02&nbsp;</p>

			<p style="text-align:right">&nbsp;</p>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">
			<p><strong>畢業<br />
			學年度</strong></p>
			</td>
			<td style="text-align:center"><strong>畢業生<br />
			總數</strong></td>
			<td style="text-align:center"><strong>已掌握就業情形學生數<br />
			（A+B+C+D）</strong></td>
			<td style="text-align:center"><strong>已就業學生數<br />
			（A+B+C）</strong></td>
			<td style="text-align:center"><strong>在職<br />
			（A）</strong></td>
			<td style="text-align:center"><strong>服役中<br />
			（B）</strong></td>
			<td style="text-align:center"><strong>繼續升學<br />
			（C）</strong></td>
			<td style="text-align:center"><strong>待業中(準備考試及其他)</strong><br />
			<strong>（</strong><strong>D）</strong></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">101</td>
			<td style="text-align:center">62</td>
			<td style="text-align:center">57</td>
			<td style="text-align:center">47</td>
			<td style="text-align:center">27</td>
			<td style="text-align:center">4</td>
			<td style="text-align:center">16</td>
			<td style="text-align:center">10</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">102</td>
			<td style="text-align:center">68</td>
			<td style="text-align:center">47</td>
			<td style="text-align:center">37</td>
			<td style="text-align:center">21</td>
			<td style="text-align:center">9</td>
			<td style="text-align:center">7</td>
			<td style="text-align:center">10</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">103</td>
			<td style="text-align:center">66</td>
			<td style="text-align:center">40</td>
			<td style="text-align:center">29</td>
			<td style="text-align:center">19</td>
			<td style="text-align:center">9</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">11</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">104</td>
			<td style="text-align:center">62</td>
			<td style="text-align:center">43</td>
			<td style="text-align:center">40</td>
			<td style="text-align:center">22</td>
			<td style="text-align:center">5</td>
			<td style="text-align:center">13</td>
			<td style="text-align:center">3</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">105</td>
			<td style="text-align:center">55</td>
			<td style="text-align:center">25</td>
			<td style="text-align:center">25</td>
			<td style="text-align:center">20</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">4</td>
			<td style="text-align:center">8</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">106</td>
			<td style="text-align:center">70</td>
			<td style="text-align:center">52</td>
			<td style="text-align:center">41</td>
			<td style="text-align:center">35</td>
			<td style="text-align:center">4</td>
			<td style="text-align:center">2</td>
			<td style="text-align:center">11</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">107</td>
			<td style="text-align:center">49</td>
			<td style="text-align:center">40</td>
			<td style="text-align:center">33</td>
			<td style="text-align:center">19</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">13</td>
			<td style="text-align:center">7</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">108</td>
			<td style="text-align:center">73</td>
			<td style="text-align:center">59</td>
			<td style="text-align:center">45</td>
			<td style="text-align:center">40</td>
			<td style="text-align:center">2</td>
			<td style="text-align:center">3</td>
			<td style="text-align:center">14</td>
			<td style="width:120px">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">109</td>
			<td style="text-align:center">55</td>
			<td style="text-align:center">38</td>
			<td style="text-align:center">33</td>
			<td style="text-align:center">26</td>
			<td style="text-align:center">2</td>
			<td style="text-align:center">5</td>
			<td style="text-align:center">5</td>
			<td style="width:120px"><span style="color:#ff0000">&larr;本年新增</span></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>