<h1><strong>淡江大學德文系課程簡介&nbsp;</strong></h1>

<p>&nbsp;</p>

<p><span style="font-size:16px">本系以語言、人文、實務及跨學科(校必選修)四個領域規劃課程: 大一、大二著重基礎德語的訓練，大三、大四專業進階德語與實務能力的培養。</span></p>

<p><br />
<span style="color:#0000ff"><span style="font-size:16px"><strong>語言：</strong></span></span></p>

<p><span style="font-size:16px">語言課程方面首先著重聽、說、讀能力的培養和提升，進而促進寫和譯的能力，使學生能夠綜合運用與掌握德語，如德語語言練習、德語文法、讀本、會話、翻譯等課程。</span></p>

<p><span style="color:#0000ff"><span style="font-size:16px"><strong>人文：</strong></span></span></p>

<p><span style="font-size:16px">人文課程方面，以豐富學生的德語國家、文化、文學知識，使學生具有一定的人文、跨文化素養，如：德語國家面面觀、德國文化史、文學史、聖經文學、藝術史、戲劇、青少年文學、中德文化比較等課程。</span></p>

<p><span style="color:#0000ff"><span style="font-size:16px"><strong>跨學科：</strong></span></span></p>

<p><span style="font-size:16px">跨學科課程方面讓學生掌握更多、更新其它領域的資訊及知識，如：資訊概論、英文、中國語文能力表達等課程。</span></p>

<p><span style="color:#0000ff"><span style="font-size:16px"><strong>實務：</strong></span></span></p>

<p><span style="font-size:16px">實務課程方面以就業導向為目標，開設學以致用的課程，培養學生的就業專業技能，如：經貿德文、德語貿易實務、德文商業書信、秘書實務、觀光德語、新聞媒體德文等課程。</span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px">各學年度課程地圖</span></p>

<h1><strong>110學年度</strong></h1>

<p><img src="/storage/app/media/German/a6110.jpg" style="height:764px; width:1080px" /></p>

<h1><strong>109學年度</strong></h1>

<h1><img src="/storage/app/media/German/a61091090810.jpg" style="height:764px; width:1080px" /></h1>

<h1>&nbsp;</h1>

<h1><strong>108學年度</strong></h1>

<p><img src="/storage/app/media/German/a6108.jpg" style="height:764px; width:1080px" /></p>

<h1><strong>107學年度</strong></h1>

<p><img src="https://www.tfgx.tku.edu.tw/storage/app/media/German/107%E5%AD%B8%E5%B9%B4%E5%BA%A6%E5%85%A5%E5%AD%B8%E6%96%B0%E7%94%9F%E8%AA%B2%E7%A8%8B%E5%9C%B0%E5%9C%96.jpg" style="height:680px; width:1080px" /></p>

<p>&nbsp;</p>

<h1><strong>106學年度</strong></h1>

<p><img src="https://www.tfgx.tku.edu.tw/storage/app/media/German/106%E5%AD%B8%E5%B9%B4%E5%BA%A6%E8%AA%B2%E7%A8%8B%E5%9C%B0%E5%9C%96.jpg" style="height:566px; width:1080px" /></p>

<p>參考資料:</p>

<ol>
	<li><a href="/storage/app/media/German/a6110.jpg">110學年度入學新生課程地圖</a></li>
	<li><a href="/storage/app/media/German/a61091090810.jpg">109學年度入學新生課程地圖</a></li>
	<li><a href="/storage/app/media/German/a6108.jpg">108學年度入學新生課程地圖</a></li>
	<li><a href="/storage/app/media/107.jpg">107學年度入學新生課程地圖</a></li>
	<li><a href="https://www.tfgx.tku.edu.tw/storage/app/media/German/106%E5%AD%B8%E5%B9%B4%E5%BA%A6%E8%AA%B2%E7%A8%8B%E5%9C%B0%E5%9C%96.jpg">106學年度入學新生</a><a class="fr-file" href="/storage/app/media/uploaded-files/2017-german-course-plan.pdf">課程地圖</a></li>
	<li><a class="fr-file" href="/storage/app/media/uploaded-files/german_course.doc">課程架構圖</a></li>
	<li><a class="fr-file" href="/storage/app/media/uploaded-files/learning-plan.doc">學習地圖</a></li>
</ol>