<p>&nbsp;</p>

<p><span style="font-size:16px"><span style="color:#000000">德文系系友會已成立許久，目前的會長為</span><span style="color:#800080"><strong>張瑞妍學姊</strong></span><span style="color:#000000">(2018-2020)。</span></span></p>

<p><span style="font-size:16px"><span style="color:#000000">系友們平時以Line群組，互通訊息。</span></span><span style="font-size:16px"><span style="color:#000000">系上亦會透過Line群組事實傳遞學校與系上的大小事。</span></span></p>

<p>&nbsp;</p>

<p><img src="https://www.tfgx.tku.edu.tw/storage/app/media/German/2019-21.jpg" style="height:533px; width:400px" /></p>

<p><span style="color:#000000"><span style="font-size:16px">照片中左邊為前任系友會會長王新財學長(66級)；右邊則為現任會長張瑞妍學姐(98級)</span></span></p>

<p>&nbsp;</p>

<p><span style="color:#0000ff"><strong><span style="font-size:16px">德文系系友line群組QR-code</span></strong></span></p>

<p><img src="https://www.tfgx.tku.edu.tw/storage/app/media/German/%E6%B7%A1%E6%B1%9F%E5%BE%B7%E6%96%87%E5%A4%A7%E5%B0%8F%E4%BA%8Bline%E7%BE%A4%E7%B5%84.jpg" style="height:200px; width:200px" /></p>

<p>&nbsp;</p>

<p><span style="color:#0000ff"><strong><span style="font-size:16px">德文系Facebook粉絲專頁</span></strong></span></p>

<p><img src="https://www.tfgx.tku.edu.tw/storage/app/media/German/%E5%BE%B7%E6%96%87%E7%B3%BB%E8%87%89%E6%9B%B8%E7%B2%89%E7%B5%B2%E5%B0%88%E6%A5%ADQR%20code.jpg" style="height:200px; width:200px" /></p>