<p>&nbsp;</p>

<p><span style="font-size:18px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>【110學年度第一學期學長姐輔導】</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:16px">各位同學，本學期的學長姐輔導開始囉~歡迎同學把握練習德語的機會！</span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:16px">活動名稱：德文系學長姐輔導</span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:16px">活動地點：<span style="color:#006400"><strong>FL117 (Deutsche Ecke)</strong></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:16px">活動時間：請於google表單內預約時段</span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:16px">輔導人：<strong><span style="color:#0000ff">葉于潔學姐</span></strong></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:16px">預約表單連結：<a href="https://docs.google.com/document/d/105_6DvZe9pOrKprJ1eHGh4WkgKka4nVzJMa6HC7JCfI/edit">https://docs.google.com/document/d/105_6DvZe9pOrKprJ1eHGh4WkgKka4nVzJMa6HC7JCfI/edit</a></span></span></p>

<p>&nbsp;</p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:16px"><u><strong>注意事項：</strong></u></span></span></p>

<p dir="ltr"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:16px">1. 學長姐輔導採預約制，<strong>請務必最晚於前一天完成預約。</strong></span></span></p>

<p dir="ltr"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:16px">2. 預約可採單人或小組的方式，小組不得超過3人。</span></span></p>

<p dir="ltr"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:16px">3. 每次輔導時間為<span style="color:#0000ff"><strong>30分鐘。</strong></span></span></span></p>

<p dir="ltr"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:16px">4. 請同學們每次最多先以預約<span style="color:#ff0000"><strong>三次</strong></span>為原則，</span></span><span style="font-size:16px">若輔導當日後續都沒有同學預約，則可以再繼續填寫時間。</span></p>

<p dir="ltr"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:16px">6. 結束後請記得維持環境的整潔，垃圾記得帶走，冷氣以及電腦記得關機，留給下一位使用者乾淨的環境。</span></span></p>

<p dir="ltr"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:16px">7.&nbsp;</span></span><span style="color:#ff0000"><span style="font-size:16px"><strong>因應嚴重特殊呼吸道肺炎疫情，請同學們輔導時<u>務必配戴口罩</u>，並使用酒精消毒消毒雙手。</strong></span></span></p>