<p>&nbsp;</p>

<p><span style="font-family:Comic Sans MS,cursive"><span style="font-size:16px">為了讓同學期中考能夠考到理想的成績，</span></span></p>

<p><span style="font-size:16px"><span style="font-family:Comic Sans MS,cursive">助教將提供</span><strong>8</strong></span><span style="font-family:Comic Sans MS,cursive"><span style="font-size:16px"><strong>小時</strong>的課後輔導時數，請有需要的同學把握機會唷。</span></span></p>

<p dir="ltr">&nbsp;</p>

<p dir="ltr"><span style="font-size:16px"><span style="font-family:Comic Sans MS,cursive"><strong>時間：12/10、12/17、12/24、1/7，17:30-19:30</strong></span></span></p>

<p dir="ltr"><span style="font-size:16px"><span style="font-family:Comic Sans MS,cursive"><strong><span style="color:#000000">助教：</span><span style="color:#ee82ee">Annette</span></strong></span></span></p>

<p dir="ltr"><span style="font-size:16px"><span style="font-family:Comic Sans MS,cursive"><strong>輔導內容：大一文法+讀本</strong></span></span></p>

<p dir="ltr"><span style="font-size:16px"><span style="font-family:Comic Sans MS,cursive"><strong>地點：E302教室</strong></span></span></p>

<p>&nbsp;</p>

<p dir="ltr">&nbsp;</p>

<p>&nbsp;</p>

<p dir="ltr"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:16px"><span style="color:#ff0000"><strong>注意事項：</strong></span></span></span></p>

<p dir="ltr"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:16px"><span style="color:#000000">1. </span></span></span><span style="font-family:Comic Sans MS,cursive"><span style="font-size:16px"><span style="color:#000000">請</span><strong><span style="color:#008000">務必事先跟助教登記</span></strong><span style="color:#000000">上課，以便助教準備上課教材</span></span></span></p>

<p dir="ltr"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:16px"><span style="color:#000000">2. </span></span></span><span style="font-family:Comic Sans MS,cursive"><span style="font-size:16px"><span style="color:#000000">為了保有輔導品質，每次輔導人數<u><strong>以不超過15人為原則</strong></u></span></span></span></p>

<p dir="ltr"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:16px"><span style="color:#000000">3. </span></span></span><span style="font-family:Comic Sans MS,cursive"><span style="font-size:16px"><span style="color:#000000">參加輔導請同學</span><span style="color:#0000cd"><u><strong>務必攜帶Studio 21 A1課本+Intensivtraining來上課</strong></u></span><span style="color:#000000">。上課內容主要是幫同學加強複習或讓同學問問題。</span></span></span></p>

<p dir="ltr"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:16px"><span style="color:#000000">4.</span></span></span><span style="font-family:Comic Sans MS,cursive"><span style="font-size:16px"><span style="color:#000000"> 每次輔導完皆須簡易填寫回饋單給學校，請同學務必要記得填寫唷！</span></span></span><br />
&nbsp;</p>

<p dir="ltr"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:16px"><span style="color:#000000"><strong>回饋單網址：<a href="https://reurl.cc/8nxKbM">https://reurl.cc/8nxKbM</a></strong></span></span></span></p>

<p dir="ltr">&nbsp;</p>

<p dir="ltr"><img src="/storage/app/media/German/dqrcode1091.png" style="height:100px; width:100px" /></p>

<div id="e-masthead-padding">
<div id="e-content-container">
<div id="e-content">
<div id="e-content-inner">
<div id="e-contentpanel-container">
<div id="e-contentpanel">
<div id="e-form-65D5815BFB14802F482583BE002279F4-4">
<div id="e-bodydiv-65D5815BFB14802F482583BE002279F4-4">
<div id="e-65D5815BFB14802F482583BE002279F4-4-form-content-outer">
<div id="e-65D5815BFB14802F482583BE002279F4-4-form-content">
<div id="e-65D5815BFB14802F482583BE002279F4-4-body-outer">
<div id="e-65D5815BFB14802F482583BE002279F4-4-bodyinner">
<div dir="ltr" id="e-65D5815BFB14802F482583BE002279F4-4-body">
<p>&nbsp;</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<p dir="ltr">&nbsp;</p>