<h3><img src="https://www.tfgx.tku.edu.tw/storage/app/media/German/logo.png" /></h3>

<div id="pages_area">
<div id="editor"><img src="/storage/app/media/German/%E5%BE%B7%E6%96%87%E7%B3%BB%E5%93%81%E8%B3%AA%E5%B1%8B%E6%9C%80%E7%B5%82%E7%89%88.jpg" style="height:424px; width:600px" /></div>
</div>