<p><span style="font-size:16px">德語特區(Deutsche Ecke)位於外語大樓一樓<span style="color:#ff0000"><strong>FL117</strong></span>室，為德文系專用活動室。</span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px">德語特區的使用方式有以下三種：</span></p>

<p><span style="font-size:16px"><span style="color:#0000ff"><strong>1. 專任教師駐區時間：</strong></span></span></p>

<p><span style="font-size:16px">每學期，每位專任教師每週固定駐區一小時，為同學解答課業上的疑惑或諮詢生涯規劃。</span></p>

<p><span style="font-size:16px">教師駐區的時間表於每學期初公布，<u>請同學至系辦公室FL507填寫預約表單。</u></span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px"><span style="color:#0000ff"><strong>2. 學長姐課業輔導：</strong></span></span></p>

<p><span style="font-size:16px">自102學年度起，每學期安排成績優異的學長姐來輔導學弟妹課業問題。</span></p>

<p><span style="font-size:16px">學長姐課業輔導時間表於每學期初公布，<u>請同學至線上表單填寫預約單。</u></span></p>

<p><span style="font-size:16px"><img alt="heart" src="https://www.tfgx.tku.edu.tw/plugins/anandpatel/wysiwygeditors/formwidgets/editor/assets/ckeditor/plugins/smiley/images/heart.png" style="height:23px; width:23px" title="heart" />預約表單：<a href="https://docs.google.com/document/d/105_6DvZe9pOrKprJ1eHGh4WkgKka4nVzJMa6HC7JCfI/edit">https://docs.google.com/document/d/105_6DvZe9pOrKprJ1eHGh4WkgKka4nVzJMa6HC7JCfI/edit</a></span><br />
&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-size:16px"><span style="color:#0000ff"><strong>3. 德籍交換生語言交流：</strong></span></span></p>

<p><span style="font-size:16px">每學期視外籍生至本校交流情形，適時安排語言交流時段，供同學與外籍生進行語言交流。</span></p>

<p><span style="font-size:16px">外籍生課業輔導時間表於每學期初公布，<u>請同學至線上表單填寫預約單。</u></span></p>

<p><span style="font-size:16px"><img alt="heart" src="https://www.tfgx.tku.edu.tw/plugins/anandpatel/wysiwygeditors/formwidgets/editor/assets/ckeditor/plugins/smiley/images/heart.png" style="height:23px; width:23px" title="heart" />預約表單：</span><span style="font-size:16px"><a href="https://docs.google.com/document/d/1pEW1iUVJXroKiaBhLCIjOpK29b6e0scNY4r-MJsSYoo/edit">https://docs.google.com/document/d/1pEW1iUVJXroKiaBhLCIjOpK29b6e0scNY4r-MJsSYoo/edit</a></span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>