<p>&nbsp;</p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">The study of German language, literature and culture expands the horizon of students and make them qualified for many professions. The TKU German department provides a wide subject from German language, culture to commercial and politics.&nbsp;</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">The department offers Bachelor of Arts degree. From school year 107 an, students must collect 128 credits in 4 years and pass the CFER B1 test.</span></span></p>

<p>&nbsp;</p>

<p><span style="color:#0000cd"><strong><span style="font-family:Georgia,serif"><span style="font-size:18px">Rule for study in German Department:</span></span></strong></span></p>

<p style="margin-left:14.0pt"><span style="font-family:Georgia,serif"><span style="font-size:18px">1. Duration of study: 4 years and 128 credits that is 66 credits for obligatory subjects and at least 20 credits for choice subjects of the German department. The others credits are set for subjects of Liberal of Arts and subjects from other field.</span></span></p>

<p style="margin-left:14.0pt"><span style="font-family:Georgia,serif"><span style="font-size:18px">2. Certificate of CFER German B1, FLPT German B1 test or similar German test, and TOEIC 550 (at least) is required.</span></span></p>

<p>&nbsp;</p>

<p><span style="color:#006400"><strong><span style="font-family:Georgia,serif"><span style="font-size:18px">The major subjects consist of:</span></span></strong></span></p>

<p><strong><span style="font-family:Georgia,serif"><span style="font-size:18px">Basic Majors:</span></span></strong></p>

<ul>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Elementary German Grammar 4/4</span></span></li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Elementary German Reading 4/4</span></span></li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Intermediate German Grammar 2/2</span></span></li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Intermediate German Reading 4/4</span></span></li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">German Listening Comprehension I-II 2/2-1/1</span></span></li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">History of German Literature I 2/2</span></span></li>
</ul>

<p><strong><span style="font-family:Georgia,serif"><span style="font-size:18px">Core Majors:</span></span></strong></p>

<ul>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">German Conversation I-III &nbsp;2/2*3</span></span></li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">German Composition I-III&nbsp; 2/2*3</span></span></li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">German Translation I &nbsp;2/2</span></span></li>
</ul>

<p><strong><span style="font-family:Georgia,serif"><span style="font-size:18px">Extend Majors</span></span></strong></p>

<ul>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">History of German Literature II&nbsp; 2/2</span></span></li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Introduction to German Linguistics&nbsp; 2/0</span></span></li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Advanced German Conversation&nbsp; 0/2</span></span>&nbsp;</li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Advanced German Translation &nbsp;2/2</span></span></li>
</ul>

<p>&nbsp;</p>

<p><span style="color:#006400"><strong><span style="font-family:Georgia,serif"><span style="font-size:18px">Elective Major in three fields:</span></span></strong></span></p>

<p><strong><span style="font-family:Georgia,serif"><span style="font-size:18px">A.&nbsp; Literature and Culture</span></span></strong></p>

<ul>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Introduction to germanophone Countries&nbsp; 0/2</span></span></li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Introduction to German Culture&nbsp; 2/0</span></span></li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Chinses and German Culture Comparison &nbsp;0/2</span></span></li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">The Selected German Short Stories&nbsp; 2/2</span></span></li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">German Selected Reading&nbsp; 2/2</span></span></li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">German Drama &nbsp;2/2</span></span></li>
</ul>

<p>&nbsp;</p>

<p><strong><span style="font-family:Georgia,serif"><span style="font-size:18px">B. German Politics</span></span></strong></p>

<ul>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Political System of Germany&nbsp; 2/0</span></span></li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Germany and the European Union &nbsp;0/2</span></span>&nbsp;</li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Media in German &nbsp;0/2</span></span></li>
</ul>

<p>&nbsp;</p>

<p><strong><span style="font-family:Georgia,serif"><span style="font-size:18px">C. Applied German</span></span></strong></p>

<ul>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Business German&nbsp; 2/0</span></span></li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">German for Tourism 0/2</span></span></li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">German on Workplace 0/2</span></span></li>
	<li><span style="font-family:Georgia,serif"><span style="font-size:18px">Chinses- German Interpreting 2/0</span></span></li>
</ul>

<p>&nbsp;</p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">2021/8/19</span></span></p>