<p><span style="color:#0000cd"><span style="font-size:22px"><strong><span style="font-family:Times New Roman,Times,serif">Abteilungsprofil</span></strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-family:Times New Roman,Times,serif"><span style="font-size:18px">Die deutsche Abteilung wurde im Jahr 1963 als eine deutsche Sektion unter der Abteilung der Fremdsprachen und Literatur eingerichtet. Im Jahr 1975 war die deutsche Sektion erlaubt, auf den Abteilungsstatus auszubauen, d.h. sie kann eigene Lehrende und Mitarbeiter*innen einstellen. Die deutsche Abteilung zielte urspr&uuml;nglich darauf, den Studierende hohe deutsche Sprachkompetenz und Kenntnisse beizubringen, damit sie f&uuml;r die Berufsfelder in der Diplomatie und in dem internationalen Handel qualifiziert werden.</span></span></p>

<p>&nbsp;</p>

<p><span style="font-family:Times New Roman,Times,serif"><span style="font-size:18px">Seit dem Jahr 1994 bietet die Abteilung eine M&ouml;glichkeit (Juinor Abroad Program) ins Ausland bzw. nach Deutschland zu gehen. Jedes Jahr werden etwa 20 Studierende in die Universit&auml;t Bonn in Deutschland geschickt, um ihre Sprachkompetenz f&uuml;r ein Jahr lang zu vertiefen. Dar&uuml;ber hinaus schickt die Abteilung seit 2000 gem&auml;&szlig; dem Internationalisierung-Programm der TKU f&uuml;nf Austauschstudierenden nach Deutschland, an der Universit&auml;t Bonn, K&ouml;ln oder M&uuml;nchen f&uuml;r ein Jahr zu studieren. Au&szlig;erdem bietet die Abteilung eine M&ouml;glichkeit f&uuml;r alle Studierenden, die Sprachkurse im Sommer an den deutschen Universit&auml;ten zu besuchen und die deutsche Kultur vor Ort zu erleben.</span></span></p>

<p>&nbsp;</p>

<p><span style="font-family:Times New Roman,Times,serif"><span style="font-size:18px">Die Abteilung bietet vielf&auml;ltige Lehrpl&auml;ne, damit die Studierenden die folgenden F&auml;higkeiten erwerben k&ouml;nnen:</span></span></p>

<p>&nbsp;</p>

<ol style="list-style-type:lower-alpha">
	<li><span style="font-family:Times New Roman,Times,serif"><span style="font-size:18px">F&auml;higkeiten zum Sprechen und H&ouml;ren auf dem Niveau B1 nach CFER</span></span></li>
	<li><span style="font-family:Times New Roman,Times,serif"><span style="font-size:18px">F&auml;higkeiten zum Lesen und Schreiben auf dem Niveau B1 nach CFER</span></span></li>
	<li><span style="font-family:Times New Roman,Times,serif"><span style="font-size:18px">F&auml;higkeiten zur &Uuml;bersetzung von Deutsch ins Chinesische</span></span></li>
	<li><span style="font-family:Times New Roman,Times,serif"><span style="font-size:18px">Kompetente Fachkenntnisse der deutschen Literatur und Kultur</span></span></li>
	<li><span style="font-family:Times New Roman,Times,serif"><span style="font-size:18px">F&auml;higkeiten zum Selbstlernen, Sammeln und Analysieren der deutschen Materialien, und zum Pr&auml;sentieren</span></span></li>
</ol>

<p>&nbsp;</p>

<p><span style="font-family:Times New Roman,Times,serif"><span style="font-size:18px">Ein Professor, sechs Assistant Professor*innen und 12 teilzeitige wissenschaftliche Mitarbeiter*innen gew&auml;hrleisten ein umfassendes und vielf&auml;ltiges Studiensprogramm. Alle vollzeitige Lehrenden haben ihre Doktortitel an der deutschen Universit&auml;ten erworben, und ihre akademischen Forschungsschwerpunkte reichen von Deutsche Literatur, Linguistik &uuml;ber Sinologie, bis zur Politikwissenschaft. Die 12 wissenschaftliche Mitarbeiter*innen haben meistens ihre Master an der deutschen Universit&auml;ten erworben.</span></span></p>

<p>&nbsp;</p>

<p><span style="color:#ff0000"><span style="font-size:22px"><strong><span style="font-family:Times New Roman,Times,serif">Leitung der Abteilung</span></strong></span></span></p>

<p><span style="font-family:Times New Roman,Times,serif"><span style="font-size:18px">1963.08-1966.10&nbsp;&nbsp;&nbsp; Mr. Hsu Che-Chih</span></span></p>

<p><span style="font-family:Times New Roman,Times,serif"><span style="font-size:18px">1966.10-1972.07&nbsp;&nbsp;&nbsp; Mr. Liu Shih-Hsiang</span></span></p>

<p><span style="font-family:Times New Roman,Times,serif"><span style="font-size:18px">1972.08-1978.27&nbsp;&nbsp;&nbsp; Mr. Tao Wei, M.A.</span></span></p>

<p><span style="font-family:Times New Roman,Times,serif"><span style="font-size:18px">1978.08-1982.07&nbsp;&nbsp;&nbsp; Mr. Hsiao Shih-Shiung</span></span></p>

<p><span style="font-family:Times New Roman,Times,serif"><span style="font-size:18px">1982.08-1990.07&nbsp;&nbsp;&nbsp; Prof. Dr. Chung Ying-Yen</span></span></p>

<p><span style="font-family:Times New Roman,Times,serif"><span style="font-size:18px">1990.08-1994.07&nbsp;&nbsp;&nbsp; Prof. Dr. Kuo Chiu-Ching</span></span></p>

<p><span style="font-family:Times New Roman,Times,serif"><span style="font-size:18px">1994.08-2000.07&nbsp;&nbsp;&nbsp; Prof. Dr. Lai Li-Hsiu</span></span></p>

<p><span style="font-family:Times New Roman,Times,serif"><span style="font-size:18px">2000.08-2006.07&nbsp;&nbsp;&nbsp; Prof. Dr. Roland Bednarsch</span></span></p>

<p><span style="font-family:Times New Roman,Times,serif"><span style="font-size:18px">2006.08-2010.07&nbsp;&nbsp;&nbsp; Mrs. Wei Jung-Chih M.A.</span></span></p>

<p><span style="font-family:Times New Roman,Times,serif"><span style="font-size:18px">2010.08-2016.07&nbsp;&nbsp;&nbsp; Prof. Dr. Chung Ying-Yen</span></span></p>

<p><span style="font-family:Times New Roman,Times,serif"><span style="font-size:18px">2016.08-&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Prof. Dr. Wu, Wan-Bau</span></span></p>