<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:253px">
			<p>&nbsp; <strong><span style="font-size:20px">大三德文翻譯A (商用翻譯)</span></strong></p>
			</td>
			<td style="width:454px">
			<p>&nbsp;</p>

			<p>商用德文翻譯內容為翻譯一般德語商業術語，學生必須理解貿易或交易的特殊用語，並且學習精簡正確的翻譯。</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:253px">
			<p>&nbsp; <span style="font-size:20px"><strong>大三德文翻譯B (一般翻譯)</strong></span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:454px">
			<p>&nbsp;</p>

			<p>學習德語翻譯，必須有一周詳計劃，然後才能達到學生寫與譯的能力。本課程著重在解決翻譯方面的問題及分析翻譯方面典型的困難點。</p>

			<p>本課程讓學生學習從中文翻譯成德文的方法。將給學生極多的範例和練習題。</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:253px">
			<p>&nbsp; <span style="font-size:24px"><strong>德文商業書信</strong></span></p>
			</td>
			<td style="width:454px">
			<p>德文商業書信分為「一般商務書信」及「進出口貿易商業書信」兩 類。本學期以一般商務書信類為主題，同學將認識一般德文商務交 流情境，如企業對內對外及國際商務活動，並練習書寫四到五封企業對內及對外溝通書信以及模擬一般國際商務情境溝通流程。</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:253px">
			<p>&nbsp; <strong><span style="font-size:24px">新聞媒體德文</span></strong></p>
			</td>
			<td style="width:454px">
			<p>本課程將介紹德國媒體的結構和內容，同時也帶領學生對台灣的媒體 &nbsp; 有更進一步的了解。</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:253px">
			<p><strong><span style="font-size:24px">&nbsp; 經貿德語</span></strong></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:454px">
			<p>本課程學生將獲取以下幾個面向的商用德語能力：</p>

			<p>(1)各類商務實況、企業型 態、組織及功能</p>

			<p>(2)重點產業及產品基本字彙，以及時下國際經貿時事。</p>

			<p>(3)透過經貿類文章及實況對話增 進商用德語方面的聽、</p>

			<p>說、讀、寫之能力，此外學生將按老師訂定的主題進行分組書面及口說簡報。</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:253px">
			<p>&nbsp;<strong><span style="font-size:24px"> 觀光德語</span></strong></p>
			</td>
			<td style="width:454px">
			<p>德國是歐洲重要國家，許多德國文化遺產深具特色，並豐富了我們現代的生 活，本課程將利用視聽教學的方式，帶領您學習赴德觀光時實用的德文用語，以 探索德國的不同風貌，並讓您深入瞭解德國文化的美。</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:253px">
			<p>&nbsp;<strong><span style="font-size:24px"> 法律德語入門</span></strong></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:454px">
			<p>介紹德國的法律制度、司法體系、各種與商業行為有密切關係的契約 &nbsp; 法、公司 法、產品責任法、歐洲聯盟法等。</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:253px">
			<p>&nbsp;<strong> <span style="font-size:24px">科技德語入門</span></strong></p>

			<p>&nbsp;</p>
			</td>
			<td style="width:454px">
			<p>○ 課程簡介： 透過閱讀文章與網站資訊，學習與高科技相關的德語詞彙，並藉此進一步了解德 國高科技產業，尤其是工業4.0。</p>

			<p>○ 教學目標： (1)學習與認識科技德語詞彙(2)了解德國科技產業內容</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:253px">
			<p>&nbsp; <strong><span style="font-size:26px">中德口譯</span></strong></p>
			</td>
			<td style="width:454px">
			<p>&nbsp;</p>

			<p>聽、說、讀、寫向來是學習外語所必須具備的基本能力，但處於現今「資訊無國界」的世代，外語學習者一定還要再加上「譯」的功力，方能在日後肩負「溝通 橋樑」的工作，並且勝任愉快。本課程以實務訓練為主，內容包括：課堂簡易逐步口譯練習、現場播放短片口譯練習、分組模擬各種場景口譯練習等。課程以德譯中為練習 重點，但亦時有中譯德之練習，以便學習者兼具雙向溝通的能力。</p>

			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<p>*更多詳細課程資訊請詳課程查詢系統。</p>

<p>&nbsp;</p>