<p><span style="color:#ff0000"><span style="font-size:36px"><samp><strong>淡江德文系110學年度</strong></samp></span></span></p>

<p><span style="color:#0000ff"><samp><span style="font-size:28px"><strong>導師名單</strong></span></samp></span></p>

<p><samp><span style="font-size:28px">大一： 鄭慧君&nbsp; &nbsp;老師</span></samp></p>

<p><samp><span style="font-size:28px"><span style="color:#fff0f5">大一：</span>&nbsp;林郁嫺&nbsp; &nbsp;老師</span></samp></p>

<p><samp><span style="font-size:28px">大二： 顏徽玲&nbsp; &nbsp;老師</span></samp></p>

<p><samp><span style="font-size:28px">大三： 張秀娟&nbsp; &nbsp;老師</span></samp></p>

<p><samp><span style="font-size:28px">大四： 施侯格&nbsp;&nbsp; 老師</span></samp></p>