<p><span style="font-size:18px"><span style="color:#0000ff"><strong>【107學年度第二學期 德語文教學論壇】</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px">時間：108年6月5日(星期三)&nbsp;</span></p>

<p><span style="font-size:16px">地點：淡水校園外語大樓1樓FL106會議室</span></p>

<p><span style="font-size:16px">主持人：吳萬寶<span style="font-family:Georgia,serif">&nbsp;</span>(淡江大學系主任暨外語學院院長)</span></p>

<p><span style="font-size:16px">主講學者：</span></p>

<p><span style="font-size:16px"><span style="font-family:Georgia,serif">嚴家仁&nbsp; &nbsp;副教授&nbsp;</span>(文化大學)</span></p>

<p><span style="font-size:16px"><span style="font-family:Georgia,serif">鄭惠芬&nbsp; &nbsp;助理教授&nbsp;</span>(輔仁大學)</span></p>

<p><span style="font-size:16px"><span style="font-family:Georgia,serif">謝碧娥&nbsp; &nbsp;助理教授</span>&nbsp;(文藻外語大學)</span></p>

<p><span style="font-size:16px"><span style="font-family:Georgia,serif">徐韻婷&nbsp; &nbsp;講師</span>&nbsp;(淡江大學)&nbsp;</span></p>

<p><img src="https://www.tfgx.tku.edu.tw/storage/app/media/German/IMG_9599.jpg" style="height:467px; width:700px" /></p>

<p><img src="https://www.tfgx.tku.edu.tw/storage/app/media/German/IMG_9655.jpg" style="height:467px; width:700px" /></p>

<p>&nbsp;</p>

<p><span style="font-size:18px"><span style="color:#0000ff"><strong>【104學年度第二學期 德語會話教學論壇】</strong></span></span></p>

<p><span style="font-size:16px"><span style="font-family:Georgia,serif"><strong>Forum &uuml;ber deutschen Konversationsunterricht in Taiwan</strong></span></span></p>

<p><span style="font-size:16px">德國語文學系「2015德語會話教學論壇」</span></p>

<p><span style="font-size:16px">時間：104年5月20日(星期三)&nbsp;</span></p>

<p><span style="font-size:16px">地點：淡水校園外語大樓4樓FL411會議室</span></p>

<p><span style="font-size:16px">主持人：<span style="font-family:Georgia,serif">Holger Steidele </span>(淡江大學)</span></p>

<p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:16px">參加學者：</span></span></p>

<p><span style="font-size:16px">Monika Leipelt-Tsai </span><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:16px">(政治大學)</span></span></p>

<p><span style="font-size:16px">Ingeborg Sachs </span><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:16px">(台北歌德學院)</span></span></p>

<p><span style="font-size:16px">Dieter Latzenberger&nbsp;</span><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:16px">(台北歌德學院)</span></span></p>

<p><span style="font-size:16px">Ingo Tarum (</span><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:16px">文藻外語大學)&nbsp;</span></span></p>

<p><img src="/storage/app/media/cropped-images/104-62-58-3488-2628-1532236400.jpg" style="height:603px; width:800px" /></p>

<p>&nbsp;</p>

<p><span style="font-size:18px"><span style="color:#0000ff"><strong>【103學年度第2學期 德語會話教學論壇 】</strong></span></span></p>

<p>&nbsp;</p>

<p><img src="/storage/app/media/cropped-images/Forum_Konversation-01-172-106-2070-1542-1532235868.jpg" style="height:596px; width:800px" /></p>