<p><span style="font-size:20px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></span></p>

<p><span style="font-size:20px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 109</strong><strong>學年度大三出國申請辦法</strong></span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px;">&nbsp; &nbsp; &nbsp;請利用寒假時間與家人討論，並於開學第一週準備出國所需資料並自行注意繳件時間，逾時不候。</span></p>

<ul>
	<li><span style="font-size:16px;"><strong>申請學海飛颺</strong><strong>、</strong><strong>學海惜珠及築夢獎學金，系辦收件截止時間：&nbsp;</strong><span style="color:#0000ff;"><strong>2020</strong><strong>年</strong><strong>3</strong><strong>月9</strong><strong>日(星期一)中午</strong><strong>12</strong><strong>點</strong></span></span></li>
</ul>

<p style="margin-left:14.2pt;"><span style="font-size:16px;">(請自行確認好申請所需物件並將所有資料置於一透明L型資料夾內後再繳件)</span></p>

<p>&nbsp;</p>

<ul>
	<li><span style="font-size:16px;"><strong>大三出國申請流程：</strong></span></li>
</ul>

<ol style="list-style-type:upper-alpha;">
	<li><span style="font-size:16px;">收件者：德文系系辦公室／助教</span></li>
	<li><strong><span style="color:#ff0000;"><span style="font-size:16px;">收件截止時間：2020年2月25日(二) 17點</span></span></strong></li>
	<li><span style="font-size:16px;">申請所需資料：</span></li>
</ol>

<ol>
	<li><strong><span style="font-size:16px;">成績計算單(請使用系上公布之表單，並務必註明系級、學號和姓名)</span></strong></li>
	<li><strong><span style="font-size:16px;">歷年成績單正本一份(請至行政大樓投幣申請)</span></strong></li>
</ol>

<p>&nbsp;</p>

<ul>
	<li><span style="color:#006400;"><strong><span style="font-size:16px;">錄取名單公告：2020年3月12日(四) 12點</span></strong></span></li>
</ul>

<p>&nbsp;</p>

<p><span style="font-size:16px;">☆<strong>平均成績計算步驟：</strong></span></p>

<p><span style="font-size:16px;">1. &nbsp;於歷年成績單正本圈選出大一上至大二上學期德文系<span style="color:#008000;"><strong><u>必選修</u></strong></span>各科成績&nbsp;<span style="color:#ff0000;">(<strong><u>讀本、文法、語練、會話和作文為必修科目</u></strong>)&nbsp;</span>，並將成績填入成績計算單內<span style="color:#0000cd;"><strong>(請用word檔編輯，勿用手寫)</strong></span>。選修科目，請自行於表格內增補或刪除。必修科目如缺少成績，該科成績請以0分計。</span></p>

<p><span style="font-size:16px;">2. &nbsp;(該科成績×該科學分)+(該科成績×該科學分)…÷ 總學分數=平均成績(小數點後第2位)；可參考下方成績計算範例。</span></p>

<p><span style="font-size:16px;"><strong>範例：</strong></span></p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td colspan="4" style="width:225px;"><span style="font-size:16px;">大一上</span></td>
			<td colspan="4" style="width:199px;"><span style="font-size:16px;">大一下</span></td>
			<td colspan="4" style="width:227px;"><span style="font-size:16px;">大二上</span></td>
		</tr>
		<tr>
			<td style="width:102px;"><span style="font-size:16px;">科目</span></td>
			<td style="width:38px;"><span style="font-size:16px;">學分</span></td>
			<td style="width:38px;"><span style="font-size:16px;">分數</span></td>
			<td style="width:47px;"><span style="font-size:16px;">學分x分數</span></td>
			<td style="width:76px;"><span style="font-size:16px;">科目</span></td>
			<td style="width:38px;"><span style="font-size:16px;">學分</span></td>
			<td style="width:38px;"><span style="font-size:16px;">分數</span></td>
			<td style="width:47px;"><span style="font-size:16px;">學分x分數</span></td>
			<td style="width:104px;"><span style="font-size:16px;">科目</span></td>
			<td style="width:38px;"><span style="font-size:16px;">學分</span></td>
			<td style="width:38px;"><span style="font-size:16px;">分數</span></td>
			<td style="width:47px;"><span style="font-size:16px;">學分x分數</span></td>
		</tr>
		<tr>
			<td style="width:102px;"><span style="font-size:16px;">初級讀本</span></td>
			<td style="width:38px;"><span style="font-size:16px;">4</span></td>
			<td style="width:38px;"><span style="font-size:16px;">75</span></td>
			<td style="width:47px;"><span style="font-size:16px;">300</span></td>
			<td style="width:76px;"><span style="font-size:16px;">初級讀本</span></td>
			<td style="width:38px;"><span style="font-size:16px;">4</span></td>
			<td style="width:38px;"><span style="font-size:16px;">75</span></td>
			<td style="width:47px;"><span style="font-size:16px;">300</span></td>
			<td style="width:104px;"><span style="font-size:16px;">中級讀本</span></td>
			<td style="width:38px;"><span style="font-size:16px;">4</span></td>
			<td style="width:38px;"><span style="font-size:16px;">75</span></td>
			<td style="width:47px;"><span style="font-size:16px;">300</span></td>
		</tr>
		<tr>
			<td style="width:102px;"><span style="font-size:16px;">初級文法</span></td>
			<td style="width:38px;"><span style="font-size:16px;">4</span></td>
			<td style="width:38px;"><span style="font-size:16px;">75</span></td>
			<td style="width:47px;"><span style="font-size:16px;">300</span></td>
			<td style="width:76px;"><span style="font-size:16px;">初級文法</span></td>
			<td style="width:38px;"><span style="font-size:16px;">4</span></td>
			<td style="width:38px;"><span style="font-size:16px;">80</span></td>
			<td style="width:47px;"><span style="font-size:16px;">320</span></td>
			<td style="width:104px;"><span style="font-size:16px;">中級文法</span></td>
			<td style="width:38px;"><span style="font-size:16px;">2</span></td>
			<td style="width:38px;"><span style="font-size:16px;">75</span></td>
			<td style="width:47px;"><span style="font-size:16px;">150</span></td>
		</tr>
		<tr>
			<td style="width:102px;"><span style="font-size:16px;">語練(一)</span></td>
			<td style="width:38px;"><span style="font-size:16px;">2</span></td>
			<td style="width:38px;"><span style="font-size:16px;">80</span></td>
			<td style="width:47px;"><span style="font-size:16px;">160</span></td>
			<td style="width:76px;"><span style="font-size:16px;">語練(一)</span></td>
			<td style="width:38px;"><span style="font-size:16px;">2</span></td>
			<td style="width:38px;"><span style="font-size:16px;">80</span></td>
			<td style="width:47px;"><span style="font-size:16px;">160</span></td>
			<td style="width:104px;"><span style="font-size:16px;">德文作文(一)</span></td>
			<td style="width:38px;"><span style="font-size:16px;">2</span></td>
			<td style="width:38px;"><span style="font-size:16px;">80</span></td>
			<td style="width:47px;"><span style="font-size:16px;">160</span></td>
		</tr>
		<tr>
			<td style="width:102px;"><span style="font-size:16px;">會話(一)</span></td>
			<td style="width:38px;"><span style="font-size:16px;">2</span></td>
			<td style="width:38px;"><span style="font-size:16px;">80</span></td>
			<td style="width:47px;"><span style="font-size:16px;">160</span></td>
			<td style="width:76px;"><span style="font-size:16px;">會話(一)</span></td>
			<td style="width:38px;"><span style="font-size:16px;">2</span></td>
			<td style="width:38px;"><span style="font-size:16px;">80</span></td>
			<td style="width:47px;"><span style="font-size:16px;">160</span></td>
			<td style="width:104px;"><span style="font-size:16px;">語練(二)</span></td>
			<td style="width:38px;"><span style="font-size:16px;">1</span></td>
			<td style="width:38px;"><span style="font-size:16px;">85</span></td>
			<td style="width:47px;"><span style="font-size:16px;">85</span></td>
		</tr>
		<tr>
			<td style="width:102px;"><span style="font-size:16px;">德語國家面面觀</span></td>
			<td style="width:38px;"><span style="font-size:16px;">2</span></td>
			<td style="width:38px;"><span style="font-size:16px;">85</span></td>
			<td style="width:47px;"><span style="font-size:16px;">170</span></td>
			<td style="width:76px;">&nbsp;</td>
			<td style="width:38px;">&nbsp;</td>
			<td style="width:38px;">&nbsp;</td>
			<td style="width:47px;">&nbsp;</td>
			<td style="width:104px;"><span style="font-size:16px;">會話(二)</span></td>
			<td style="width:38px;"><span style="font-size:16px;">2</span></td>
			<td style="width:38px;"><span style="font-size:16px;">80</span></td>
			<td style="width:47px;"><span style="font-size:16px;">160</span></td>
		</tr>
		<tr>
			<td style="width:102px;">&nbsp;</td>
			<td style="width:38px;">&nbsp;</td>
			<td style="width:38px;">&nbsp;</td>
			<td style="width:47px;">&nbsp;</td>
			<td style="width:76px;">&nbsp;</td>
			<td style="width:38px;">&nbsp;</td>
			<td style="width:38px;">&nbsp;</td>
			<td style="width:47px;">&nbsp;</td>
			<td style="width:104px;"><span style="font-size:16px;">德國文化史</span></td>
			<td style="width:38px;"><span style="font-size:16px;">2</span></td>
			<td style="width:38px;"><span style="font-size:16px;">85</span></td>
			<td style="width:47px;"><span style="font-size:16px;">170</span></td>
		</tr>
		<tr>
			<td style="width:102px;">&nbsp;</td>
			<td style="width:38px;">&nbsp;</td>
			<td style="width:38px;">&nbsp;</td>
			<td style="width:47px;">&nbsp;</td>
			<td style="width:76px;">&nbsp;</td>
			<td style="width:38px;">&nbsp;</td>
			<td style="width:38px;">&nbsp;</td>
			<td style="width:47px;">&nbsp;</td>
			<td style="width:104px;"><span style="font-size:16px;">聖經選讀</span></td>
			<td style="width:38px;"><span style="font-size:16px;">2</span></td>
			<td style="width:38px;"><span style="font-size:16px;">83</span></td>
			<td style="width:47px;"><span style="font-size:16px;">166</span></td>
		</tr>
		<tr>
			<td style="width:102px;"><span style="font-size:16px;">學期總學分</span></td>
			<td colspan="3" style="width:123px;"><span style="font-size:16px;"><strong>14</strong></span></td>
			<td style="width:76px;"><span style="font-size:16px;">學期總學分</span></td>
			<td colspan="3" style="width:123px;"><span style="font-size:16px;"><strong>12</strong></span></td>
			<td style="width:104px;"><span style="font-size:16px;">學期總學分</span></td>
			<td colspan="3" style="width:123px;"><span style="font-size:16px;"><strong>15</strong></span></td>
		</tr>
	</tbody>
</table>

<p><span style="font-size:16px;">(300+300+160+160+170)+(300+320+160+160)+(300+150+160+85+160+170+166)÷(14+12+15)=<br> &nbsp;(1090+940+1191)÷41= 3221÷41= <strong><u>78.56</u></strong></span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px;">★ 注意事項：</span></p>

<ol>
	<li><span style="font-size:16px;">寒假期間請務必跟家長討論出國相關的事項，相關資訊可詳見系網頁「大三出國留學專區」，並告知請家長需準備之金額。(註：109學年度波昂大學JYP交換計劃費用為<span style="color:#ff0000;"><strong>11,200歐元</strong></span>)</span></li>
	<li><span style="font-size:16px;">4-5月份需辦理「財力證明-限制提領帳戶」要備齊<span style="color:#008000;"><strong>10,236歐元</strong></span>，以利後續順利辦理簽證等相關手續。</span></li>
</ol>

<p>&nbsp;</p>

<p><span style="font-size:16px;"><strong>若有不了解的地方，可於寒假前親洽系辦或於寒假期間來信</strong><span style="color:#0000ff;"><strong>ger@mail.tku.edu.tw</strong></span></span></p>

<p>&nbsp;</p>

<p><span style="color:#000000;"><span style="font-size:16px;"><strong>*&nbsp;</strong></span><strong><span style="font-size:16px;">平均成績計算表單</span></strong><span style="font-size:16px;"><strong>下載連結：</strong></span></span><span style="font-size:16px;"><a href="http://www.tfgx.tku.edu.tw/german/opinion/10/2820">http://www.tfgx.tku.edu.tw/german/opinion/10/2820</a></span></p>