<h2><span style="font-size:22px"><strong>【核心能力】</strong></span></h2>

<p><span style="font-size:16px">&nbsp;<br />
本系之學生核心能力乃以系教育目標為本，參照校之教育宗旨與院之核心能力，依據德語之發展與應用趨勢，考量業界之變化與需求，訂定本系學生四年學習後所應具備的五項核心能力:</span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px">1. 具備德語基本能力:聽說讀寫達歐語能力標準B1</span></p>

<p><span style="font-size:16px">2. 德語的翻譯能力</span></p>

<p><span style="font-size:16px">3. 德語語言學、文化、文學知識</span></p>

<p><span style="font-size:16px">4. 具備基本的商務德文知識</span></p>

<p><span style="font-size:16px">5. 具備自主學習、蒐集、分析與報告德文資料的能力</span></p>

<p>&nbsp;</p>

<p><img src="/storage/app/media/German/%E5%BE%B7%E6%96%87%E7%B3%BB%E5%93%81%E8%B3%AA%E5%B1%8B%E6%9C%80%E7%B5%82%E7%89%88.jpg" style="height:424px; width:600px" /></p>