<p><span style="color:#000000"><span style="font-size:16px"><img src="https://www.tfgx.tku.edu.tw/storage/app/media/German/IMG_3676.jpg" style="height:600px; width:800px" /></span></span></p>

<p><span style="color:#0000cd"><strong><span style="font-size:18px">2019/12/11 德文系學術上午茶</span></strong></span></p>

<p><span style="color:#000000"><span style="font-size:18px">主題：Vorstellung des Buchs:&ldquo;Tat twan asi-Das bist du&ldquo;</span></span></p>

<p><span style="color:#000000"><span style="font-size:18px">演講者：Holger Steidele</span></span></p>