<p>&nbsp;</p>

<p><span style="font-size:22px"><strong><span style="font-family:Georgia,serif">Admission</span></strong></span></p>

<p><span style="font-size:18px"><span style="font-family:Georgia,serif">The German department offers every year 60 places for local high-school students to study. The foreign high-school students can also study German language at Tamkang university, but they have another way to entrance. Every year the department offers few places for the students who want go to study at Tamkang university and to experience different campus culture.</span></span></p>

<p>&nbsp;</p>

<p><span style="color:#0000cd"><strong><span style="font-size:18px"><span style="font-family:Georgia,serif">1. For the local students there are three ways to study at German department:</span></span></strong></span></p>

<ul>
	<li><span style="font-size:18px"><span style="font-family:Georgia,serif">Selection program in the High-School</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Georgia,serif">application by High-School students</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Georgia,serif">University Entrance examination</span></span></li>
</ul>

<p><span style="color:#0000cd"><strong><span style="font-size:18px"><span style="font-family:Georgia,serif">2. For the university changer: exams are required.</span></span></strong></span></p>

<ul>
	<li><span style="font-size:18px"><span style="font-family:Georgia,serif">For the sophomore: Chinese and English exam</span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Georgia,serif">For the junior: German grammar in middle level and German writing exam</span></span></li>
</ul>

<p style="margin-left:38.25pt"><span style="font-size:18px"><span style="font-family:Georgia,serif">Here the link: <a href="https://adms.tku.edu.tw/">https://adms.tku.edu.tw/</a></span></span></p>

<p><span style="color:#0000cd"><strong><span style="font-size:18px"><span style="font-family:Georgia,serif">3. For the foreign students there are two ways to study at German department:</span></span></strong></span></p>

<ul>
	<li><span style="font-size:18px"><span style="font-family:Georgia,serif">application by foreign High-School students at University Entrance Committee for Oversea Chinese Students, here the link: <a href="https://cmn-hant.overseas.ncnu.edu.tw/node/49">https://cmn-hant.overseas.ncnu.edu.tw/node/49</a></span></span></li>
	<li><span style="font-size:18px"><span style="font-family:Georgia,serif">application by foreign High-School students at Tamkang University, here the link: <a href="http://english.tku.edu.tw/StudyinTKU.asp">http://english.tku.edu.tw/StudyinTKU.asp</a></span></span></li>
</ul>