<p><strong><span style="font-family:Georgia,serif"><span style="font-size:20px">【110學年度第一學期外籍生輔導】</span></span></strong></p>

<p>&nbsp;</p>

<p><span style="color:#0000ff"><span style="font-size:16px"><strong>感謝來自德國科隆大學的交換生</strong></span></span><span style="font-family:Georgia,serif"><span style="color:#0000ff"><span style="font-size:16px"><strong>Marleen和Irena願意提供同學練習德文的機會!</strong></span></span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:16px">本學期的外籍生輔導終於開始囉~歡迎同學把握練習德語的機會！</span></span></p>

<p>&nbsp;</p>

<p><span style="font-family:Georgia,serif"><span style="font-size:16px">活動名稱：Deutsche Ecke</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:16px">活動地點：FL117</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:16px">活動時間：請於google表單內預約時段</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:16px">主講人：Marleen Marcinczyk 雛梅琳 / Irena&nbsp;Tzeng</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:16px">預約表單連結：<a href="https://docs.google.com/document/d/1pEW1iUVJXroKiaBhLCIjOpK29b6e0scNY4r-MJsSYoo/edit">https://docs.google.com/document/d/1pEW1iUVJXroKiaBhLCIjOpK29b6e0scNY4r-MJsSYoo/edit</a></span></span></p>

<p>&nbsp;</p>

<p><u><strong><span style="font-size:16px">注意事項：</span></strong></u></p>

<p dir="ltr"><span style="font-size:16px"><span style="font-family:Georgia,serif">1. 外籍生輔導採預約制，<strong>請務必最晚於前一天完成預約。</strong>輔導當日非不可避免之情形，不得任意取消預約或失約，若有此類情事發生，將取消本學期輔導資格。</span></span></p>

<p dir="ltr"><span style="font-size:16px"><span style="font-family:Georgia,serif">2. 預約可採單人或小組的方式，小組不得超過4人。<strong>若同一時段已有單人同學預約，請勿於同一時段重複預約。</strong></span></span></p>

<p dir="ltr"><span style="font-size:16px"><span style="font-family:Georgia,serif">3. 每次輔導時間為<span style="color:#0000ff"><strong>30分鐘</strong></span>，若後面沒有同學預約，前一組同學得繼續延長輔導時間。</span></span></p>

<p><span style="font-size:16px"><span style="font-family:Georgia,serif">4. 每位同學每學期最多先以預約<strong>五次</strong>為原則，若當日都沒有同學預約，則可以於輔導前一天再繼續登記時間。(一次預約超過5次者，助教將自動刪除多於次數)</span></span></p>

<p dir="ltr"><span style="font-size:16px"><span style="font-family:Georgia,serif">5. <strong>登記方式請務必寫清楚姓名與系級，例如：</strong><span style="color:#ff0000"><strong>王曉明(德文三)&nbsp;</strong></span></span></span></p>

<p><span style="font-size:16px"><span style="font-family:Georgia,serif">6. 輔導主題不限，但不可以請外籍生協助批改作業或協助寫作業。</span></span></p>

<p dir="ltr"><span style="font-size:16px"><span style="font-family:Georgia,serif">7. 結束後請記得維持環境的整潔，垃圾記得帶走，冷氣以及電腦記得關機，留給下一位使用者乾淨的環境。</span></span></p>

<p dir="ltr">&nbsp;</p>