<h1>&nbsp;</h1>

<h1>2018年傑出系友-王新財學長 (66級)</h1>

<p>&nbsp;</p>

<p><span style="color:#000000"><span style="font-size:16px">&nbsp; &nbsp; 新財學長自淡江畢業與服完兵役後，通過英語面試，進入中日電熱公司從事業務工作。德語和國貿輔系為王學長帶來加分作用，進入公司因會說德語不久即升任業務經理，後經常往來德國。在德國因緣際會認識美國通用公司客戶，回台後自行創業。先是創立貿易公司，後轉進生產製造業。與通用公司建立生意往來，代為生產汽車零配件。在學長的經營之下，聞祺企業穩健成長，走出一片藍天。聞祺企業的主要產品:汽車配件、變壓器、逆變電源、車室加溫器等。</span></span></p>

<p><span style="color:#000000"><span style="font-size:16px">&nbsp;&nbsp; 王學長除了經營企業外，因來自屏東，曾捐助屏東縣各國小，購買活動器材。2016年，新財學長擔任德文系系友會會長，對凝聚系友向心力與促進系友情誼不餘遺力，除捐款守謙國際會議中心外，並大力贊助系友會年終聚餐活動。新財會長勉勵淡江學弟妹要腳踏實地，利用淡江絕佳的外語環境，多充實，努力培養競爭力。</span></span></p>

<p>&nbsp;</p>

<p><img src="https://www.tfgx.tku.edu.tw/storage/app/media/German/%E7%8E%8B%E6%96%B0%E8%B2%A1.jpg" /></p>