<p><strong>德文輔系修讀學分一覽表</strong></p>

<p>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
			<p>科　目　名　稱</p>
			</td>
			<td>
			<p>開課年級</p>
			</td>
			<td>
			<p>學分數　&times;　學期數</p>
			</td>
			<td>
			<p>每週上課時數</p>
			</td>
		</tr>
		<tr>
			<td>德語語言練習（一）</td>
			<td>
			<p>德文一</p>
			</td>
			<td>
			<p><strong>2</strong>　&times;　2</p>
			</td>
			<td>
			<p><strong><u>4</u></strong>（包含2小時實習課）</p>
			</td>
		</tr>
		<tr>
			<td>初級德文（文法）</td>
			<td>
			<p>德文一</p>
			</td>
			<td>
			<p>4　&times;　2</p>
			</td>
			<td>
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td>初級德文（讀本）</td>
			<td>
			<p>德文一</p>
			</td>
			<td>
			<p>4　&times;　2</p>
			</td>
			<td>
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td>德語會話（一）</td>
			<td>
			<p>德文一</p>
			</td>
			<td>
			<p>2　&times;　2(自107學年度起)</p>
			</td>
			<td>
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td>　學分總計</td>
			<td colspan="3">
			<p><strong>24</strong></p>
			</td>
		</tr>
	</tbody>
</table>

<p>德語會話(一)原開課學分數為(4/4)學分，106學年度以前申請本系輔系或雙主修學生，</p>

<p>如需重、補修該課程，請加修德文系選修課程補足學分數。</p>

<p>&nbsp;</p>