<h1>&nbsp;</h1>

<h1><span style="font-size:26px">2022-2023年赴英歐組姊妹校交換生聯合甄選作業簡章</span></h1>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-size:16px"><strong>一、申請日期</strong>：自<strong><span style="color:#ff0000">110年11月24日至108年12月28日（星期三）下午5時止</span>。</strong><strong>(請留意系辦收件截止時間)</strong>。</span></p>

<p><span style="font-size:16px"><strong>系辦收件截止日期: <span style="color:#ff0000">110年12月7日下午5時止</span></strong></span></p>

<p><span style="font-size:16px">欲申請之同學，請依簡章內規定將申請表及相關資料於申請時間內送至系辦，逾期恕不受理。<br />
<em><img alt="enlightened" src="https://www.tfgx.tku.edu.tw/plugins/anandpatel/wysiwygeditors/formwidgets/editor/assets/ckeditor/plugins/smiley/images/lightbulb.png" title="enlightened" /></em></span><span style="color:#0000ff"><span style="font-size:14px"><em>繳交資料規定：資料不超過16頁，單面列印，並請統一以A4格式製作（成績單及語言能力證明可用原格式），依序整理，不必裝訂，以單層L型塑膠講義套送件 (資料不齊全者不予受理)。</em></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px"><strong>二、交換生聯合甄選說明會：110年11月1日 18:00</strong><br />
淡水校園報名網址:&nbsp;<a href="http://enroll.tku.edu.tw/course.aspx?cid=AUIX20211101" title="http://enroll.tku.edu.tw/course.aspx?cid=AUIX20211101(在本視窗開啟)">http://enroll.tku.edu.tw/course.aspx?cid=AUIX20211101</a></span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px"><strong>三、德文檢定成績：<span style="color:#008000">須達A2以上成績</span></strong>。(德語組之德文語言檢定成績證明，可先持德文語言檢定應考證明代替，再於109年1月補交成績證明文件，面試前未取得A2成績者，只得列為備取生，如有缺額再依序遞補。)</span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px"><strong>四、業務承辦人：</strong></span></p>

<p><span style="font-size:16px">歐、美、大洋洲：謝文彬</span><span style="font-size:16px">，分機2002。</span></p>

<p>&nbsp;</p>

<p><strong><span style="font-size:16px">五、相關連結：</span></strong></p>

<p><span style="font-size:16px">簡章下載：<a href="http://www.tfgx.tku.edu.tw/german/opinion/9/2412">http://www.tfgx.tku.edu.tw/german/opinion/10/5274</a></span></p>

<p><span style="font-size:16px">國際處網頁：<a href="http://www.oieie.tku.edu.tw/zh_tw/students/learning1/plane1">http://www.oieie.tku.edu.tw/zh_tw/students/learning1/plane1</a></span></p>

<p>&nbsp;</p>

<p><!--![endif]----></p>