<table align="left" border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="background-color:#e25041">
			<p><strong>1</strong><strong>　</strong></p>
			</td>
			<td>Easy German&nbsp;街頭德語系列</td>
			<td><strong><a href="https://www.youtube.com/channel/UCbxb2fqe9oNgglAoYqsYOtQ">https://www.youtube.com/channel/UCbxb2fqe9oNgglAoYqsYOtQ</a></strong></td>
		</tr>
		<tr>
			<td style="background-color:#e25041">
			<p><strong>2</strong><strong>　</strong></p>
			</td>
			<td>Learn German with GermanPod101.com<br />
			&nbsp;</td>
			<td><a href="https://www.youtube.com/channel/UCTobWZV_HWGSoaRrhHyrJ-A">https://www.youtube.com/channel/UCTobWZV_HWGSoaRrhHyrJ-A</a></td>
		</tr>
		<tr>
			<td style="background-color:#e25041">
			<p><strong>3</strong><strong>　</strong></p>
			</td>
			<td>100個好記實用的德文形容詞</td>
			<td><a href="https://www.youtube.com/watch?v=KdhTg2l-iuw">https://www.youtube.com/watch?v=KdhTg2l-iuw</a></td>
		</tr>
		<tr>
			<td style="background-color:#e25041">
			<p><strong>4</strong><strong>　</strong></p>
			</td>
			<td>100 Common German Verbs - Part 1</td>
			<td><a href="https://www.youtube.com/watch?v=_Leaxp8jrYA">https://www.youtube.com/watch?v=_Leaxp8jrYA</a></td>
		</tr>
		<tr>
			<td style="background-color:#e25041; vertical-align:middle">
			<p><strong>5</strong><strong>　</strong></p>
			</td>
			<td>Speaksli 動畫聯想學德語</td>
			<td><a href="https://www.youtube.com/user/Speaksli/videos">https://www.youtube.com/user/Speaksli/videos</a></td>
		</tr>
	</tbody>
</table>

<table align="left" border="1" cellpadding="0" cellspacing="0" class="oc-alternate-rows oc-dashed-borders">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="background-color:#2c82c9; text-align:justify; vertical-align:middle">
			<p style="text-align:center">6</p>
			</td>
			<td>Julien Bam(Youtuber)</td>
			<td><a href="https://www.youtube.com/user/JulienBam">https://www.youtube.com/user/JulienBam</a></td>
		</tr>
		<tr>
			<td style="background-color:#2c82c9; text-align:justify; vertical-align:middle">
			<p>&nbsp; &nbsp;7<strong>　</strong></p>
			</td>
			<td>Dagi bee</td>
			<td><a href="https://www.youtube.com/user/Dagibeee">https://www.youtube.com/user/Dagibeee</a></td>
		</tr>
		<tr>
			<td style="background-color:#2c82c9; text-align:justify; vertical-align:middle">
			<p>&nbsp; &nbsp;8</p>
			</td>
			<td>Get Germanized</td>
			<td><a href="https://www.youtube.com/channel/UCesZBmRS6IgZ3uuiB8RdX0A">https://www.youtube.com/channel/UCesZBmRS6IgZ3uuiB8RdX0A</a></td>
		</tr>
		<tr>
			<td style="background-color:#2c82c9; text-align:justify; vertical-align:middle">
			<p>&nbsp; &nbsp;9</p>
			</td>
			<td>Die drei Hauptmahlzeiten in Deutschland</td>
			<td><a href="https://www.youtube.com/watch?v=CEPc34FAFS0">https://www.youtube.com/watch?v=CEPc34FAFS0</a></td>
		</tr>
		<tr>
			<td style="background-color:#2c82c9; text-align:justify; vertical-align:middle">
			<p>&nbsp; 10</p>
			</td>
			<td><a href="https://www.youtube.com/channel/UCOY3VWW4NGQAue_rqTBtdhA">SPACE RADIO</a>&nbsp;(B2)</td>
			<td><a href="https://www.youtube.com/user/SpaceFrogsRadio">https://www.youtube.com/user/SpaceFrogsRadio</a></td>
		</tr>
		<tr>
			<td style="background-color:#2c82c9; text-align:justify; vertical-align:middle">
			<p>&nbsp; 11</p>
			</td>
			<td>Hallo Deutschschule (德文自學課程)</td>
			<td><a href="https://www.youtube.com/channel/UC5ZnpdkQIit8TWhGVDiDnQQ">https://www.youtube.com/channel/UC5ZnpdkQIit8TWhGVDiDnQQ</a></td>
		</tr>
		<tr>
			<td style="background-color:#2c82c9; text-align:justify; vertical-align:middle">
			<p>&nbsp; 12</p>
			</td>
			<td>extr@ auf Deutsch</td>
			<td><a href="https://www.youtube.com/watch?v=iGovllrEsF8&amp;list=PLRps6yTcWQbpoqIOCmqMeI1HLnLIRmO_t">https://www.youtube.com/watch?v=iGovllrEsF8&amp;list=PLRps6yTcWQbpoqIOCmqMeI1HLnLIRmO_t</a></td>
		</tr>
		<tr>
			<td style="background-color:#2c82c9; text-align:justify; vertical-align:middle">
			<p>&nbsp; 13</p>
			</td>
			<td>ZDF德國第二電台(青少年)</td>
			<td><a href="https://www.zdf.de/kinder">https://www.zdf.de/kinder</a></td>
		</tr>
	</tbody>
</table>