<p>&nbsp;</p>

<h2><span style="font-size:22px">【漢堡遊學團】<span style="color:#ff0000"><strong>2020梯次因新冠肺炎疫情影響，取消辦理。</strong></span></span><br />
<span style="font-family:Georgia,serif">Universit&auml;t Hamburg Sommerkurs</span></h2>

<p><img src="/storage/app/media/1200px-UHH-Logo_2010_Farbe_CMYK.svg.png" style="height:195px; width:600px" /></p>

<p><br />
<s><span style="font-size:18px"><span style="color:#0000ff"><strong>2020年漢堡遊學團報名時間：3/10~3/24至系辦找大助登記</strong></span></span></s></p>

<p>&nbsp;</p>

<p><span style="font-size:16px">漢堡遊學團說明如下:<br />
<br />
1. 名額：原則上10位(視每年人數變動)，<u><strong><span style="color:#ff0000">依報名先後錄取</span></strong></u>。<br />
2. 報名須填寫包含<strong>護照姓名</strong>、<strong>聯絡方式</strong>、<strong>中英文住址、聯絡人中英文姓名</strong><br />
&nbsp; &nbsp; 等，並請攜帶<span style="color:#008000"><strong>大頭照電子檔</strong></span>。<br />
3. 費用：1500歐元(不含旅遊費)+參加同學需共同負擔帶隊老師的機票費。<br />
4. 相關課程海報目前尚未收到，待收到後會公告在系辦布告欄，歡迎前來參閱。<br />
--------------------------------------------------------------------------------</span><br />
&nbsp;</p>

<p><span style="font-size:18px"><strong>【課程簡介】</strong></span></p>

<p><br />
<span style="font-size:16px">1. <s><strong>課程時間: 2020/8/1-8/31</strong></s></span></p>

<p><br />
<span style="font-size:16px">2. 費用:1500歐元(另加上老師機票費用)<br />
(費用包含宿舍、教材、遊覽及漢堡市區月票)<br />
<br />
3. 課程內容：<br />
<br />
- 著重精進口說能力<br />
- 國情概括課程(文化、政治與日常生活等)<br />
- 文化研習活動(呂北克市遊覽+戲劇及音樂欣賞)<br />
- 每兩位同學配有一名漢堡大學輔導員負責</span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>