<h1>&nbsp;</h1>

<h1>2017年傑出系友-梁榮堯學長</h1>

<p>&nbsp;</p>

<p><span style="color:#000000"><span style="font-size:16px">&nbsp; &nbsp; 系友梁榮堯先生深感外國友人來台觀光需要系統及合理性的台灣旅遊單位，於中華民國76年7月創立開發旅行社。而後陸續成立永恆旅行社、至品旅行社，併購一榮旅行社等，為開發旅遊集團奠定雛型。在台灣開放大陸人士來台觀光後，也成立了二間專營陸客的旅行社。三年前，為振興高雄觀光產業，毅然決然在高雄成立一間好地方飯店。至此，正式成立開發旅遊集團。秉持深耕台灣的精神，系友梁榮堯先生帶領著開發旅遊集團競競業業努力至今，已在台灣的外客來台旅遊中占有20%的來客數。雖然未來仍需努力，但相信開發旅遊集團能在系友梁榮堯先生的帶領下，繼續為台灣的外客來台觀光創造另一個里程碑。</span></span></p>

<p><span style="color:#000000"><span style="font-size:16px">&nbsp;&nbsp;&nbsp; 系友梁榮堯先生不僅事業有成，更對回饋母系不遺餘力。每年皆會慨然捐款母系，支持系學會活動。105年且捐款守謙兩塊2萬磚。系友梁榮堯先生的熱心實值得效法。</span></span></p>

<p>&nbsp;</p>

<p><img src="https://www.tfgx.tku.edu.tw/storage/app/media/German/%E6%A2%81%E6%A6%AE%E5%A0%AF.jpg" style="height:667px; width:500px" /></p>