<p><strong><span style="font-size:22px"><span style="font-family:Georgia,serif">Studienaufbau</span></span></strong></p>

<p>&nbsp;</p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">Der Studiengang besteht aus 7 Pflichtmodulen und 3 Wahlbereichen</span></span></p>

<p>&nbsp;</p>

<p><span style="color:#0000cd"><strong><span style="font-family:Georgia,serif"><span style="font-size:18px">Pflichtmodulen:</span></span></strong></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Deutsche Grammatik I-II</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Deutsches Leseverstehen I-II</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Deutsche Konversation I-III</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Deutsches H&ouml;rverstehen I-II</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Deutsches Schreiben I-III</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; &Uuml;bersetzung I-II</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Deutsche Literatur I</span></span></p>

<p>&nbsp;</p>

<p><span style="color:#0000cd"><strong><span style="font-family:Georgia,serif"><span style="font-size:18px">Wahlpfbereich:</span></span></strong></span></p>

<p>&nbsp;</p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">Wahlbereich I: Kultur und Literatur</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Einf&uuml;hrung in die deutsche, &ouml;sterreichische und schweizerische Landeskunde und Kulturwissenschaft</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Einf&uuml;hrung in die deutschen Kultur</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Vergleich der deutschen und chinesischen Kultur</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Deutsche Kurzgeschichte</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Deutsche Literatur II</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Einf&uuml;hrung in die Linguistik</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Deutsches Theater</span></span></p>

<p>&nbsp;</p>

<p><span style="color:#0000cd"><strong><span style="font-family:Georgia,serif"><span style="font-size:18px">Wahlbereich II</span></span></strong></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Deutschland und Europ&auml;ische Union</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Regierung und Politik Deutschlands</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Medien in Deutschland</span></span></p>

<p>&nbsp;</p>

<p><span style="color:#0000cd"><strong><span style="font-family:Georgia,serif"><span style="font-size:18px">Wahlbereich III</span></span></strong></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Einf&uuml;hrung ins Dolmetschen</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Gesch&auml;ftsdeutsch</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Deutsch im Tourismus</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Deutsche Konversation f&uuml;r Fortgeschrittene</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Deutsch am Arbeitsplatz</span></span></p>

<p><span style="font-family:Georgia,serif"><span style="font-size:18px">&bull;&nbsp;&nbsp; Grammatische &Uuml;bung</span></span></p>