description = "學院活動"
==
<h2 class="index_title right_title">
    <span class="title_tw">活動走廊</span>
    <span class="title_en">Events</span>
</h2>
<div class="area_layout eqh-2">
    <div class="event_slider">
        <div class="owl-carousel owl-theme">
            {% for item in site.activity_links %}
            <div class="item">
                <div class="owl_img_block">
                    <a href="{{item.url}}" target="{{item.link_target|default('_self')}}" title="{{item.title}}">
                        <span class="owl_img">
                            <img class="owl-lazy" data-src="{{item.picture | media | resize(250)}}" alt="event_slider">
                        </span>
                        <span class="owl_overlay"></span>
                    </a>
                </div>
            </div>
            {% endfor %}
         </div>
    </div>
</div>