description = "網站首頁"
==
<?php
function onStart(){
    //trace_log($newsMenu);
}
?>
==
<section class="section_bg clearfix">
    <div class="container bg_white">
        <div class="row">
            <div class="menu_slider">
                {% partial layout_folder ~ '/special_topic' links=site.shortcut_links%}
            </div>
        </div>
        <p class="index_location">頁面位置：首頁</p>
        <div class="row relative">
            <div class="col-md-8 col-lg-9">
                {% partial layout_folder ~ '/top_news' %}
                {% partial layout_folder ~ '/news_list' %}
            </div>
            <div class="col-md-4 col-lg-3 fixed_height">
                {% partial layout_folder ~ '/activity_list' %}
                {% partial layout_folder ~ '/video_news' %}
            </div>
        </div>
        <div class="row relative">
            <div class="col-md-8 col-lg-9 clearfix">
                {% partial layout_folder ~ '/topics' links=site.recommand_links%}
            </div>
            <div class="col-md-4 col-lg-3">
                {% partial 'college_map' %}
            </div>
        </div>
    </div>
</section>
<section class="snap">
    {% partial layout_folder ~ '/snap' links=site.snap_links%}
</section>