description = "新聞內容"
==
<?php
use Morelink\Web\Models\News;
function onStart() {
    $size = $this['size'];
    $menu = $this['select_menu'];
    $locale = $this['locale'];
    $this['more']=\Config::get("morelink.web::language.".$locale.".more");
    $this['newsList'] = News::where("menu_id",$menu->id)->orderBy('top','desc')->orderBy("start_date","desc")->orderBy("id","desc")->take($size)->get();
    if($this['newsList']->isEmpty()){
         $this['newsList'] = News::whereIn("menu_id",$menu->children()->lists("id"))->orderBy('top','desc')->orderBy("start_date","desc")->orderBy("id","desc")->take($size)->get();
    }
}
?>
==
{% for news in newsList %}
<div class="row">
    <div class="col-sm-8 col-lg-9 post_title">
        <a href="{{news.menu.linkHref~'/'~news.id}}">{{news.title}}</a>
    </div>
    <div class="col-sm-4 col-lg-3 post_note clearfix"><span>{{news.start_date|date('Y-m-d')}}</span><span>{{news.menu.title}}</span></div>
</div>
{% endfor %}
<p class="tab_more"><a href="{{select_menu.linkHref}}"  title="{{more ~ select_menu.title}}" ><img src="{{'assets/images/arrow_right.png'|theme}}" class="animated" alt="arrow_right">{{more ~ select_menu.title}}</a></p>