description = "客制化相對選單"
==
<div class="side_menu dp_table_cell enlarge-sm">
    <div class="panel-group" id="side_menu_tab" role="tablist" aria-multiselectable="true">
        
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="head_01">
                <h4 class="panel-title">
                    <a class="" role="button" data-toggle="collapse" data-parent="#side_menu_tab" href="#item_01" aria-expanded="true" aria-controls="item_01">最新消息</a>
                </h4>
            </div>
            <div id="item_01" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true" aria-labelledby="head_01">
                <div class="panel-body">
                    <ul class="sub_menu">
                        <li class="has_sub">
                            <a href="#">發刊源起</a>
                            <ul class="sub_menu2" style="margin-bottom: -135px; position: static; transition: all 0.3s ease-in-out;">
                                <li class=""><a href="#" title="行政人員" target="_self">行政人員</a></li>
                                <li class=""><a href="#" title="成立緣起" target="_self">成立緣起</a></li>
                                <li class=""><a href="#" title="傳統與創新" target="_self">傳統與創新</a></li>
                            </ul>
                        </li>
                        <li class=""><a href="#" title="教育目標" target="_self">教育目標</a></li>
                        <li class=""><a href="#" title="專業能力指標" target="_self">專業能力指標</a></li>
                        <li class=""><a href="#" title="相關法規" target="_self">相關法規</a></li>
                        <li class=""><a href="#" title="教學設備" target="_self">教學設備</a></li>
                        <li class=""><a href="#" title="學生資訊" target="_self">學生資訊</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>