description = "學院頭條報導"

[menunews]
maxItems = 1
site = 2
newsPage = 222
==
<h2 class="index_title">
    <span class="title_tw">頭條報導</span>
    <span class="title_en">Headline News</span>
    <a href="#" class="more"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
</h2>
<div class="area_layout eqh-2">
    <div class="heading_news">
        {% for news in menunews.result %}
        <div class="row">
            <div class="col-sm-6">
                <div class="news_slider">
                    <div class="owl-carousel owl-theme">
                        {% for image in news.images %}
                        <div class="item">
                            <div class="owl_img_block">
                                <a href="{{news.menu.linkHref}}/{{news.id}}" title="{{image.description|default(image.title)}}">
                                    <span class="owl_img">
                                        <img class="owl-lazy" data-src='{{image.path}}' alt="slide_img">
                                    </span>
                                    <span class="owl_overlay"></span>
                                </a>
                                <div class="news_img_link">
                                    <span>{{image.title}}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="news_controll playing">
                        <a href="javascript:void(0);" class="news_play"><i class="fa fa-play" aria-hidden="true"></i></a>
                        <a href="javascript:void(0);" class="news_stop"><i class="fa fa-pause" aria-hidden="true"></i></a>
                    </div>   
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="news_title"><a href="{{news.menu.linkHref}}/{{news.id}}">{{news.title}}</a></h3>
                <p class="news_date"><i class="fa fa-calendar" aria-hidden="true"></i>{{news.start_at|date('Y-m-d')}}</p>
                {{str_limit(news.shortMessage, 470, '... 更多!')}}
                <p class="tab_more"><a href="{{news.menu.linkHref}}/{{news.id}}"><img src='{{"assets/#{style}/images/arrow_right.png" |theme}}' class="animated" alt="arrow_right">更多詳細內容</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>